﻿@model ProjectX.API.Models.UserModel
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<link rel="manifest" href="/manifest.json">
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV8FVkncmQBt5K2fzSSLiDCooCXw_1IUE&callback=initMap"></script>*@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaQmkJk-1O7jMw3QsDSCJBNA26fMDX9hs&callback=initMap&libraries=&v=weekly" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<meta name="keywords" content="Escorts, Escorts en monterrey, Escorts en Guadalajara, Escorts en CDMX, Escorts en Cancun, Sexoservicios,  agencia, modelos, exclusivas, buenotas, nalgonas, Independientes, putas, Chicas hermosas, encuentros ">
@*<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>*@

<div class="app-contant">
    <div class="bg-dark">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="login p-50">
                            <div class="text-center mb-4">
                                <a href="~/HomePage"><img src="~/img/logo_sr.png" width="80px" /></a>
                            </div>
                            <h2 class="mb-2 text-center">Iniciar Sesión</h2>
                            <p class="text-center">Bienvenido nuevamente, favor de ingresar sus credenciales.</p>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="mt-3 mt-sm-5">
                                    <div class="row">
                                        <input type="hidden" id="lati" name="lat" />
                                        <input type="hidden" id="long" name="lon" />
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label">Usuario</label>
                                                @(Html.Kendo().TextBoxFor(model => model.UserName).HtmlAttributes(new { type = "text", @class = "form-control", placeholder = "Nombre de usuario", @maxlength = "50", @id = "username", @onblur = "change()" }))
                                                @Html.ValidationMessageFor(m => m.UserName)
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label">Contraseña</label>
                                                @Html.PasswordFor(m => m.Password, new { type = "password", @class = "form-control", placeholder = "Colocar contraseña", @id = "password", @onblur = "change()" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-block d-sm-flex  align-items-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck" onclick="chek()">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Recordar contraseña
                                                    </label>
                                                </div>
                                                @*<div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input" id="rec-pass">
                                                        <label class="form-check-label" for="rec-pass">Recordar contraseña</label>
                                                    </div>*@
                                            </div>
                                        </div>
                                        <div class="col-12 mt-12 mb-10">
                                            <button type="submit" class="btn btn-primary text-uppercase" style="width: 100%;" onclick="setcookie()">Entrar</button>
                                        </div>
                                        <div class="col-12  mt-12">
                                            <p>¿No tienes una cuenta ?</p>
                                            <H3>
                                                <a href="~/CRegistro/CRegistro"> REGÍSTRATE</a>
                                            </H3>
                                        </div>
                                    </div>
                                </div>



                            }


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 bg-sensroom o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var z = Cookies.get("chk") == null || Cookies.get("chk") == "false"  ? false : Cookies.get("chk");
    var x = Cookies.get("User") == null  || Cookies.get("User") == "null" ? "" : Cookies.get("User");
    var y = Cookies.get("Pass") == null || Cookies.get("Pass") == "null" ? "" : Cookies.get("Pass");
    document.getElementById("username").value = x;
    document.getElementById("password").value = y;
    document.getElementById("gridCheck").checked = z;
        function setcookie() { 
            z = Cookies.get("chk");
            if (z == "true") {
                if (x == "" && y == "") {
                    Cookies.set("User", $("#username").val());
                    Cookies.set("Pass", $("#password").val()); 
                }
                else {
                    document.getElementById("username").value = x;
                    document.getElementById("password").value = y;
                }
            }
            else {
                Cookies.set("User", null);
                Cookies.set("Pass", null);               
            }
        }

        function chek() {
            if (document.getElementById("gridCheck").checked) {
                Cookies.set("chk", true);
            }
            else {
                Cookies.set("chk", false);
            }
        }    

    function change() {
        Cookies.set("User", null);
        Cookies.set("Pass", null);     
        x = "";
        y = "";
    } 
</script>

<!--end login contant-->
