﻿@model ProjectX.API.Models.UserModel
@{
    ViewBag.Title = "SensRoom - Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-sensroom.css" />
<link rel="manifest" href="/manifest.json">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV8FVkncmQBt5K2fzSSLiDCooCXw_1IUE&callback=initMap"></script>
<meta name="description" content="SensRoom es una red social enfocada al entretenimiento para adultos. Encuentra perfiles de las chicas mas bellas cerca de tu zona, manda invitación, chatea con ellas, hagan una cita. Los usuarios podrán mandar invitaciones a las personas que se encuentren en línea en ese momento.">
<meta name="keywords" content="Escorts, Escorts en monterrey, Escorts en Guadalajara, Escorts en CDMX, Escorts en Cancun, Sexoservicios,  agencia, modelos, exclusivas, buenotas, nalgonas, Independientes, putas, Chicas hermosas,     , SensRoom encuentros ">
@*<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>*@

<!-- Global site tag (gtag.js) - Google Ads: 764584653 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-764584653"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-764584653');</script>


<body class="is-preload flexfix">

    <div class="main">
        <div class="container" style="align-self:flex-start">
            <div class="col-md-4" style="margin-right:25px">
                <div style="margin-top:25px; line-height:20px;">
                
                    <h4 style="color:#D4AD48">Bienvenido a SensRoom</h4>
                    <p align="left">
                        Aquí encontrarás a las mejores chicas de todo México. Podrás ver quien está cerca de tu ubicación, enviarle mensaje y pasar un buen rato.
                    </p>
                </div>
                <div style=" line-height:20px;">
                    <p align="left" style="color:#D4AD48">
                        ¿Estás de viaje?
                    </p>
                </div>
                <div style=" margin-top:-20px; line-height:20px;">
                    <p align="left">
                       Es la ocasión perfecta para relajarte, da  @Html.ActionLink("click  aquí ", "TIndex", "Muestra", null, new { @class = "form-horizontal", data_toggle = "collapse", data_target = "#loading", @style = "font-weight:bold", })
                        y mira quien está disponible en la ciudad donde te encuentres.

                    </p>
                </div>

                <div class="collapse" id="loading">       <div class="lds-dual-ring"></div></div>

                <div class="modal"><!-- Place at bottom of page --></div>

                @*<div class="embed-responsive embed-responsive-4by3">
            <video controls="controls" preload="none" poster="~/Video/poster.jpg" id="ellos">
                <source src="~/Video/paraellos.mp4" type="video/mp4" />
            </video>
        </div>*@

            </div>
            <br />
            <h4 style="color:#D4AD48">Registro</h4>
            <div class="col-md-4">
                @using (Html.BeginForm("RegistroT", "CRegistro", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Alias" class="control-label">
                                    Elija Usuario
                                </label>
                                <input type="text" class="login-user" id="txtAlias" name="Alias" placeholder="6 a 12 caracteres sin espacios">
                            </div>
                            <div class="form-group">
                                <label for="Pass1" class="control-label">
                                    Ingresa una contraseña
                                </label>
                                <input type="password" class="login-pass" id="Pass1" name="Pass1" placeholder="Ingresar contraseña">
                            </div>
                            <div class="form-group">
                                @*<label for="repass" class="control-label">
                                        Confirmar contraseña
                                    </label>*@
                                <input type="password" class="login-pass" id="Pass2" name="Pass2" placeholder="Confirmar contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="Tyc" id="acepto-terminos" />
                                <label class="form-check-label" for="acepto-terminos" style="font-size:small">
                                    <a href="@Url.Action("tyc", "CRegistro")">Acepto términos y condiciones</a>
                                    @*<a href="http://sens-room.com/TYC.html">Acepto términos y condiciones</a>*@
                                </label>


                            </div>
                        </div>
                        @*<div class="col-md-12" style="visibility:hidden">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="chkcode">
                                <label class="form-check-label" for="chkcode" style="font-size:small">
                                    ¿Cuentas con código?
                                </label>
                            </div>
                        </div>*@
                        <div class="col-md-12">
                            <div id="divCodigo" style="display: none;">
                                <input type="text" name="Codigo" id="txtcodigo" class="login-pass" placeholder="Ingresar código LUXX" />
                            </div>
                            <h6 id="msmVar"></h6>
                            <button type="submit" id="btnreg" class="btn btn-primary" style="width:100%;">Crear cuenta</button><br>

                            <input type="hidden" name="Type" id="hftype" />
                        </div>
                    </div>
                    <br />

                    <!-- Signup Form -->
                }
            </div>
        </div>
    </div>



    <span id="siteseal">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=1XZI6f00JvTRCkpQRzpCnInZaL6FLx2xsvbdAu6RKMDn7QGr0O7p8XxnXnbD"></script>
    </span>


    <script>





        $(document).ready(function () {

            $("#acepto-terminos").click(function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }
            });

            $("#divCodigo").css("display", "none");
            $("#txtcodigo").val(null)

            $("#txtAlias").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/CRegistro/ValidaAlisB',
                    data: { alias: $('#txtAlias').val() },
                    success: function (data) {
                        console.log("alias ", data)
                        if (data == "True") {
                            $("#mensaje").hide();
                            $("#mensaje2").hide();

                        } else {
                            $("#mensaje").html("Alias no disponible");
                            $("#mensaje2").hide();
                            $("#txtAlias").val("");
                            //agrgar tache y limpiar el campo
                        }
                    },
                });
            });

            $("#txtcodigo").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/CRegistro/ValidaCodigo',
                    data: { codigo: $('#txtcodigo').val() },

                    success: function (data) {

                        if (data == 1) {
                            $("#hftype").val(data);
                            $("#msmVar").html("Codigo para obtner una membresia Luxx con 50% de descuento");
                            $("#divtdc").show();

                        } else if (data == 2) {
                            $("#hftype").val(data);
                            $("#msmVar").html("Codigo para ser socio Luxx");

                            //agrgar tache y limpiar el campo
                        }
                        else {
                            $("#hftype").val(null);
                            $("#msmVar").html("error en código");
                        }
                    },
                });
            });

            $("#chkcode").click(function () {

                if ($(this).is(':checked')) {

                    $("#divCodigo").css("display", "block");

                }
                else {
                    $("#divCodigo").css("display", "none");
                    $("#txtcodigo").val(null)

                }
            });
        });


    </script>


