﻿@model ProjectX.API.Models.AlcioneConfigModel
@{
//var tempWeek = (int)TempData["TempWeek"];
//var myArray = (string[])ViewData["passedArray"];
}
@using (Html.BeginForm("Configuracion", "Admin", FormMethod.Post, new { onsubmit = "beforeSubmit(event)" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Errores", new { @class = "text-danger" })
    <div class="jumbotron">
        <h2>Configuración</h2>
        <p class="lead">Aquí podrás configurar los parámetros del app y más.</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    <div>
        @(Html.HiddenFor(m => m.Id))
        <table class="table">
            <tr>
                <td colspan="2" style="padding-left:30%">
                    <b>Catálogo</b>
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.CatalogOffSetMinutes))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.CatalogOffSetMinutes)
                    .Min(3)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    (minutos)
                    @Html.ValidationMessageFor(m => m.CatalogOffSetMinutes)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.EmailJobSeconds))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.EmailJobSeconds)
                    .Min(30)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    (segundos)
                    @Html.ValidationMessageFor(m => m.EmailJobSeconds)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.PageSize))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.PageSize)
                    .Min(10)
                    .Decimals(0)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    AVANZADO (Tamaño de páginas de AX)
                    @Html.ValidationMessageFor(m => m.PageSize)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.PageCount))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.PageCount)
                    .Min(0)
                    .Decimals(0)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    AVANZADO (Cantidad de páginas 0=Todas)
                    @Html.ValidationMessageFor(m => m.PageCount)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:30%">
                    <b>iOS</b>
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.iOSMinVersion))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.iOSMinVersion)
                    .Min(1)
                    .Decimals(4)
                    .HtmlAttributes(new { @style = "width:100px" }))
                    @Html.ValidationMessageFor(m => m.iOSMinVersion)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.iOSStoreUrl))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().TextBoxFor(model => model.iOSStoreUrl)
                    .HtmlAttributes(new { @style = "width:100%" }))
                    @Html.ValidationMessageFor(m => m.iOSStoreUrl)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:30%">
                    <b>Android</b>
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.DroidMinVersion))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.DroidMinVersion)
                    .Min(1)
                    .Decimals(4)
                    .HtmlAttributes(new { @style = "width:100px" }))
                    @Html.ValidationMessageFor(m => m.DroidMinVersion)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.DroidStoreUrl))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().TextBoxFor(model => model.DroidStoreUrl)
                    .HtmlAttributes(new { @style = "width:100%" }))
                    @Html.ValidationMessageFor(m => m.DroidStoreUrl)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:30%">
                    <b>Varios</b>
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.CartExpireHours))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.CartExpireHours)
                    .Min(1)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    (en minutos 24hrs=1440mins)
                    @Html.ValidationMessageFor(m => m.CartExpireHours)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.DeliveryNumDays))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.DeliveryNumDays)
                    .Min(1)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    @Html.ValidationMessageFor(m => m.DeliveryNumDays)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.TaxAmount))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.TaxAmount)
                    .Min(1)
                    .Decimals(2)
                    .HtmlAttributes(new { @style = "width:100px" }))
                    (ejemplo: 16%)
                    @Html.ValidationMessageFor(m => m.TaxAmount)
                </td>
            </tr>
            <tr>
                <td style="width:30%;text-align:right;vertical-align:central">
                    @(Html.DisplayNameFor(m => m.ListNumRecords))
                </td>
                <td style="vertical-align:central">
                    @(Html.Kendo().NumericTextBoxFor(model => model.ListNumRecords)
                    .Min(1)
                    .Format("0")
                    .HtmlAttributes(new { @style = "width:100px" }))
                    @Html.ValidationMessageFor(m => m.ListNumRecords)
                </td>
            </tr>
        </table>

        
    </div>


    <div style="text-align:center">
        <input type="submit" value="Salvar cambios" class="boton_universal" />
    </div>
}

<script>

    function beforeSubmit(e) {


        //alert('e');
            //var CustomerNumber = $("#CustomerId").val()
            //if (CustomerNumber == "0") {
                //e.preventDefault();
            //    alert("Ingrese un cliente");
            //    return;
            //}
    }


</script>
