﻿@model ProjectX.ViewModels.ReportsViewModel

<script>
        kendo.culture("es-MX");
</script>

@using (Html.BeginForm("Reportes", "Admin", FormMethod.Post, new { onsubmit = "beforeSubmit(event)" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Errores", new { @class = "text-danger" })

    <div class="jumbotron">
        <h2>Reportes</h2>
        <p class="lead">Ver estadísticas y más</p>
    </div>
    <div>

        <!--FECHAS-->
        <table class="table">
            <tr>
                <td style="width:30%;text-align:right;vertical-align:bottom">
                    Rango de fecha
                </td>
                <td style="vertical-align:central;">
                    Inicio&nbsp; @(Html.Kendo().DatePickerFor(m => m.StartDate)
           .Value(Model.StartDate)
           .HtmlAttributes(new { style = "width:33%;font-family:Arial;font-size:14px", @type = "text" })
                                    )&nbsp;&nbsp;
                    Fin&nbsp; @(Html.Kendo().DatePickerFor(m => m.EndDate)
              .Value(Model.EndDate)
              .HtmlAttributes(new { style = "width:33%;font-family:Arial;font-size:14px", @type = "text" })
              .Max(DateTime.Now))
                </td>
            </tr>
        </table>

        <!--TIPOS DE REPORTE-->
        <table class="table">
            <tr>
                <td style="width:30%;text-align:center;vertical-align:central" colspan="8">
                    Elige los reportes a generar
                </td>
            </tr>
            <tr>
                <td>@(Html.CheckBoxFor(m => m.showActiveConnections)) Conectados</td>
                <td>@(Html.CheckBoxFor(m => m.showActiveUsers)) Activos </td>
                <td>@(Html.CheckBoxFor(m => m.showSessionRank)) Sesiones</td>
                <td>@(Html.CheckBoxFor(m => m.showActionRank)) Acciones</td>
                <td>@(Html.CheckBoxFor(m => m.showCategoryRank)) Categorías</td>
                <td>@(Html.CheckBoxFor(m => m.showProductRank)) Artículos</td>
                <td>@(Html.CheckBoxFor(m => m.showSerchTermRank)) Búsquedas</td>
                <td>@(Html.CheckBoxFor(m => m.showConversionRank)) Conversiones</td>
            </tr>
            <tr>
                <td colspan="8">
                    <div style="text-align:center">
                        <input type="submit" value="Generar" class="boton_universal" />
                    </div>
                </td>
            </tr>
        </table>

        <!--USUARIOS ACTIVOS QUE COMPRARON POR LO MENOS 1 VES-->
        @if (Model.showActiveUsers)
        {
            <h3>Usuarios Activos</h3>
            <h5>Lista de usuarios que han realizado por lo menos un (1) pedido</h5>
            @(Html.Kendo().Grid<Alcione.ViewModels.ActiveUserViewModel>()
            .Name("grid15")
            .Columns(columns =>
            {
                columns.Bound(e => e.Email).Title("Email").Width(40).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
                columns.Bound(e => e.AXAccount).Title("Cuenta AX").Width(20).HeaderHtmlAttributes(new { @style = "text-align:center" });
                columns.Bound(e => e.TotalOrders).Title("Pedidos realizados").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#"); ;
                columns.Bound(e => e.MinutesAgo).Title("Ultima conexión").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" });
            })
            .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style = "float:right" }))
            .Excel(excel => excel
            .FileName("UsuariosActivos.xlsx")
            .AllPages(true)
            .ProxyURL(Url.Action("GetActiveUsers", "Reports")))
            .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
            .AutoBind(true)
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetActiveUsers", "Reports")
                .Data("additionalInfo")
                )
                .Aggregates(aggregates =>
                {
                    aggregates.Add(p => p.TotalOrders).Sum();
                })
                )



            )
        }


        <!--ACTIVIDAD DE USUARIOS-->
        @if (Model.showActiveConnections)
        {
            <h3>Usuarios Conectados</h3>
            <h5>Lista de usuarios actualmente utilizando el app</h5>
            @(Html.Kendo().Grid<Alcione.ViewModels.ActiveUserViewModel>()
            .Name("grid1")
            .Columns(columns =>
            {
                columns.Bound(e => e.Email).Title("Email").Width(40).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
                columns.Bound(e => e.AXAccount).Title("Cuenta AX").Width(20).HeaderHtmlAttributes(new { @style = "text-align:center" });
                columns.Bound(e => e.MinutesAgo).Title("Ultima conexión").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" });
            })
            .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style = "float:right" }))
            .Excel(excel => excel
            .FileName("UsuariosConectados.xlsx")
            .AllPages(true)
            .ProxyURL(Url.Action("GetActiveConnections", "Reports")))
            .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
            .AutoBind(true)
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetActiveConnections", "Reports")))
            )
        }


        <!--SESIONES DE USUARIOS-->
        @if (Model.showSessionRank)
        {
            <h3>Sesiones</h3>
            <h5>Estadisticas de sesiones</h5>
            @(Html.Kendo().Grid<Alcione.ViewModels.UniqueSessionViewModel>()
            .Name("grid11")
            .Columns(columns =>
            {
                columns.Bound(e => e.SessionDate).Title("Fecha").Width(40).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
                columns.Bound(e => e.SessionCount).Title("Sesiones Totales").Width(20).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
                columns.Bound(e => e.UniqueSessionCount).Title("Sesiones únicas").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
                columns.Bound(e => e.AverageTime).Title("Promedio (segundos)").Width(50).Format("{0:n2}").HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=average#");

            })
            .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style = "float:right" }))
            .Excel(excel => excel
            .FileName("Sesiones.xlsx")
            .AllPages(true)
            .ProxyURL(Url.Action("GetSessionRank", "Reports")))
            .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
            .AutoBind(true)
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.SessionCount).Sum();
                aggregates.Add(p => p.UniqueSessionCount).Sum();
                aggregates.Add(p => p.AverageTime).Average();
            })
            .Read(read => read.Action("GetSessionRank", "Reports")
            .Data("additionalInfo")
            ))
            )
        }


        <!--CATEGORY RANk-->
        @if (Model.showCategoryRank)
        {
        <h3>Categorías</h3>
        <h5>Ranking de Categorías</h5>
        @(Html.Kendo().Grid<Alcione.ViewModels.CategoryUserLogViewModel>()
        .Name("grid2")
        .Columns(columns =>
        {
            columns.Bound(e => e.ActivityDate).Title("Fecha").Width(20).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
            columns.Bound(e => e.Combined).Title("Categoría").Width(20).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
            columns.Bound(e => e.ViewCount).Title("Contador").Width(20).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
        })
        .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style = "float:right" }))
        .Excel(excel => excel
        .FileName("Categorias.xlsx")
        .AllPages(true)
        .ProxyURL(Url.Action("GetCategoryRank", "Reports")))
        .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
        .AutoBind(true)
        .Resizable(resize => resize.Columns(true))
        .Scrollable()
        .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
        .Resizable(resize => resize.Columns(true))
        .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.ViewCount).Sum();
            })
            .Read(read => read.Action("GetCategoryRank", "Reports")
            .Data("additionalInfo")
            ))
            )
        }

        <!--SEARCH RANk-->
        @if (Model.showSerchTermRank)
        {
        <h3>Términos de Búsqueda</h3>
        <h5>Ranking de búsquedas</h5>
        @(Html.Kendo().Grid<Alcione.ViewModels.SearchActivityLogViewModel>()
        .Name("grid3")
        .Columns(columns =>
        {
            columns.Bound(e => e.ActivityDate).Title("Fecha").Width(50).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
            columns.Bound(e => e.SearchTerm).Title("Término").Width(80).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
            columns.Bound(e => e.ViewCount).Title("Contador").Width(60).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
        })
         .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style="float:right" }))
        .Excel(excel => excel
        .FileName("Busquedas.xlsx")
        .AllPages(true)
        .ProxyURL(Url.Action("GetSearchRank", "Reports")))
        .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
        .AutoBind(true)
        .Resizable(resize => resize.Columns(true))
        .Scrollable()
        .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
        .Resizable(resize => resize.Columns(true))
        .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.ViewCount).Sum();
            })
            .Read(read => read.Action("GetSearchRank", "Reports")
            .Data("additionalInfo")
            ))
            )
        }

        <!--PRODUCT RANK-->
        @if (Model.showProductRank)
        {
        <h3>Artículos</h3>
        <h5>Ranking de artículos más vistos</h5>
        @(Html.Kendo().Grid<Alcione.ViewModels.ProductActivityLogViewModel>()
        .Name("grid4")
        .Columns(columns =>
        {
            columns.Bound(e => e.ActivityDate).Title("Fecha").Width(10).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
            columns.Bound(e => e.ProductId).Title("Código").Width(10).HeaderHtmlAttributes(new { @style = "text-align:center" });
            columns.Bound(e => e.Name).Title("Nombre").Width(60).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
            columns.Bound(e => e.ViewCount).Title("Contador").Width(10).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
        })
        .ToolBar(tools => tools.Excel().Text("Exportar a Excel").Text("Exportar a Excel").Text("Exportar a Excel").HtmlAttributes(new { style="float:right" }))
        .Excel(excel => excel
        .FileName("Articulos.xlsx")
        .AllPages(true)
        .ProxyURL(Url.Action("GetProductRank", "Reports")))
        .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
        .AutoBind(true)
        .Resizable(resize => resize.Columns(true))
        .Scrollable()
        .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
        .Resizable(resize => resize.Columns(true))
        .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.ViewCount).Sum();
            })
            .Read(read => read.Action("GetProductRank", "Reports")
            .Data("additionalInfo")
            ))
            )
        }

        <!--Actividad de Acciones-->
        @if (Model.showActionRank)
        {
            <h3>Acciones</h3>
            <h5>Ranking de acciones del app</h5>
            @(Html.Kendo().Grid<Alcione.ViewModels.UserActionLogViewModel>()
            .Name("grid5")
            .Columns(columns =>
            {
                columns.Bound(e => e.ActionDate).Title("Fecha").Width(40).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" });
                columns.Bound(e => e.ActionName).Title("Acción").Width(80).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
                columns.Bound(e => e.ActionCount).Title("Contador").Width(40).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
            })
            .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style="float:right" }))
            .Excel(excel => excel
            .FileName("Acciones.xlsx")
            .AllPages(true)
            .ProxyURL(Url.Action("GetActionRank", "Reports")))
            .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
            .AutoBind(true)
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Aggregates(aggregates =>
                {
                    aggregates.Add(p => p.ActionCount).Sum();
                })
                .Read(read => read.Action("GetActionRank", "Reports")
                .Data("additionalInfo")
                ))
            )       
        }

        <!--Actividad de conversión-->
        @if (Model.showConversionRank)
        {
            <h3>Conversiones</h3>
            <h5>Estadísticas de conversión</h5>
            @(Html.Kendo().Grid<Alcione.ViewModels.UniqueSessionViewModel>()
            .Name("grid12")
            .Columns(columns =>
            {
                columns.Bound(e => e.SessionDate).Title("Fecha").Width(40).Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("Totales");
                columns.Bound(e => e.UniqueSessionCount).Title("Sesiones Unicas").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
                columns.Bound(e => e.OrderCount).Title("Pedidos").Width(50).HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=sum#");
                columns.Bound(e => e.ConversionRate).Title("% Conversión").Width(50).Format("{0:n2}").HeaderHtmlAttributes(new { @style = "text-align:center" }).ClientFooterTemplate("#=average#");
            })
            .ToolBar(tools => tools.Excel().Text("Exportar a Excel").HtmlAttributes(new { style = "float:right" }))
            .Excel(excel => excel
            .FileName("Conversiones.xlsx")
            .AllPages(true)
            .ProxyURL(Url.Action("GetConversionRank", "Reports")))
            .Groupable(g => g.Messages(messages => messages.Empty("Arroja un columna para agrupar por la misma")))
            .AutoBind(true)
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .Resizable(resize => resize.Columns(true))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.UniqueSessionCount).Sum();
                aggregates.Add(p => p.OrderCount).Sum();
                aggregates.Add(p => p.ConversionRate).Average();
            })
            .Read(read => read.Action("GetConversionRank", "Reports")
            .Data("additionalInfo")
            ))
            )
        }

    </div>
}
<script>

    $('#StartDate').removeAttr("data-val-date");
    $('#EndDate').removeAttr("data-val-date");

    function beforeSubmit(e) {

        $(':input[type="submit"]').prop('disabled', true);
        //alert('e');
            //var CustomerNumber = $("#CustomerId").val()
            //if (CustomerNumber == "0") {
                //e.preventDefault();
            //    alert("Ingrese un cliente");
            //    return;
            //}
    }

    function additionalInfo() {
        
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        
        return {
                StartDate: startDate,
                EndDate: endDate
                }
    }
</script>
