﻿@{
//var tempWeek = (int)TempData["TempWeek"];
//var myArray = (string[])ViewData["passedArray"];
}
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Errores", new { @class = "text-danger" })
    <div class="jumbotron">
        <h2>Cuentas</h2>
        <p class="lead">Aquí podrás manejar los roles de cuentas</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    <div>
        <table style="border-style:hidden;">
            <tr>
                <td style="border-style:hidden;text-align:left"> 
                <input type="text" id="txtSearchTerm" value=""/> &nbsp; 
                <input type="button" value="Buscar" class="boton_universal"onclick="searchText();" /></td>
            </tr>
        </table>
        
        @(Html.Kendo().Grid<Alcione.ViewModels.CustomerViewModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(e => e.Id).Title("Id").Width(80).Hidden();
                columns.Bound(e => e.EMail).Title("Email").Width(120).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Bound(e => e.AccountId).Title("Cuenta AX").Width(40);
                //columns.Bound(e => e.CustomerType).Title("Kiosko").Width(40).ClientTemplate(
                //        "<input type='checkbox' #if(CustomerType == 1){#checked#}# id=\"#=Id#\" onclick='updateCustomerType(\"#=Id#\",1);' />");
                columns.Bound(e => e.CustomerType).Title("Administrador").Width(70).ClientTemplate(
                        "<input type='checkbox' #if(CustomerType == 2){#checked#}# id=\"#=Id#\" onclick='updateCustomerType(\"#=Id#\",2);' />");
            })
            .AutoBind(true)
            .Pageable(pager => pager
                .Messages(messages =>
                messages.Display("Mostrando del {0} a {1}. Total de usuarios: {2}")
                .First("Ir a la primera página")
                .Last("Ir a la última página")
                .Previous("Página anterior")
                .Next("Siguiente Página")
                .Empty("No se encontraron usuarios")
                )
                .PageSizes(new int[] { 10, 20, 50 })
            )
            .Resizable(resize => resize.Columns(true))
            .Scrollable()
            .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
            .HtmlAttributes(new { style = "height:400px;font-family:Arial;font-size:13px;text-align:center" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("UsuariosGrid", "Admin")
                .Data("additionalInfo")
                )
            )/*.Events(e => e.DataBound("onGridDataBound"))*/
        )
        
    </div>

<script>

    function updateCustomerType(customerId,newTypeId)
    {
        var isChecked = $("#" + customerId).is(':checked');
        
        var params = {
            UserId: customerId,
            AdminType: newTypeId,
            IsChecked: isChecked
        };
        $.ajax({
            url: '@Url.Action("SetUserAdminType")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(params),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.Error > 0) {
                    alert("Mensaje de Error", result.Respuesta);
                }
                $("#grid").data("kendoGrid").dataSource.read();
            }
        });
    }

    //function onGridDataBound(e)
    //{
    //    var items = e.sender.items();
    //    var grid = $("#grid").data("kendoGrid");
    //    hasErrors = false;

    //    items.each(function (index) {
    //        var dataItem = grid.dataItem(this);
    //        Debug.write(dataItem.AXAccountId);
    //    })

    //}

    function searchText(e)
    {
        var grid = $("#grid").data("kendoGrid");
        //grid.dataSource.read();
        grid.dataSource.page(1);
        //$("#txtSearchTerm").val("");
    }


    function beforeSubmit(e) {

        //alert('e');
            //var CustomerNumber = $("#CustomerId").val()
            //if (CustomerNumber == "0") {
                //e.preventDefault();
            //    alert("Ingrese un cliente");
            //    return;
            //}
    }
    function additionalInfo() {

        var st = $("#txtSearchTerm").val();
        var params = {
            SearchTerm: st == null ? "" : st
        };

        return params;
        
    }

</script>
