﻿


@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>


<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-body box-profile">
                                <div class="profile-user-img img-responsive img-circle">
                                    <a href="@Model[0].urlImage" data-fancybox="gallery">
                                        <img src="@Model[0].urlImage" width="25" height="25">
                                    </a>
                                </div>

                                <h3 class="profile-username text-center">
                                    @Model[0].Asset.Name
                                </h3>

                                @if (bool.Parse(Model[0].Asset.ASex.ToString()))
                                {
                                    <p class="text-muted text-center">Hombre  | @Model[0].Asset.precio.ToString("C0")</p>
                                }
                                else
                                {
                                    <p class="text-muted text-center">Mujer  | @Model[0].Asset.precio.ToString("C0")</p>
                                }
                                <p class="text-muted text-center">@Model[0].Asset.ciudad </p>
                                <strong>Saludo</strong>
                                <p class="text-muted">
                                    @Model[0].Asset.Title
                                </p>
                                <strong>Descripción</strong>
                                <p class="text-muted">
                                    @Model[0].Asset.Description
                                </p>
                                <strong>Disponibilidad</strong>
                                <p class="text-muted">
                                    @Model[0].Asset.disponibilidad
                                </p>
                                @try
                                {

                                    if (int.Parse(Session["type"].ToString()) == 1)
                                    {

                                        @Html.ActionLink("Invitar", "Invitar", "XInvitacion", new { id = @Model[0].Asset.Id }, new { @Class = "btn btn-primary", @style = "width:100%" })
                                    }
                                }
                                catch (Exception ex)
                                {
                                    <div onload="logout();"></div>
                                }


                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <h3 class="box-title" style="margin:10px 0px;">Galería</h3>
                                @if (Model[0].urlImage != null)
                                {
                                    <div class="post">
                                        <div class="row margin-bottom">
                                            @if (Model.Count > 0)
                                            {
                                                <div class="col-sm-6">
                                                    <div class="marco-img-perfil">
                                                        <a href="@Model[0].urlImage" data-fancybox="gallery">
                                                            <img class="img-responsive" src="@Model[0].urlImage" alt="Foto 1">
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        @if (Model.Count > 1)
                                                        {
                                                            <div class="marco-img">
                                                                <a href="@Model[1].urlImage" data-fancybox="gallery">
                                                                    <img class="img-responsive" src="@Model[1].urlImage" alt="Foto 2">
                                                                </a>
                                                            </div>
                                                        }
                                                        @if (Model.Count > 2)
                                                        {
                                                            <div class="marco-img">
                                                                <a href="@Model[2].urlImage" data-fancybox="gallery">
                                                                    <img class="img-responsive" src="@Model[2].urlImage" alt="Foto 3">
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="col-sm-6">
                                                        @if (Model.Count > 3)
                                                        {
                                                            <div class="marco-img">
                                                                <a href="@Model[3].urlImage" data-fancybox="gallery">
                                                                    <img class="img-responsive" src="@Model[3].urlImage" alt="Foto 4">
                                                                </a>
                                                            </div>
                                                        }
                                                        @if (Model.Count > 4)
                                                        {
                                                            <div class="marco-img">
                                                                <a href="@Model[4].urlImage" data-fancybox="gallery">
                                                                    <img class="img-responsive" src="@Model[4].urlImage" alt="Foto 5">
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div> @*fotos de perfil*@
                                    </div>
                                }
                            </div>
                            <div style="float:left; width:100%;" class="hidden-md hidden-lg">
                                @Html.ActionLink("Invitar", "Invitar", "XInvitacion", new { id = @Model[0].Asset.Id }, new { @Class = "btn btn-primary", @style = "width:100%" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






