﻿@model List<ProjectX.API.Models.Notification>


@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="content-wrapper">
    <section class="content-header direct-chat-title">
        <h1>
            <i class="fa fa-comments-o" aria-hidden="true"></i> Chat

        </h1>
    </section>
    <section class="content content-chat">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-body">
                        <div class="direct-chat-messages" id="mess">


                            @foreach (var item in Model)
                                {
                                    if (item.MType == 3)
                                    {
                                        <div class="direct-chat-msg" >
                                            <div class="direct-chat-info clearfix">
                                                <span class="direct-chat-name pull-left">

                                                </span>
                                                <span class="direct-chat-timestamp pull-right">@item.CreatedOn</span>
                                            </div>
                                            <img class="direct-chat-img" src="~/Content/images/logo_small_1_solo.png" alt="Message User Image">
                                            <div class="direct-chat-text">
                                                @item.MessageText
                                            </div>
                                        </div>
                                    }

                                    else if (item.MType == 6)
                                    {
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-info clearfix">
                                                <span class="direct-chat-name pull-right">asset</span>
                                                <span class="direct-chat-timestamp pull-left">@item.CreatedOn</span>
                                            </div>
                                            <img class="direct-chat-img" src="~/Content/images/logo_small_1_solo.png" alt="Message User Image">
                                            <div class="direct-chat-text">
                                                @item.MessageText
                                            </div>
                                        </div>
                                    }
                             }



                        </div>
                    </div>
                    <div class="box-footer">
                        <form action="InsertMessage" method="post">
                            <div class="input-group">
                                <input type="hidden" name="orderid" value="@Model[0].OrderId" id="ordID" />
                                <input type="hidden" name="typeid" value="@int.Parse(Session["type"].ToString())" id="type" />
                                <input type="text" name="message" id="messagetxt" placeholder="Escribir mensaje ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning btn-flat" id="sendmessage" value="Send">Enviar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
    </section>
</div>





<script>

    //$(document).ready(function () {
    //    setInterval(function () {
    //        var id = $("#ordID").val();
    //        $.ajax({
    //            type: "POST",
    //            dataType: 'json',
    //            data: { 'idO': id },
    //            url: "/Chat/ChatAJ",
    //            success: function (data) {
    //                $.each(data, function (index, data) {
    //                    console.log('index', data)
    //                })
    //            },
    //        });
    //    }, 5000);
    //});



</script>

