﻿@model List<ProjectX.API.Models.Notification>


@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<input hidden id="scrptchat" value="111" />
<input hidden id="grupo" value="luxxvipchat @int.Parse(Session["chatid"].ToString())" />
<div class="content-wrapper">
    <section class="content-header direct-chat-title">



    </section>
    <section class="content content-chat">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary direct-chat direct-chat-warning">
                    <div class="box-body">
                        <div class="direct-chat-messages down" id="mess">
                            @foreach (var item in Model)
                            {
                                if (item.MType == 3)
                                {
                                    <div class="direct-chat-msg right">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-left">

                                            </span>
                                            @*<span class="direct-chat-timestamp pull-right">@item.CreatedOn</span>*@
                                        </div>
                                        @*<img class="direct-chat-img" src="~/Content/images/logo_small_1_solo.png" alt="Message User Image">*@
                                        <div class="direct-chat-text">
                                            @item.MessageText
                                        </div>
                                    </div>
                                }

                                else if (item.MType == 6)
                                {
                                    <div class="direct-chat-msg">
                                        <div class="direct-chat-info clearfix">
                                            @*<span class="direct-chat-name pull-right">asset</span>*@
                                            @*<span class="direct-chat-timestamp pull-left">@item.CreatedOn</span>*@
                                        </div>
                                        @*<img class="direct-chat-img" src="~/Content/images/logo_small_1_solo.png" alt="Message User Image">*@
                                        <div class="direct-chat-text">
                                            @item.MessageText
                                        </div>
                                    </div>
                                }
                            }

                            <ul id="discussion"></ul>

                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="input-group">
                            <input type="hidden" name="orderid" value="@Model[0].OrderId" id="ordID" />
                            <input type="hidden" name="typeid" value="@int.Parse(Session["type"].ToString())" id="type" />
                            <input type="text" name="message" id="message" placeholder="Escribir mensaje ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat" id="sendmessage" value="Send">Enviar</button>
                            </span>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
    </section>
</div>




@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/hubs/"></script>
    <script type="text/javascript">

        $(function  () {
            var chat = $.connection.chatHub;

            $.connection.hub.start().done(function () {

                chat.server.addGrupo($("#grupo").val());
            });

            $.connection.hub.disconnected(function () {
              
              
                    $.connection.hub.start().done(function () {

                        chat.server.addGrupo($("#grupo").val());
                    });
    
              
            });




            chat.client.sendChat = function (nameOwner, message) {
                var divMessage = $("<div />").text(message).html();
                if (nameOwner == "cliente") {
                    $("#discussion").append("<div class='direct-chat-msg'><div class='direct-chat-info clearfix'><span class='direct-chat-name pull-left'></span><span class='direct-chat-timestamp pull-right'></span></div><div class='direct-chat-text'>" + divMessage + "</div></div>");
                }

                else {
                    $("#discussion").append("<div class='direct-chat-msg right'><div class='direct-chat-info clearfix'><span class='direct-chat-name pull-right'></span><span class='direct-chat-timestamp pull-left'></span></div><div class='direct-chat-text' style='background-color: orange'>" + divMessage + "</div></div>");
                }

                $("#mess").animate({ scrollTop: $('#mess').prop("scrollHeight") }, 1000);
            };

            $("#sendmessage").click(function () {

                $.connection.hub.start().done(function () {

                    chat.server.addGrupo($("#grupo").val());
                })
                    var nameOwner = "";
                    if (@Session["type"].ToString() != null) {
                        if (@int.Parse(Session["type"].ToString()) == 2) {
                          nameOwner = "asset";
                        }
                        else {
                          nameOwner = "cliente";
                        }
                    }
                var messageText = $("#message").val();
                chat.server.send(nameOwner, messageText, $("#grupo").val());
                $("#message").val("").focus();
             
            })
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
    }
