﻿@model ProjectX.API.Models.InvitacionAsset


@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Global site tag (gtag.js) - Google Analytics -->
@*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133178622-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133178622-1');
</script>*@
<div class="content-wrapper">
    <section class="content content-only box-invitar">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="profile-user-img img-responsive img-circle">
                                <img src="@Model.Foto.urlImage">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <table class="table table-invitacion">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Usuario:</th>
                                        <td>@Model.Nombre</td>
                                    </tr>
                                    <tr>
                                        <th>Costo Total:</th>
                                        <td>@Model.Precio.ToString("C0") MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Anticipo:</th>
                                        <td>@Model.Anticipo.ToString("C0") MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Pendiente:</th>
                                        <td>@Model.Pendiente.ToString("C0") MXN</td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="info-costo" style="line-height:15px;">
                                Reserva con <strong>@Model.Anticipo.ToString("C0") MXN</strong>, la diferencia se cubrirá en <strong>EFECTIVO</strong> antes de empezar el evento.
                            </div>
                            &nbsp;
                            <div class="alerta-aviso">
                                Recomendamos no hacer depósitos o pagos por adelantado para evitar posibles fraudes.
                            </div>
                            &nbsp;
                            <div class="info-costo" style="line-height:15px;">
                                <p style="color:brown; text-align:center;"> Tu invitación se responderá en<br />un plazo no mayor a 24 horas.</p>
                            </div>
                        </div>
                    </div>
                </div>


                @if (Model.Credito)
                {
                    using (Html.BeginForm("EnviarInvitacionCredito", "XInvitacion", FormMethod.Post))
                    {

                        <div class="box box-solid box-metodopago">
                            <div class="box-body">
                                <div class="col-md-6 text-center">Metodo de pago</div>
                                <div class="col-md-6 col-xs-12">
                                    <button type="submit" style="width:100%" class="btn btn-primary">Usar crédito</button>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="box box-solid box-metodopago">
                        <div class="box-body">
                            <div class="col-md-12">Metodo de pago: </div>
                            <div>
                                <div id="paypal-button-container">

                                    @*<input type="hidden" value="1" id="anti" />*@
                                    <input type="hidden" value="@Model.Anticipo" id="anti" />
                                </div>

                                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                <script>
                                    // Render the PayPal button
                                    paypal.Button.render({
                                        // Set your environment
                                        env: 'production', // sandbox | production

                                        // Specify the style of the button
                                        style: {
                                            layout: 'vertical',  // horizontal | vertical
                                            size: 'medium',    // medium | large | responsive
                                            shape: 'rect',      // pill | rect
                                            color: 'gold'       // gold | blue | silver | white | black
                                        },

                                        // Specify allowed and disallowed funding sources
                                        //
                                        // Options:
                                        // - paypal.FUNDING.CARD
                                        // - paypal.FUNDING.CREDIT
                                        // - paypal.FUNDING.ELV
                                        funding: {
                                            allowed: [
                                                paypal.FUNDING.CARD,
                                                paypal.FUNDING.CREDIT
                                            ],
                                            disallowed: []
                                        },

                                        // Enable Pay Now checkout flow (optional)
                                        commit: true,

                                        // PayPal Client IDs - replace with your own
                                        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                        client: {
                                            //sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                                            //AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo mayra yanira
                                            //Ad9Rz6P5LDqPW0-biEzgZRR0kyjssNC2qQ6PiH6g4-8l8PCxlr_XtYmSFY49LlZnC0lXmYJAkLa8rsmn alejandro martinez
                                            production: 'AZ0jniEvtEf5ojcSSZtJylgmJ4QfO8m3gaBjf3A7ZtHuefU2z4li1BRvrEtQCmTyNrY0v8tBkkhWlpIN'
                                        },

                                        payment: function (data, actions) {
                                            return actions.payment.create({
                                                payment: {
                                                    transactions: [
                                                        {
                                                            amount: {
                                                                total: $("#anti").val(),
                                                                currency: 'MXN'
                                                            }
                                                        }
                                                    ]
                                                }
                                            });
                                        },

                                        onAuthorize: function (data, actions) {
                                            return actions.payment.execute()
                                                .then(function () {
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/XInvitacion/EnviarInvitacionPaypal",
                                                        success: function (data) {
                                                            alert("Invitacion enviada, espera respuesta");
                                                            window.location.href = 'https://SensRoom.com/Enviada/Enviada';
                                                           // window.location.href = 'http://localhost:8080/Enviada/Enviada';

                                                        }
                                                    });
                                                });
                                        }
                                    }, '#paypal-button-container');
                                </script>
                            </div>
                        </div>
                    </div>

                }




                @*<div class="box box-solid box-metodopago">
                        <div class="box-body">
                            <div class="col-md-12">Metodo de pago</div>
                            <div class="col-md-6 col-xs-8">
                                <a href="#" data-toggle="modal" data-target="#modal-opcpago">Pago con tarjeta</a>
                            </div>
                        </div>
                    </div>*@



                @if (Model.Error != null)
                {
                    <div>
                        <h3>@Model.Error</h3>
                    </div>

                }
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="modal-opcpago">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-lock" aria-hidden="true"></i> Opciones de pago</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:20px">
                    <form action="" method="POST" id="card-form">
                        <input type="hidden" style="color:black" id="inplatitud" name="Lat1" />
                        <input type="hidden" style="color:black" id="inplongitud" name="long1" />
                        <span class="card-errors"></span>
                        <div>
                            <label>
                                <span>Nombre del tarjetahabiente</span>
                                <input type="text" size="20" data-conekta="card[name]" class="form-control" placeholder="Nombre">
                            </label>
                        </div>
                        <div>
                            <label>
                                <span>Número de tarjeta de crédito</span>
                                <input type="number" size="20" maxlength="16" data-conekta="card[number]" class="form-control" placeholder="Número de tarjeta">
                            </label>
                        </div>
                        <div>
                            <label>
                                <span>CVC</span>
                                <input type="text" size="4" data-conekta="card[cvc]" class="form-control" placeholder="CVC">
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Fecha de expiración</span>
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <input style="color:black" type="text" data-conekta="card[exp_month]" class="form-control" maxlength="2" placeholder="MM">
                            </div>

                            <div class="col-sm-4 col-xs-5">
                                <input style="color:black" type="text" data-conekta="card[exp_year]" class="form-control" maxlength="4" placeholder="AAAA">
                            </div>
                        </div>
                        <br />

                        <button type="submit" class="btn btn-primary">Hacer pago</button>
                    </form>

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-tdc">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i> Agregar tarjeta de crédito o débito</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cc-number">Número de tarjeta</label>
                            <div class="input-group">
                                <input id="cc-number"
                                       type="tel"
                                       class="form-control"
                                       name="cc-number"
                                       placeholder="Tarjeta valida"
                                       required />
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="cardExpiry"><span class="hidden-xs">Fecha de expiración</span><span class="visible-xs-inline">Fecha</span> exp</label>
                            <div class="input-group">
                                hola
                                <input type="tel"
                                       class="form-control"
                                       name="cardExpiry"
                                       placeholder="MM / AA"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="cardCVC">Código CVC</label>
                            <div class="input-group">
                                <input type="tel"
                                       class="form-control"
                                       name="cardCVC"
                                       placeholder="CVC"
                                       autocomplete="cc-csc"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

<script src="~/Scripts/jsLuxxList.js"></script>

<script>


    Conekta.setPublicKey('key_csXHrmyZq4EbkfcPTrqsnjg');//llave pública // key_CWq4i4kpX6TdaqWeo8RmcxA  <-- pruebas    key_csXHrmyZq4EbkfcPTrqsnjg  <-- produccion //

    var conektaSuccessResponseHandler = function (token) {
        var $form = $("#card-form");
        //Inserta el token_id en la forma para que se envíe al servidor
        $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
        $form.get(0).submit(); //Hace submit
    };
    var conektaErrorResponseHandler = function (response) {
        var $form = $("#card-form");
        $form.find(".card-errors").text(response.message_to_purchaser);
        $form.find("button").prop("disabled", false);
    };

    //jQuery para que genere el token después de dar click en submit
    $(function () {
        $("#card-form").submit(function (event) {
            var $form = $(this);
            // Previene hacer submit más de una vez
            $form.find("button").prop("disabled", true);
            Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
            return false;
        });
    });



    initiate_geolocation();
    var cord = null;
    var lati = null;
    var long = null;
    function initiate_geolocation() {

        navigator.geolocation.getCurrentPosition(handle_geolocation_query, handle_errors);
    }

    function handle_errors(error) {
        alert("error ubicación");
        switch (error.code) {

            case error.PERMISSION_DENIED: document.getElementById("geo2").innerHTML = "User did not share geolocation data";
                break;
            case error.POSITION_UNAVAILABLE: document.getElementById("geo2").innerHTML = "Could not detect current position";
                break;
            case error.TIMEOUT: document.getElementById("geo2").innerHTML = "retrieving geolocation position timed out";
                break;
            default: document.getElementById("geo2").innerHTML = "unknown geolocation error";
                break;
        }
    }

    function handle_geolocation_query(position) {

        cord = position.coords.latitude + "," + position.coords.longitude;
        lati = position.coords.latitude;
        long = position.coords.longitude;

        document.getElementById("inplatitudC").value = lati;
        document.getElementById("inplongitudC").value = long;


        //  calcular();


        //var geoCoder = new GClientGeocoder();
        //geoCoder.getLocations(new GLatLng(position.coords.latitude, position.coords.longituder, true), getPositionName());
        // initMap();
    }
</script>


