﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="ProjectX.API.Pages.Common.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../../Bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="../../Bootstrap/js/bootstrap.min.js"></script>
<script src="../../Bootstrap/js/bootstrap.js"></script>
<script src="../../jQuery/jsLuxx.js"></script>

<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
   
</body>
</html>
