﻿@model ProjectX.API.Models.Order
@{
    ViewBag.Title = "~/Views/Shared/_Layout2.cshtml";

}




<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <i class="fa fa-envelope"></i> Invitar
        </h1>
    </section>
    <section class="content box-invitar">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-6">
                            <img class="profile-user-img img-responsive img-circle" src="images/foto-perfil-asset.jpg">
                        </div>
                        <div class="col-md-6">
                            <table class="table table-invitacion">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Usuario:</th>
                                        <td>Lucia</td>
                                    </tr>
                                    <tr>
                                        <th>Costo Total:</th>
                                        <td>$ 5,000 MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Anticipo:</th>
                                        <td>$1,000 MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Pendiente:</th>
                                        <td>$4,000 MXN</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="info-costo">
                                Reserva con $1,000 MXN, la diferencia se cubrirá antes de empezar el evento.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box box-solid invitar-momento">
                    <div class="box-body">
                        <div class="col-md-6">
                            ¿En que momento desea el servicio?
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Lo antes posible</option>
                                    <option>8:00 PM</option>
                                    <option>8:30 PM</option>
                                    <option>9:00 PM</option>
                                    <option>9:30 PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-solid">
                    <div class="box-body invitacion-ubicacion">
                        <div class="col-md-9">
                            <h5>Ubicación del servicio</h5>
                            <i class="fa fa-location-arrow" aria-hidden="true"></i> Juan Aldama 415, Centro, Monterrey
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Buscar en mapa
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box box-solid box-metodopago">
                    <div class="box-body">
                        <div class="col-md-12">Metodo de pago</div>
                        <div class="col-md-6 col-xs-8">
                            <a href="#" data-toggle="modal" data-target="#modal-opcpago">Agregar metodo de pago</a>
                        </div>
                        <div class="col-md-6 col-xs-4">
                            <button class="btn btn-primary">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Perfil
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    <h2>Datos de a invitación</h2>
    <table>
        <tr>
            <th>
                Quien envia
            </th>
            <th>
                Ubicación del evento
            </th>
        </tr>
        <tr>
            <td>
                @Model.Customer
            </td>
            <td>
                @Model.CAddress
            </td>
        </tr>
    </table>
    <h4>Quien envia </h4>
    <h4>@Model.CustomerId</h4>
</div>
