﻿@model List<ProjectX.API.Models.CalifEvent>
@{
    ViewBag.Title = "Califica tu evento - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.califev = "active";
}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-star-o" aria-hidden="true"></i> Califica tu evento</h2>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @if (Session["type"].ToString() == "1")
                                    {
                                        if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="mailbox-name">
                                                        <h3>
                                                            <strong>
                                                                @item.AssetName
                                                            </strong>
                                                        </h3>
                                                        <small>
                                                            el dia @item.Date.ToString("dd/MM/yyyy")
                                                        </small>
                                                    </td>
                                                    <td style="vertical-align: middle; text-align:right;">
                                                        <botton type="submit" id="btncal" value="@item.OrderId" class="btn btn-primary" data-toggle="modal" data-target="#modal-online">
                                                            Calificar
                                                        </botton>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="mailbox-name">
                                                        <h3>
                                                            <strong>
                                                                @item.CustomerName
                                                            </strong>
                                                        </h3>

                                                        <small>
                                                            el dia @item.Date.ToString("dd/MM/yyyy")
                                                        </small>
                                                    </td>
                                                    <td style="vertical-align: middle; text-align:right;">
                                                        <botton type="submit" id="btncal" value="@item.OrderId" class="btn btn-primary" data-toggle="modal" data-target="#modal-online">
                                                            Calificar
                                                        </botton>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@using (Html.BeginForm("califica", "califica", FormMethod.Post))
{
    <div class="modal fade" id="modal-online">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"> <i class="fa fa-star-o" aria-hidden="true"></i>Califica el servicio</h4>
                </div>
                <div class="modal-body">
                    <div class="row radio-list">

                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="val" value="2" class="form-check-input" id="online-1hrs">
                                <label class="form-check-label" for="online-1hrs">
                                    Malo
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="val" value="3" class="form-check-input" id="online-2hrs">
                                <label class="form-check-label" for="online-2hrs">
                                    Regular
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="val" value="4" class="form-check-input" id="online-3hrs">
                                <label class="form-check-label" for="online-3hrs">
                                    Bueno
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="val" value="5" checked class="form-check-input" id="online-4hrs">
                                <label class="form-check-label" for="online-4hrs">
                                    Excelente
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>
                    <input type="hidden" id="hIdOrder" name="orderId"/>
                    <button type="submit" id="online" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
