body {
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
}
.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.content-wrapper,
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}
.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}
.main-header .logo {
	margin-bottom: 0px;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}
.main-header a.logo:hover{
	color:#fff !important;
}
.main-header a.logo img{
	width: 14px;

}
.main-header .logo .logo-mini {
    display: none;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    border-bottom: none;
    line-height: 20px;
    text-decoration: none;
}
.main-header .sidebar-toggle:before {
    content: "\f0c9";
}
.fixed .main-header, .fixed .main-sidebar, .fixed .left-side {
    position: fixed;
}
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
@media (min-width: 768px){
	.navbar-static-top {
	    border-radius: 0;
	}
	.sidebar-mini.sidebar-collapse .main-header .logo {
	    width: 50px;
	}

}