	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}
		.content {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 20px;
		}

	@media screen and (max-height: 640px) {

		html, body {
			height: auto;
			min-height: 100%;
		}

		.content {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 20px;
		}

	}

				@media screen and (max-width: 1280px) {

					#bg div.visible {
						-moz-animation: bg 29.25s linear infinite;
						-webkit-animation: bg 29.25s linear infinite;
						-ms-animation: bg 29.25s linear infinite;
						animation: bg 29.25s linear infinite;
					}

				}

				@media screen and (max-width: 736px) {

					#bg div.visible {
						-moz-animation: bg 18s linear infinite;
						-webkit-animation: bg 18s linear infinite;
						-ms-animation: bg 18s linear infinite;
						animation: bg 18s linear infinite;
					}

				}


		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
                padding:10px;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

/* Header */

	@media screen and (max-width: 736px) {

		#header h1 {
			font-size: 2em;
		}

		#header p {
			font-size: 1em;
		}

	}

	@media screen and (max-width: 480px) {

		#header {
			margin: 0 0 1em 0;
		}

	}
/**/

/* Signup Form */

		@media screen and (max-width: 480px) {

			#signup-form {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#signup-form input[type="type"],
				#signup-form input[type="password"],
				#signup-form input[type="email"] {
					width: 100%;
				}

				#signup-form > * {
					margin: 1.25em 0 0 0;
				}

				#signup-form .message {
					bottom: -1.5em;
					font-size: 0.9em;
					height: 1em;
					left: 0;
					line-height: inherit;
					margin-top: 0;
					position: absolute;
				}

		}
/**/

/* Footer */

		@media screen and (max-width: 1680px) {

			#footer {
				bottom: 3.5em;
				left: 3.5em;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				bottom: 2em;
				left: 2em;
			}

		}

		@media screen and (max-width: 360px) {

			#footer {
				bottom: 1.25em;
				left: 1.25em;
			}

		}

		@media screen and (max-height: 640px) {

			#footer {
				bottom: auto;
				left: auto;
				margin: 1em 0 0 0;
				position: relative;
			}

		}
/**/

@media screen and (max-width: 1680px) {

	body.is-preload {
		padding: 6em 3.5em 3.5em 3.5em;
	}

}
@media screen and (max-width: 1025px) {
    .info-box .profile-user-img {
        /*width: 110px;*/
        max-height: 110px;
    }

    /*.info-box .profile-user-img img {
            width: 110px;
            height: auto;
        }*/
}


@media screen and (max-width: 736px) {

	body.is-preload {
		padding: 5em 2em 2em 2em;
	}

}

@media screen and (max-width: 422px) {
	body.code-page{
		padding: 1em 2em 2em 2em;
	}
	body.code-page #signup-form input[type="text"]{
		width: 100%;
	}
	.code-page .logo{
		text-align: center;
	}
	.code-page .logo img{
		display: block;
		width: 80px;
		margin:0px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.login-info{
		font-size: 14px;
	}
    .info-box .profile-user-img {
        /* width: 76px;*/
        max-height: 65px;
    }

    /*.info-box .profile-user-img img {
        width: 76px;
        height: auto;
    }*/
    }

@media screen and (max-width: 360px) {

	body {
		padding: 20px 0em 0em 0em !important;
	}

    .content-wrapper > .content {
        margin-top: 40px;
    }
    .row-tools .btn {
        font-size:65%;
    }
    .content.content-only {
        margin-top: 60px;
    }
    .direct-chat-title {
        margin-top:60px;
    }
    .info-box-name, .info-box-statusedad, .price, .distancia, .info-box-desc, .info-box-foto {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .info-box .profile-user-img {
        /*width: 62px;*/
        max-height: 60px;
    }
    /*.info-box .profile-user-img img{
        width:62px;
        height:auto;
    }*/
    }