.skin-black{}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #222d32;
}
.skin-black .main-header {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.skin-black .main-header .logo{
	background-color: #111;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-black .main-header .navbar {
    background-color: #222;
}
.skin-black .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #222d32;
}