/*
 * Skin: SensRoom
 * ----------
 */
:root {
    --primary-color: #881216;
    --dark-color: #141414;
    --light-color: #dc3545;
    --border-color: #f4f4f4;
}
.skin-sensroom .main-header .navbar {
  background-color: #222;
}
.skin-sensroom .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-sensroom .main-header .navbar .nav > li > a:hover,
.skin-sensroom .main-header .navbar .nav > li > a:active,
.skin-sensroom .main-header .navbar .nav > li > a:focus,
.skin-sensroom .main-header .navbar .nav .open > a,
.skin-sensroom .main-header .navbar .nav .open > a:hover,
.skin-sensroom .main-header .navbar .nav .open > a:focus,
.skin-sensroom .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-sensroom .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-sensroom .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-sensroom .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-sensroom .main-header .navbar .sidebar-toggle:hover {
  background-color: #000;
}
.skin-sensroom .main-header .navbar .dropdown-menu li a:hover{
  background: #111 !important;
}
@media (max-width: 767px) {
  .skin-sensroom .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-sensroom .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-sensroom .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-sensroom .main-header .logo {
  background-color: #111;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-sensroom .main-header .logo:hover {
  background-color: #000;
}
.skin-sensroom .main-header li.user-header {
  background-color: #D4AD48;
}
.skin-sensroom .content-header {
  background: transparent;
}
.skin-sensroom .wrapper,
.skin-sensroom .main-sidebar,
.skin-sensroom .left-side {
    /*background: #000 url('../../img/bg_small_girl.png') center bottom no-repeat;*/
    background: #000;
}
.skin-sensroom.sidebar-collapse .main-sidebar {
    background: #000;
    background-image: none;
}
.skin-sensroom .user-panel > .info,
.skin-sensroom .user-panel > .info > a {
  color: #fff;
}
.skin-sensroom .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-sensroom .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-sensroom .sidebar-menu > li.active > a,
.skin-sensroom .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    /*background: #1e282c;*/
    background: url('../images/black-concreto.jpg')
}
.skin-sensroom .sidebar-menu > li:hover > a {
    background: none;
}
.skin-sensroom .sidebar-menu > li.active > a {
    border-left-color: var(--primary-color);
}
.skin-sensroom .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-sensroom .sidebar a {
  color: #b8c7ce;
}
.skin-sensroom .sidebar a:hover {
  text-decoration: none;
}
.skin-sensroom .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-sensroom .sidebar-menu .treeview-menu > li.active > a,
.skin-sensroom .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-sensroom .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-sensroom .sidebar-form input[type="text"],
.skin-sensroom .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-sensroom .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-sensroom .sidebar-form input[type="text"]:focus,
.skin-sensroom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-sensroom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-sensroom .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-sensroom.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-sensroom.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.label-yellow{
  background-color: #D4AD48 !important;
  color:#000 !important;
}
.label-red {
    background-color: var(--light-color);
    color:#fff;
}

.box.box-primary a:hover{
  color: var(--light-color) !important;
}
.box.box-primary a.btn:hover {
    color: #fff !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #D4AD48 transparent #D4AD48 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background: #eee;
}
.table-striped > tbody > tr:hover {
    background-color: #F0F0E1;
}


