/*
 * Skin: Luxx
 * ----------
 */
.skin-luxx .main-header .navbar {
  background-color: #222;
}
.skin-luxx .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-luxx .main-header .navbar .nav > li > a:hover,
.skin-luxx .main-header .navbar .nav > li > a:active,
.skin-luxx .main-header .navbar .nav > li > a:focus,
.skin-luxx .main-header .navbar .nav .open > a,
.skin-luxx .main-header .navbar .nav .open > a:hover,
.skin-luxx .main-header .navbar .nav .open > a:focus,
.skin-luxx .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-luxx .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-luxx .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-luxx .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-luxx .main-header .navbar .sidebar-toggle:hover {
  background-color: #000;
}
.skin-luxx .main-header .navbar .dropdown-menu li a:hover{
  background: #111 !important;
}
@media (max-width: 767px) {
  .skin-luxx .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-luxx .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-luxx .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-luxx .main-header .logo {
  background-color: #111;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-luxx .main-header .logo:hover {
  background-color: #000;
}
.skin-luxx .main-header li.user-header {
  background-color: #D4AD48;
}
.skin-luxx .content-header {
  background: transparent;
}
.skin-luxx .wrapper,
.skin-luxx .main-sidebar,
.skin-luxx .left-side {
  background-color: #000;
}
.skin-luxx .user-panel > .info,
.skin-luxx .user-panel > .info > a {
  color: #fff;
}
.skin-luxx .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-luxx .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-luxx .sidebar-menu > li:hover > a,
.skin-luxx .sidebar-menu > li.active > a,
.skin-luxx .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e282c;
}
.skin-luxx .sidebar-menu > li.active > a {
  border-left-color: #D4AD48;
}
.skin-luxx .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-luxx .sidebar a {
  color: #b8c7ce;
}
.skin-luxx .sidebar a:hover {
  text-decoration: none;
}
.skin-luxx .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-luxx .sidebar-menu .treeview-menu > li.active > a,
.skin-luxx .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-luxx .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-luxx .sidebar-form input[type="text"],
.skin-luxx .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-luxx .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-luxx .sidebar-form input[type="text"]:focus,
.skin-luxx .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-luxx .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-luxx .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-luxx.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-luxx.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.label-yellow{
  background-color: #D4AD48 !important;
  color:#000 !important;
}

.box.box-primary a:hover{
  color:#D4AD48 !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #D4AD48 transparent #D4AD48 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



