﻿@model ProjectX.API.Models.Registro
@{
    ViewBag.Title = "Create User";

    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<link rel="manifest" href="/manifest.json">
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV8FVkncmQBt5K2fzSSLiDCooCXw_1IUE&callback=initMap"></script>*@

<meta name="keywords" content="Escorts, Escorts en monterrey, Escorts en Guadalajara, Escorts en CDMX, Escorts en Cancun, Sexoservicios,  agencia, modelos, exclusivas, buenotas, nalgonas, Independientes, putas, Chicas hermosas, encuentros ">
@*<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>*@

<div class="app-contant">
    <div class="bg-dark">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1" style="padding-top: 40px;">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="register p-20">
                            <div class="text-center mb-4">
                                <a href="~/HomePage"><img src="~/img/logo_sr.png" width="80px" /></a>
                            </div>
                            <h2 class="mb-2 text-center">Crear Usuario</h2>
                            <p class="text-center">Bienvenido, favor de crear cuenta</p>

                            @if (Model != null)
                            {
                                <div id="mensaje2" class="mensaje-alert">
                                    @Model.Error.ToString();
                                </div>

                            }

                            <div class="mt-3 mt-sm-5">
                                @using (Html.BeginForm("Registro", "CRegistro", FormMethod.Post))
                                {
                                <div class="row">
                                    <div class="col-12">
                                        <h4 id="mensaje" style="color:maroon"></h4>

                                        <div class="form-group">
                                            <label class="control-label" for="Alias">Elija Usuario</label>
                                            <input type="text" id="txtAlias" name="Alias" class="form-control" placeholder="6 a 12 caracteres sin espacios" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="Pass1">Ingresa una contraseña</label>
                                            <input type="password" id="Pass1" name="Pass1" class="form-control" placeholder="Ingresar contraseña" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="confPass">Vuelva colocar la misma contraseña</label>
                                            <input type="password" id="Pass2" name="Pass2" class="form-control" placeholder="Confirmar contraseña" />
                                        </div>
                                    </div>
                                    @if (ViewBag.codigo == null)
                                    {

                                        <div class="col-12">
                                            <div class="form-group form-check">
                                                <input class="form-check-input" type="checkbox" name="Ps" id="chkcode">
                                                <label class="form-check-label" for="chkcode" style="font-size:small">
                                                    Registrarse como prestador de servicios
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div id="divCodigo" style="display: none;">
                                                <input type="text" name="Codigo" id="txtcodigo" class="login-pass form-control" placeholder="Si cuentas con codigo SensRoom ingrsalo aquí" />
                                            </div>
                                            <h6 id="msmVar"></h6>
                                            <button type="submit" id="btnreg" class="btn btn-primary text-uppercase" style="width:100%;">Crear cuenta</button><br>

                                            <input type="hidden" name="Type" id="hftype" />
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="col-12">
                                            <div class="form-group form-check">
                                                <input class="form-check-input" type="checkbox" name="Ps" id="chkcode" checked>
                                                <label class="form-check-label" for="chkcode" style="font-size:small">
                                                    Registrarse como prestador de servicios
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div id="divCodigo" >
                                                <input type="text" name="Codigo" id="txtcodigo" class="login-pass form-control" value="@ViewBag.codigo" placeholder="Si cuentas con codigo SensRoom ingrsalo aquí" />
                                            </div>
                                            <h6 id="msmVar"></h6>
                                            <button type="submit" id="btnreg" class="btn btn-primary text-uppercase" style="width:100%;">Crear cuenta</button><br>

                                            <input type="hidden" name="Type" id="hftype" />
                                        </div>


                                    }



                                    <div class="col-12 mt-3">
                                        <div class="d-block d-sm-flex  align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="Tyc" id="acepto-terminos">
                                                <label class="form-check-label" for="acepto-terminos">
                                                    <a href="@Url.Action("tyc", "CRegistro")">Acepto términos y condiciones</a>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <div class="row">
                                    <div class="col-12">
                                        @*@Html.ActionLink("Iniciar sesion", "Login", "Account", null, null)*@
                                        @*<a href="http://10.26.38.22:59607/account/login">Iniciar Sesión</a>*@
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 bg-sensroom o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end login contant-->
