﻿@model ProjectX.API.Models.Registro
@{
    ViewBag.Title = "Membresía";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<link rel="manifest" href="/manifest.json">
<meta name="keywords" content="Escorts, Escorts en monterrey, Escorts en Guadalajara, Escorts en CDMX, Escorts en Cancun, Sexoservicios,  agencia, modelos, exclusivas, buenotas, nalgonas, Independientes, putas, Chicas hermosas, encuentros ">
<div class="app-contant">
    <div class="bg-dark">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1" style="padding-top: 40px;">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="register p-20">
                            <div class="text-center mb-4">
                                <a href="~/"><img src="~/img/logo_sr.png" width="100px" /></a>
                            </div>
                            <h2 class="mb-2 text-center">Membresía</h2>
                            <div class="mt-3 mt-sm-5">
                                <div class="row">
                                    <div class="col-12">
                                        @if (Model.Error == null)
                                        {
                                            if (Model.Type == null)
                                            {
                                                <input type="hidden" id="monto" value="2" />
                                                <span style="font-size:smaller">En Sensroom sabemos lo importante que es la privacidad, es por eso que no guardamos información sensible de nuestros miembros.</span>
                                                <br />
                                                <br />
                                                <span style="font-size:smaller">El costo de la membresia es de $2,499 MXN.</span><br />
                                                <span style="font-size:smaller">No hacemos cobros recurrentes.</span>
                                            }
                                            else
                                            {
                                                <input type="hidden" id="monto" value="1" />
                                                <span style="font-size:smaller">En Sensroom sabemos lo importante que es la privacidad, es por eso que no guardamos información sensible de nuestros miembros.</span>
                                                <br />
                                                <br />
                                                <span style="font-size:smaller">El costo de la membresia, con el descuento por tu código, es de $1,500 MXN.</span> <br />
                                                <span style="font-size:smaller">No hacemos cobros recurrentes.</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>@Model.Error.ToString()</span>
                                        }
                                        <div id="divPaypal" style="visibility:visible; padding-top:15px; text-align:center;">
                                            @if (Model.Error == null)
                                            {
                                                if (Model.Type == null)
                                                {
                                                    <div id="paypal-button-container">
                                                    </div>
                                                    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                                    <script>
                                                        // Render the PayPal button
                                                        paypal.Button.render({
                                                            // Set your environment
                                                            env: 'production', // sandbox | production

                                                            // Specify the style of the button
                                                            style: {
                                                                layout: 'vertical',  // horizontal | vertical
                                                                size: 'medium',    // medium | large | responsive
                                                                shape: 'rect',      // pill | rect
                                                                color: 'gold'       // gold | blue | silver | white | black
                                                            },
                                                            // Specify allowed and disallowed funding sources
                                                            //
                                                            // Options:
                                                            // - paypal.FUNDING.CARD
                                                            // - paypal.FUNDING.CREDIT
                                                            // - paypal.FUNDING.ELV
                                                            funding: {
                                                                allowed: [
                                                                    paypal.FUNDING.CARD,
                                                                    paypal.FUNDING.CREDIT
                                                                ],
                                                                disallowed: []
                                                            },
                                                            // Enable Pay Now checkout flow (optional)
                                                            commit: true,

                                                            // PayPal Client IDs - replace with your own
                                                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                                            client: {
                                                                //sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                                                                //AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo mayra yanira
                                                                //Ad9Rz6P5LDqPW0-biEzgZRR0kyjssNC2qQ6PiH6g4-8l8PCxlr_XtYmSFY49LlZnC0lXmYJAkLa8rsmn alejandro martinez
                                                                production: 'AZ0jniEvtEf5ojcSSZtJylgmJ4QfO8m3gaBjf3A7ZtHuefU2z4li1BRvrEtQCmTyNrY0v8tBkkhWlpIN'
                                                            },
                                                            payment: function (data, actions) {
                                                                return actions.payment.create({
                                                                    payment: {
                                                                        transactions: [
                                                                            {
                                                                                amount: {
                                                                                    total: 2499,
                                                                                    currency: 'MXN'
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                });
                                                            },
                                                            onAuthorize: function (data, actions) {
                                                                return actions.payment.execute()
                                                                    .then(function () {
                                                                        $.ajax({
                                                                            type: "POST",
                                                                            data: { 'lat': sessionStorage["latitud"], 'lon': sessionStorage["longitud"] },
                                                                            url: "/CRegistro/pagopaypal",
                                                                            success: function (data) {

                                                                                 window.location.href = 'http://sens-room.com/Xlist';
                                                                                //window.location.href = 'http://localhost:8080/Xlist';
                                                                            }
                                                                        });
                                                                        window.alert('Payment Complete!');
                                                                    });
                                                            }
                                                        }, '#paypal-button-container');
                                                    </script>
                                                    @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                            <input type="hidden" name="cmd" value="_s-xclick">
                                                            <input type="hidden" name="hosted_button_id" value="MRZU6JLWBDS5S">
                                                            <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                                            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                                        </form>*@
                                                }
                                                else
                                                {
                                                    <div id="paypal-button-container">
                                                    </div>
                                                    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                                    <script>
                                                        // Render the PayPal button
                                                        paypal.Button.render({
                                                            // Set your environment
                                                            env: 'production', // sandbox | production

                                                            // Specify the style of the button
                                                            style: {
                                                                layout: 'vertical',  // horizontal | vertical
                                                                size: 'medium',    // medium | large | responsive
                                                                shape: 'rect',      // pill | rect
                                                                color: 'gold'       // gold | blue | silver | white | black
                                                            },
                                                            // Specify allowed and disallowed funding sources
                                                            //
                                                            // Options:
                                                            // - paypal.FUNDING.CARD
                                                            // - paypal.FUNDING.CREDIT
                                                            // - paypal.FUNDING.ELV
                                                            funding: {
                                                                allowed: [
                                                                    paypal.FUNDING.CARD,
                                                                    paypal.FUNDING.CREDIT
                                                                ],
                                                                disallowed: []
                                                            },
                                                            // Enable Pay Now checkout flow (optional)
                                                            commit: true,

                                                            // PayPal Client IDs - replace with your own
                                                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                                            client: {
                                                                sandbox: 'ATkeRvFIf4GvYo3cZFUydpcIzJ9KhjWLK03gIoN6ETIfSnVGvP6Cn31BVsfxRwhDjGLZVniKoaXfCTxg',
                                                                //AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo mayra yanira
                                                                //Ad9Rz6P5LDqPW0-biEzgZRR0kyjssNC2qQ6PiH6g4-8l8PCxlr_XtYmSFY49LlZnC0lXmYJAkLa8rsmn alejandro martinez
                                                                //production: 'AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo'
                                                            },
                                                            payment: function (data, actions) {
                                                                return actions.payment.create({
                                                                    payment: {
                                                                        transactions: [
                                                                            {
                                                                                amount: {
                                                                                    total: 2499 ,
                                                                                    currency: 'MXN'
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                });
                                                            },
                                                            onAuthorize: function (data, actions) {
                                                                return actions.payment.execute()
                                                                    .then(function () {
                                                                        $.ajax({
                                                                            type: "POST",
                                                                            data: { 'lat': sessionStorage["latitud"], 'lon': sessionStorage["longitud"] },
                                                                            url: "/CRegistro/pagopaypal",
                                                                            success: function (data) {
                                                                                window.location.href = 'http://localhost:8080/Xlist';
                                                                                // window.location.href = 'http://sens-room.com/Xlist';
                                                                            }
                                                                        });

                                                                        window.alert('Payment Complete!');
                                                                    });
                                                            }
                                                        }, '#paypal-button-container');
                                                    </script>
                                                    @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                            <input type="hidden" name="cmd" value="_s-xclick">
                                                            <input type="hidden" name="hosted_button_id" value="YE848PKLEUWQS">
                                                            <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                                            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                                        </form>*@
                                                }

                                            }
                                            else
                                            {
                                                <span>@Model.Error.ToString()</span>
                                            }
                                        </div>                               
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 bg-sensroom o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @*<button id="enter" onclick="myFunction()" >entrar</button>*@
</div>
<script>
    function myFunction() {       
        $.ajax({
            type: "POST",
            data: { 'lat': sessionStorage["latitud"], 'lon': sessionStorage["longitud"] },
            url: "/CRegistro/pagopaypal",
            success: function (data) {
                window.location.href = 'http://localhost:8080/Xlist';
                    //window.location.href = 'http://sens-room.com/Xlist';
            }
        });
    }
</script>
