﻿@model ProjectX.API.Models.Registro
@{
    Layout = null;
}


<head>
    <title>Membresia</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <link rel="stylesheet" href="~/Content/css/login.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
    <link rel="icon" href="~/Content/images/favicon.png">

    <!-- Global site tag (gtag.js) - Google Ads: 764584653 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-764584653"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-764584653');</script>
</head>



<body class="is-preload code-page flexfix">
    <div class="main">
        <div class="container" style="padding-top:50px;">

            @*<div class="alert alert-danger">
                    <strong></strong> Servicio disponible por el momento solo en CDMX, GDL, MTY y Cancún.
                </div>*@

            <div>
                <div class="col-md-4">
                    <div class="login-form">
                        <h1 class="logo"></h1>
                        <div class="col-md-12" style="margin-bottom:15px; line-height:15px">
                            @if (Model.Error == null)
                            {
                                if (Model.Type == null)
                                {
                                    <input type="hidden" id="monto" value="3000" />
                                    <span style="font-size:smaller">En sens-room sabemos lo importante que es la privacidad, es por eso que no guardamos información sensible de nuestros miembros.</span>
                                    <br />
                                    <br />
                                    <span style="font-size:smaller">El costo de la membresia es de $1,500 MXN.</span><br />
                                    <span style="font-size:smaller">No hacemos cobros recurrentes.</span>


                                }
                                else
                                {
                                    <input type="hidden" id="monto" value="1500" />
                                    <span style="font-size:smaller">En sens-room sabemos lo importante que es la privacidad, es por eso que no guardamos información sensible de nuestros miembros.</span>
                                    <br />
                                    <br />
                                    <span style="font-size:smaller">El costo de la membresia, con el descuento por tu código, es de $1,500 MXN.</span> <br />
                                    <span style="font-size:smaller">No hacemos cobros recurrentes.</span>
                                }
                            }
                            else
                            {
                                <span>@Model.Error.ToString()</span>
                            }



                            @*<div id="fomaspago" style="text-align:center;">
                                    <h4>Seleccione la forma de pago</h4>
                                    <button type="submit" value="TDC" id="btntdc" class="btn btn-black">TDC</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" value="PayPal" id="btnpp" class="btn btn-black">PayPal</button>
                                </div>*@
                            <div id="divPaypal" style="visibility:visible; padding-top:15px; text-align:center;">
                                @if (Model.Error == null)
                                {
                                    if (Model.Type == null)
                                    {

                                        <div id="paypal-button-container">

                                        </div>


                                        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                        <script>


                                            // Render the PayPal button
                                            paypal.Button.render({
                                                // Set your environment
                                                env: 'production', // sandbox | production

                                                // Specify the style of the button
                                                style: {
                                                    layout: 'vertical',  // horizontal | vertical
                                                    size: 'medium',    // medium | large | responsive
                                                    shape: 'rect',      // pill | rect
                                                    color: 'gold'       // gold | blue | silver | white | black
                                                },

                                                // Specify allowed and disallowed funding sources
                                                //
                                                // Options:
                                                // - paypal.FUNDING.CARD
                                                // - paypal.FUNDING.CREDIT
                                                // - paypal.FUNDING.ELV
                                                funding: {
                                                    allowed: [
                                                        paypal.FUNDING.CARD,
                                                        paypal.FUNDING.CREDIT
                                                    ],
                                                    disallowed: []
                                                },

                                                // Enable Pay Now checkout flow (optional)
                                                commit: true,

                                                // PayPal Client IDs - replace with your own
                                                // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                                client: {
                                                    //sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                                                    //AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo mayra yanira
                                                    //Ad9Rz6P5LDqPW0-biEzgZRR0kyjssNC2qQ6PiH6g4-8l8PCxlr_XtYmSFY49LlZnC0lXmYJAkLa8rsmn alejandro martinez
                                                    production: 'AZ0jniEvtEf5ojcSSZtJylgmJ4QfO8m3gaBjf3A7ZtHuefU2z4li1BRvrEtQCmTyNrY0v8tBkkhWlpIN'
                                                },

                                                payment: function (data, actions) {
                                                    return actions.payment.create({
                                                        payment: {
                                                            transactions: [
                                                                {
                                                                    amount: {
                                                                        total: 1500,
                                                                        currency: 'MXN'
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    });
                                                },

                                                onAuthorize: function (data, actions) {
                                                    return actions.payment.execute()
                                                        .then(function () {
                                                            $.ajax({
                                                                type: "POST",
                                                                data: { 'lat': sessionStorage["latitud"], 'lon': sessionStorage["longitud"] },
                                                                url: "/CRegistro/pagopaypal",
                                                                success: function (data) {

                                                                    window.location.href = 'https://sens-room.com/Tlist';
                                                                    //window.location.href = 'http://localhost:8080/Tlist';
                                                                }
                                                            });
                                                            window.alert('Payment Complete!');
                                                        });
                                                }
                                            }, '#paypal-button-container');
                                        </script>


                                        @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="MRZU6JLWBDS5S">
                                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                            </form>*@
                                    }
                                    else
                                    {


                                        <div id="paypal-button-container">

                                        </div>


                                        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                        <script>

                                            // Render the PayPal button
                                            paypal.Button.render({
                                                // Set your environment
                                                env: 'production', // sandbox | production

                                                // Specify the style of the button
                                                style: {
                                                    layout: 'vertical',  // horizontal | vertical
                                                    size: 'medium',    // medium | large | responsive
                                                    shape: 'rect',      // pill | rect
                                                    color: 'gold'       // gold | blue | silver | white | black
                                                },

                                                // Specify allowed and disallowed funding sources
                                                //
                                                // Options:
                                                // - paypal.FUNDING.CARD
                                                // - paypal.FUNDING.CREDIT
                                                // - paypal.FUNDING.ELV
                                                funding: {
                                                    allowed: [
                                                        paypal.FUNDING.CARD,
                                                        paypal.FUNDING.CREDIT
                                                    ],
                                                    disallowed: []
                                                },

                                                // Enable Pay Now checkout flow (optional)
                                                commit: true,

                                                // PayPal Client IDs - replace with your own
                                                // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                                client: {
                                                    //sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                                                    //AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo mayra yanira
                                                    //Ad9Rz6P5LDqPW0-biEzgZRR0kyjssNC2qQ6PiH6g4-8l8PCxlr_XtYmSFY49LlZnC0lXmYJAkLa8rsmn alejandro martinez
                                                    production: 'AeLA69-h-EVtNVs0qMXPHm2vGSouKKvjvx9eqZ9z-Xhy9P081t7dXWUEES1q6-dKZz-YAdL4vvt8OKlo'
                                                },

                                                payment: function (data, actions) {
                                                    return actions.payment.create({
                                                        payment: {
                                                            transactions: [
                                                                {
                                                                    amount: {
                                                                        total: 1500,
                                                                        currency: 'MXN'
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    });
                                                },

                                                onAuthorize: function (data, actions) {
                                                    return actions.payment.execute()
                                                        .then(function () {
                                                            $.ajax({
                                                                type: "POST",
                                                                data: { 'lat': sessionStorage["latitud"], 'lon': sessionStorage["longitud"] },
                                                                url: "/CRegistro/pagopaypal",
                                                                success: function (data) {
                                                                    // window.location.href = 'http://localhost:8080/Tlist';
                                                                    window.location.href = 'https://sens-room.com/Tlist';
                                                                }
                                                            });

                                                            window.alert('Payment Complete!');
                                                        });
                                                }
                                            }, '#paypal-button-container');
                                        </script>
                                        @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="YE848PKLEUWQS">
                                                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                            </form>*@
                                    }

                                }
                                else
                                {
                                    <span>@Model.Error.ToString()</span>
                                }



                                @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="B3D6L4LEFHJYQ">
                                        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                    </form>*@


                            </div>

                            @*<div id="divtdc" style="visibility:hidden; margin-top:-70px;" class="row">

                                    <form action="Membresia" method="POST" id="card-form">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>Nombre del tarjetahabiente</span>
                                                <input class="login-pass" type="text" data-conekta="card[name]">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>Número de tarjeta de crédito</span>
                                            </div>
                                            <div class="col-md-8 col-xs-8">
                                                <input class="login-pass" type="text" maxlength="16" data-conekta="card[number]" maxlength="16" placeholder="Número de tarjeta">
                                            </div>
                                            <div class="col-md-4 col-xs-4">
                                                <input class="login-pass" type="text" data-conekta="card[cvc]" placeholder="CVC">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>Fecha de expiración</span>
                                            </div>
                                            <div class="col-md-4 col-xs-4">
                                                <input class="login-pass" type="text" data-conekta="card[exp_month]" maxlength="2" placeholder="MM">
                                            </div>
                                            <div class="col-md-5 col-xs-5">
                                                <input class="login-pass" type="text" data-conekta="card[exp_year]" maxlength="4" placeholder="AAAA">
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-black" style="width:100%;">Comprar membresía</button>
                                    </form>
                                </div>*@
                            @*<p style="font-size:x-small">La disponibilidad depende directamente de tu ubicación geográfica y las personas que estén activas en un radio de 40 km.</p>
                            <p style="font-size:x-small">No aseguramos que haya disponibilidad, pero estamos trabajando para que siempre haya alguien cerca de ti.</p>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

        <script src="~/Content/js/jquery.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Scripts/functions.js"></script>
        <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

        <script>



                                                //Conekta.setPublicKey('key_csXHrmyZq4EbkfcPTrqsnjg');//llave pública      key_csXHrmyZq4EbkfcPTrqsnjg  <-- produccion //  key_CWq4i4kpX6TdaqWeo8RmcxA  <-- pruebas

                                                //var conektaSuccessResponseHandler = function (token) {
                                                //    var $form = $("#card-form");
                                                //    //Inserta el token_id en la forma para que se envíe al servidor
                                                //    $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
                                                //    $form.get(0).submit(); //Hace submit
                                                //};
                                                //var conektaErrorResponseHandler = function (response) {
                                                //    var $form = $("#card-form");
                                                //    $form.find(".card-errors").text(response.message_to_purchaser);
                                                //    $form.find("button").prop("disabled", false);
                                                //};

                                                ////jQuery para que genere el token después de dar click en submit
                                                //$(function () {
                                                //    $("#card-form").submit(function (event) {
                                                //        var $form = $(this);
                                                //        // Previene hacer submit más de una vez
                                                //        $form.find("button").prop("disabled", true);
                                                //        Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
                                                //        return false;
                                                //    });
                                                //});

                                                //$("#btntdc").click(function () {
                                                //    $("#divtdc").css('visibility', 'visible');
                                                //    $("#divPaypal").css('visibility', 'hidden');
                                                //});

                                                //$("#btnpp").click(function () {
                                                //    $("#divtdc").css('visibility', 'hidden');
                                                //    $("#divPaypal").css('visibility', 'visible');
                                                //});


        </script>



