﻿@model ProjectX.API.Models.Registro
<script src="~/Bootstrap/js/bootstrap.min.js"></script>
<link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />



@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />

<!-- Global site tag (gtag.js) - Google Ads: 764584653 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-764584653"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-764584653');</script>



<body class="is-preload code-page flexfix">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="login-form">
                        <h1 class="logo"></h1>

                        <div style="margin-top:25px; line-height:20px; padding:10px">
                            <h4 style="color:#D4AD48">¿Qué es sensroom?</h4>
                            <p align="left">
                                SensRoom es una red social para adultos.
                            </p>
                            <p align="left">
                                Los usuarios podrán mandar invitaciones a personas de su interés.
                            </p>
                        </div>

                        @*<div class="row login-info">
                            <div class="col-6 text-center">
                                @Html.ActionLink("Echa un vistazo", "TIndex", "Muestra", null, new { @class = "form-horizontal" })
                            </div>
                            <div class="col-6 text-center">
                            
                            </div>
                        </div>*@
                        <br />

                        <div class="container">
                            <h4 id="mensaje" style="color:maroon"></h4>
                            @if (Model != null)
                            {
                                <div id="mensaje2" class="mensaje-alert">
                                    @Model.Error.ToString()
                                </div>

                            }

                            @using (Html.BeginForm("RegistroT", "CRegistro", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Alias" class="control-label">
                                                Elija Usuario
                                            </label>
                                            <input type="text" class="login-user" id="txtAlias" name="Alias" placeholder="6 a 12 caracteres sin espacios">
                                        </div>
                                        <div class="form-group">
                                            <label for="Pass1" class="control-label">
                                                Ingresa una contraseña
                                            </label>
                                            <input type="password" class="login-pass" id="Pass1" name="Pass1" placeholder="Ingresar contraseña">
                                        </div>
                                        <div class="form-group">
                                            @*<label for="repass" class="control-label">
                                Confirmar contraseña
                            </label>*@
                                            <input type="password" class="login-pass" id="Pass2" name="Pass2" placeholder="Confirmar contraseña">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" name="Tyc" id="acepto-terminos" />
                                            <label class="form-check-label" for="acepto-terminos" style="font-size:small">
                                                <a href="@Url.Action("tyc", "CRegistro")">Acepto términos y condiciones</a>

                                            </label>


                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="chkcode">
                                            <label class="form-check-label" for="chkcode" style="font-size:small">
                                                ¿Cuentas con código?
                                            </label>
                                        </div>
                                    </div>*@

                                    <div class="col-md-12">
                                        <div id="divCodigo" style="display: none;">
                                            <input type="text" name="Codigo" id="txtcodigo" class="login-pass" placeholder="Ingresar código LUXX" />
                                        </div>
                                        <h6 id="msmVar"></h6>
                                        <button type="submit" id="btnreg" class="btn btn-primary" style="width:100%;">Crear cuenta</button><br>

                                        <input type="hidden" name="Type" id="hftype" />
                                    </div>
                                </div>
                                <br />

                                <!-- Signup Form -->
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    @*@Html.ActionLink("Iniciar sesion", "Login", "Account", null, null)*@
                                    @*<a href="http://10.26.38.22:59607/account/login">Iniciar Sesión</a>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>



        $("#acepto-terminos").click(function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });

        $("#divCodigo").css("display", "none");
        $("#txtcodigo").val(null)

        $(document).ready(function () {
            $("#txtAlias").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/CRegistro/ValidaAlisB',
                    data: { alias: $('#txtAlias').val() },
                    success: function (data) {
                        console.log("alias ", data)
                        if (data == "True") {
                            $("#mensaje").hide();
                            $("#mensaje2").hide();

                        } else {
                            $("#mensaje").html("Alias no disponible");
                            $("#mensaje2").hide();
                            $("#txtAlias").val("");
                            //agrgar tache y limpiar el campo
                        }
                    },
                });
            });


            $("#txtcodigo").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/CRegistro/ValidaCodigo',
                    data: { codigo: $('#txtcodigo').val() },

                    success: function (data) {

                        if (data == 1) {
                            $("#hftype").val(data);
                            $("#msmVar").html("Codigo para obtner una membresia SensRoom con 50% de descuento");
                            $("#divtdc").show();

                        } else if (data == 2) {
                            $("#hftype").val(data);
                            $("#msmVar").html("Codigo para ser socio SensRoom");

                            //agrgar tache y limpiar el campo
                        }
                        else {
                            $("#hftype").val(null);
                            $("#msmVar").html("error en código");
                        }
                    },
                });
            });

            $("#chkcode").click(function () {

                if ($(this).is(':checked')) {

                    $("#divCodigo").css("display", "block");

                }
                else {
                    $("#divCodigo").css("display", "none");
                    $("#txtcodigo").val(null)

                }
            });
        });
    </script>
