﻿
@{
    ViewBag.Title = "Términos y condiciones - SensRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="margin-left:0px;">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <center><a href="~/"><img src="~/img/logo_sr.png" alt="" style="width:150px" /></a></center>
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 style="text-align:center;">Términos y condiciones</h2>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <p>
                                SensRoom (“Nosotros” o el “Sitio” o “SensRoom” o “Plataforma”) marca propiedad de la empresa ofrece un medio interactivo digital para que los usuarios del Sitio (los “Usuarios”) se comuniquen, se conozcan y puedan ampliar su red de conocidos y/o prospectos. SensRoom es simplemente una red social que permite que las personas se puedan conocer. No fomentamos ni apoyamos ningún comportamiento ilegal en ninguna jurisdicción en la que esta red social está habilitada. Los términos y condiciones establecidos a continuación constituyen un acuerdo (los “Términos”) que rigen el uso del Sitio. Al utilizar o acceder al Sitio, Usted (“Usted”) acepta regirse por (1) los Términos, (2) la política de privacidad de SensRoom, que encontrará en este documento como “Política de privacidad” y (3) las leyes y normativas aplicables. Lea atentamente estos Términos antes de utilizar la Plataforma; si no está de acuerdo con los ellos o con la Política de Privacidad, no acceda a ella ni la use, así como tampoco la información que éste contiene.
                                Nos reservamos el derecho, a nuestra entera discreción, de modificar estos Términos en cualquier momento. Las versiones actualizadas dejan sin efecto y reemplazan a todas las versiones anteriores al ser publicadas, y la versión anterior ya no tendrá validez, a menos que especifiquemos lo contrario. Indicaremos la última fecha de actualización al final de estos Términos.  Usted acepta tener en cuenta la última fecha de actualización de la revisión que lea y acepta revisar periódicamente estos términos para ver si se han introducidos cambios. Si se ha modificado la última fecha de actualización, sabrá que hemos introducido cambios en los Términos y que debe revisarlos para determinar la manera en que han cambiado y como afecta a los Usuarios y sus responsabilidades. El uso de la Plataforma después de la publicación de cambios a estos Términos indicará que usted acepta esos cambios. También se le exigirá que acepte estos Términos y cualquier modificación relevante de ellos de manera afirmativa.
                                Usted no puede usar la Plataforma si no tiene al menos 18 años y/o la mayoría de edad o edad de consentimiento legal en la jurisdicción en la que vive o reside y la capacidad de derecho para obligarse en función de estos Términos.  Tampoco puede usar la Plataforma si lo han condenado alguna vez por un delito sexual, o si tiene actualmente una acusación por algún delito de naturaleza sexual.
                                Este acuerdo legal se celebra entre Usted y Nosotros. Al acceder a la Plataforma, está aceptando estos Términos y acepta regirse por ellos, por las condiciones y por los avisos que ellos contengan o a los que ellos hagan referencia. Si no está de acuerdo con estos Términos, no use la Plataforma y no ingrese a él.
                            </p>
                            <h3>
                                1. CONDUCTA DEL USUARIO
                            </h3>
                            <p>
                                Al utilizar la Plataforma, Usted acepta actuar responsablemente y demostrando que tiene buen juicio. Por ejemplo, usted acepta no realizar lo siguiente:
                                Violar leyes o reglamentaciones vigentes; o infringir los derechos de terceros,
                                Utilizar la información disponible a través de nuestro Sitio para fines ilícitos;
                                Interferir con nuestro el Sitio o dañarlo mediante el uso, entre otras cosas, de virus, etc.,
                                “Perseguir” o acosar a otros usuarios de SensRoom;
                                Publicar, cargar o transmitir información o contenido falso, engañoso o ilegal en el Sitio; así como realizar declaraciones falsas, intentar usar o usar información personal, financiera o de otro tipo que no tenga autorización para usar;
                                Recopilar o almacenar datos personales acerca de los Usuarios sin su consentimiento.
                            </p>
                            <h3>2. SUS INTERACCIONES CON OTROS USUARIOS DE LA PLATAFORMA</h3>
                            <p>
                                Usted es el único responsable de la manera como se relaciona con otros Usuarios de SensRoom, incluso del contenido, los materiales, la información y mensajes que publica en el Sitio o envía  a otros Usuarios. Así mismo, Usted, acepta tomar precauciones en todas las comunicaciones con otros Usuarios de SensRoom y mayor precaución si, en especial, decide encontrarse con algún otro Usuario en persona.
                                Acepta que Nosotros no seremos responsables de daños que resulten del uso de la Plataforma o de su comunicación o encuentros con otros Usuarios. Si bien Nosotros hacemos lo posible por filtrar a los Usuarios, Usted entiende y reconoce que no pre-aprobamos a ninguno de los Usuarios ni investigamos sus antecedentes, como tampoco intentamos verificar sus declaraciones. No realizamos verificaciones de antecedentes penales ni de otro tipo a nuestros Usuarios. En ningún caso, seremos responsables de daños de cualquier tipo, sean directos, indirectos, generales, especiales, compensatorios, emergentes, punitorios o incidentales que se produzcan como consecuencia o en relación con su conducta o la de cualquier otra persona por el uso de la Plataforma, lo que incluye, entre otros, lesiones o daños corporales, violencia física o verbal, engaños, fraudes, perturbación emocional u otros daños que ocurran como resultado del encuentro entre Usuarios de SensRoom.
                                No somos responsables del uso que hagan otras personas de la información que Usted les proporcione ni tampoco podemos controlarlo, por lo que debería ser cauteloso al seleccionar la información personal que proporciona a otros a través de la Plataforma.
                                Usted es el único responsable de sus encuentros con otros Usuarios. Acepta eximir de responsabilidad, tanto a SensRoom, así como a nuestros accionistas, ejecutivos, directores, asesores, consultores, empleados, etc., sobre todo reclamo, demanda, daño, pérdida o responsabilidad de cualquier tipo -sea conocida o desconocida, directa y contingente, divulgada o no- que surja de cualquier controversia al usar el Sitio o esté vinculada con el uso que de él de Usted.
                            </p>
                            <h3>
                                3.MENORES
                            </h3>
                            <p>
                                SensRoom está dirigido únicamente para personas mayores de 18 años o que hayan alcanzado la mayoría de edad y la edad de consentimiento legal en la jurisdicción donde residen. No permitiremos, si tenemos conocimiento de ello, que las personas que no cumplan con estos criterios utilicen la Plataforma. Al utilizar el Sitio, usted declara y garantiza que tiene al menos 18 años y que tiene el derecho, la autoridad y la capacidad de aceptar estos Términos y de atenerse a ellos. También declara y garantiza que no permitirá que ningún menor acceda a esta Plataforma.
                                También acepta que Nosotros no seremos responsables de ningún malentendido respecto de la edad de un Usuario, o del uso no autorizado de este Sitio por parte de un menor.
                            </p>
                            <h3>
                                4. EL SERVICIO SensRoom: REGISTRO, USO Y CANCELACIÓN
                            </h3>
                            <p>
                                Los Usuarios de SensRoom podrán ingresar a la Plataforma exclusivamente al ser admitidos por un Usuario previamente registrado y/o pagar una membresía de 90 días. Los Usuarios del SensRoom deben, en algunos casos, crearse un perfil para poder acceder a este.
                                Algunos Usuarios de SensRoom podrán poner a disposición de otros Usuarios, o solicitar de ellos, una entrevista en persona. Al ser Usuario acepta que el encuentro en persona entre Usuarios de la Plataforma tendrá exclusivamente fines sociales, de entretenimiento, profesionales o de negocios, por ningún motivo la entrevista entre Usuarios del Sitio podrá tener algún fin ilícito o fuera de la Ley.
                                Los Usuarios que así lo deseen, podrán solicitar un honorario como contraprestación por el tiempo invertido en la entrevista solicitada por otro Usuario. La contraprestación será pagada por el Usuario que solicita la entrevista al Usuario con el que desea reunirse para fines sociales, de entretenimiento, profesionales o de negocios. El Usuario que recibe la invitación de otro Usuario a una entrevista o encuentro en persona, no está obligado a aceptarlo, y si acepta la invitación, el Usuario que recibe la contraprestación no asume ninguna responsabilidad ni obligación adicional que la asistencia durante el tiempo acordado a la entrevista en persona para los fines establecidos previamente en su cita.
                                SensRoom cobrará una comisión al Usuario que solicite una entrevista en persona con algún otro Usuario del Sitio. La comisión de SensRoom será un 20% de la contraprestación solicitada por el Usuario que recibe la invitación y servirá como cuota publicitaria con la que SensRoom puede promover a los Usuarios entre sí, y el cobro de dicha comisión será efectuado con anterioridad a cualquier notificación a otros Usuarios. El servicio otorgado por SensRoom a los Usuarios será el de facilitar la comunicación entre ellos y poderlos presentar exclusivamente para fines sociales, de entretenimiento, profesionales o de negocios y por ningún motivo el encuentro entre Usuarios podrá tener algún fin ilícito o fuera de la Ley. En caso de que la invitación a un encuentro en persona sea rechazada, cualquier monto pagado a SensRoom podrá ser usado exclusivamente para hacer otra invitación, y no podrá por ningún motivo ser reembolsada.
                                Nos reservamos el derecho de modificar nuestra política de precios o la forma en que cobramos por nuestro Servicio en cualquier momento y a nuestra entera discreción, sin más aviso.
                                Si el Usuario no inicia sesión en la cuenta por 90 días, nos reservamos el derecho de cancelar el acceso a la plataforma. Así mismo, Usted reconoce y acepta que, a nuestra entera discreción, podremos cancelar su acceso a la Plataforma por cualquier motivo, incluso, entre otros, por incumplir o violar estos Términos. Usted entiende que no estamos obligados a revelar las razones por las cuales cancelamos el acceso su acceso a la Plataforma, incluso podríamos prohibirlo completamente. Reconoce y acepta que la cancelación de su acceso a la plataforma podrá realizarse sin notificación previa, y también acepta y reconoce que podremos desactivar o eliminar inmediatamente cualquiera de sus cuentas, así como toda información relacionada y archivos en tales cuentas, o prohibir el acceso a dichos archivos. Además, reconoce y acepta que no seremos responsables ante Usted ni terceros por costos o daños de ningún tipo que resulten de la cancelación de su acceso a la Plataforma.
                                Usted podrá cancelar su acceso a la Plataforma en cualquier momento a través de nuestro Sitio. También podrá seleccionar la opción “Eliminación completa del perfil”, que se ofrece por separado de la cancelación básica. Esta característica eliminará cualquier archivo en la Plataforma y ya no se podrá recuperar.
                                El uso de la Plataforma también está regido por nuestra Política de Privacidad. Usted acepta que, al registrar un Perfil o utilizar nuestro la Plataforma, estará aceptando nuestra Declaración de Privacidad. Usted reconoce que, si bien hacemos todo lo posible por mantener la seguridad necesaria para proteger sus datos personales, no podemos garantizar la seguridad o la privacidad de la información que usted proporciona a través de Internet o de sus mensajes de correo electrónico. Nuestra Política de Privacidad queda incorporada a los Términos mediante esta referencia. Acepta eximirnos de responsabilidad, tanto a nosotros como a nuestra casa matriz, nuestras subsidiarias y entidades afiliadas, así como a nuestros accionistas, ejecutivos, directores, empleados y agentes, sucesores y cesionarios sobre todo reclamo, demanda, daño, pérdida o responsabilidad de cualquier tipo –sea conocida o desconocida, directa y contingente, divulgada o no– que surja de la divulgación o uso de dicha información por parte de terceros.
                            </p>
                            <h3>
                                5. CONTENIDO DEL USUARIO
                            </h3>
                            <p>
                                A. Al enviar contenidos (como, entre otros, su(s) fotografías o información de su perfil o de otro tipo) a nuestra Plataforma, Usted declara y nos garantiza que tal contenido, incluso su fotografía, es publicado por Usted y que Usted es el autor exclusivo del contenido, incluso su fotografía, y que el uso que hagamos nosotros de su contenido no infringirá ni violará propiedad intelectual ni otros derechos de terceros. Renuncia absolutamente a todos los derechos morales de ser identificado como autor del contenido, incluso su fotografía y perfil, y derechos similares en cualquier jurisdicción del mundo. Al enviar contenidos (incluso, entre otros, su fotografía y perfil) a nuestra Plataforma, usted automáticamente otorga, y declara y garantiza que tiene derecho a otorgar, un derecho ilimitado, perpetuo, mundial, no exclusivo, libre de regalías, irrevocable y transferible.
                                No tenemos ninguna obligación de eliminar su perfil, fotografía e información de nuestra Plataforma, incluso después de haber cancelado su cuenta, a menos que utilice la opción Eliminación completa del perfil.  Usted declara y nos garantiza que tiene derecho absoluto de otorgar la licencia y los otros derechos antes mencionados.
                                También entiende y acepta que no podemos garantizar la precisión de la información provista por otros Usuarios de la Plataforma, y que no asumimos ningún compromiso de verificarla.
                                Todos los contenidos de SensRoom se proporcionan tal como los recibimos.  Los contenidos son responsabilidad de la persona que los originó. Usted entiende y acepta que, bajo ninguna circunstancia, seremos nosotros responsables por cualquier pérdida, responsabilidad o daño en el que incurra como resultado de su uso del contenido que está en nuestro Sitio.
                            </p>
                            <h3>
                                6. USO NO COMERCIAL
                            </h3>
                            <p>
                                Usted comprende y acepta que esta Plataforma son solo para uso personal y no podrán emplearse para fines comerciales. Las organizaciones, compañías o empresas independientes no podrán utilizar la Plataforma para ningún fin. Los usos ilegales o no autorizados de nuestra Plataforma, que incluyen prostitución, fraude financiero, recopilación de nombres de usuario o direcciones de correo electrónico de usuarios por medios electrónicos o de otro tipo podrán ser investigados, y se tomarán medidas legales adecuadas en cumplimiento de las leyes aplicables.
                            </p>
                            <h3>
                                7.  NOMBRE DE USUARIO Y CONTRASEÑA
                            </h3>
                            <p>
                                Al completar el proceso de registro, Usted deberá seleccionar un nombre de usuario y una contraseña. Acepta no elegir un nombre que indique que Usted es otra persona o que viole de otra forma los derechos de un tercero. Podremos rehusarnos a otorgarle un nombre de usuario/apodo que sirva para hacerse pasar por otro individuo, que esté protegido por una marca comercial o leyes sobre propiedad o que sea vulgar u ofensivo, según lo determinemos a nuestra entera discreción. Su nombre de usuario y contraseña no son transferibles y no pueden cederse.  Usted es el único responsable de mantener la confidencialidad de su nombre de usuario y contraseña, y el único responsable de las actividades que se realicen bajo su nombre de usuario y contraseña.
                            </p>
                            <h3>
                                8.  INTERRUPCIÓN DEL SERVICIO
                            </h3>
                            <p>
                                Nos reservamos el derecho de modificar o interrumpir, sea temporal o permanentemente, cualquier uso o servicio de la Plataforma, con o sin notificación previa. Usted reconoce y acepta que no seremos responsables ante Usted o ante terceros por las modificaciones o interrupciones en la operación de la Plataforma.
                            </p>
                            <h3>
                                9.  BLOQUEO DE LA DIRECCIÓN DE IP
                            </h3>
                            <p>
                                Para proteger la integridad de la Plataforma, nos reservamos el derecho de bloquear Usuarios de ciertas direcciones de IP, en cualquier momento y a nuestra entera discreción, para impedir que accedan al Sitio.
                            </p>
                            <h3>
                                10.  DECLARACIONES Y GARANTÍAS
                            </h3>
                            <p>
                                Por el presente Usted declara y nos garantiza lo siguiente: (a) que tiene plenas facultades y autoridad para celebrar este acuerdo y observar estos Términos; (b) que el uso de la Plataforma no infringirá ni violará derechos de autor, marca comercial, derecho de publicidad ni ningún otro derecho legal de terceros; (c) que cumplirá con todas las leyes y reglamentaciones aplicables al utilizar la Plataforma y al participar en las actividades relacionadas con estos Términos, que incluyen, entre otras, contactar a otros Usuarios de SensRoom; (d) que nunca ha sido condenado por un delito sexual y que no tiene cargos de este tipo pendientes en su contra; y (e) que Usted es propietario del contenido que envía, o que tiene todos los derechos necesarios para otorgar su licencia, y que la publicación o uso de su contenido que nosotros realicemos no constituirá una infracción o violación de los derechos de terceros.
                            </p>
                            <h3>
                                11.  DESCARGO DE RESPONSABILIDAD DE GARANTÍAS USTED ACEPTA QUE:
                            </h3>
                            <p>
                                A.   SI USA LA PLATAFORMA, LO HARÁ BAJO SU PROPIO RIESGO.  LA PLATAFORMA SE OFRECE TAL Y COMO ESTÁ Y SEGÚN DISPONIBILIDAD. RECHAZAMOS EXPRESAMENTE TODO TIPO DE GARANTÍAS, SEAN EXPRESAS O IMPLÍCITAS, INCLUSO, ENTRE OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD E IDONEIDAD PARA UN FIN ESPECÍFICO, DE TÍTULO Y DE NO VIOLACIÓN.
                            </p>
                            <p>
                                B. NO GARANTIZAMOS LO SIGUIENTE: (A) QUE EL USO DE LA PLATAFORMA CUMPLIRÁ CON SUS REQUISITOS; (B) QUE SU USO NO SUFRIRÁ INTERRUPCIONES, SERÁ OPORTUNO, SEGURO Y ESTARÁ LIBRE DE ERRORES; (C) QUE LA INFORMACIÓN QUE OBTENGA EN ELLA SERÁ PRECISA O CONFIABLE; (D) QUE LA CALIDAD O FIABILIDAD DEL SERVICIO OFRECIDO POR MEDIO DE LA PLATAFORMA, LOS DATOS U OTROS MATERIALES QUE USTED COMPRE U OBTENGA A TRAVÉS DE ELLA ESTARÁ A LA ALTURA DE SUS EXPECTATIVAS; (E) QUE LA INFORMACIÓN QUE USTED PROPORCIONE O QUE NOSOTROS RECOPILEMOS NO SERÁ DIVULGADA A TERCEROS; (F) QUE LOS PERFILES DEL SITIO SON PRECISOS, ACTUALIZADOS O AUTÉNTICOS; (G) QUE LOS MATERIALES O ARCHIVOS QUE DESCARGUE DE INTERNET ESTARÁN LIBRES DE VIRUS, GUSANOS, TROYANOS U OTROS CÓDIGOS QUE PUEDAN PRODUCIR DAÑOS; (H) QUE OTRAS PERSONAS NO UTILIZARÁN SU INFORMACIÓN CONFIDENCIAL DE MANERA NO AUTORIZADA; O (I) QUE LOS ERRORES EN DATOS O SOFTWARE SERÁN CORREGIDOS.
                            </p>
                            <p>
                                C.  SI USTED ACCEDE A CONTENIDOS O LOS TRANSMITE A TRAVÉS DEL USO DE LA PLATAFORMA, LO HACE BAJO SU PROPIO RIESGO Y A SU ENTERA DISCRECIÓN. USTED ES EL ÚNICO RESPONSABLE POR PÉRDIDAS O DAÑOS QUE SUFRA EN RELACIÓN CON DICHAS ACCIONES. NOSOTROS NO SOMOS RESPONSABLES DE NINGÚN CONTENIDO INCORRECTO O IMPRECISO PUBLICADO EN NUESTRO SITIO O QUE SE RELACIONE CON EL SERVICIO, HAYA SIDO DESARROLLADO POR LOS USUARIOS DE NUESTRO SITIO O POR LOS PROGRAMADORES O EL EQUIPO ASOCIADOS CON LA PLAFAROMA O UTILIZADO POR ESTE. NO SOMOS RESPONSABLES DE LA CONDUCTA, NI EN LÍNEA NI FUERA DE LÍNEA, DE LOS USUARIOS DE NUESTRO SITIO O DE LA PLATAFORMA.
                            </p>
                            <h3>
                                12. INDEMNIZACIÓN.
                            </h3>
                            <p>
                                Usted acepta defendernos, indemnizarnos y eximirnos de responsabilidad –tanto a Nosotros como a nuestras subsidiarias, casas matrices, afiliadas, y a cada uno de sus directores, ejecutivos, gerentes, miembros, socios, agentes, representantes, empleados, consejeros y clientes (cada uno de ellos un “Indemnizado”, y en conjunto, los “Indemnizados”)– por cualquier reclamo, demanda, acción, daño, pérdida, costo o gasto, incluso, entre otros, honorarios y costos de abogados, costos de investigación y gastos de liquidación en los que incurramos con relación a investigaciones, reclamos, acciones, demandas o procedimientos de cualquier tipo entablados en contra de cualquiera de los Indemnizados y que surjan del uso de la Plataforma.
                            </p>
                            <h3>
                                13. ARBITRAJE Y RENUNCIA A INTERPONER UNA ACCIÓN LEGAL
                            </h3>
                            <p>
                                Cualquier disputa que surja de o esté relacionada con estos Términos puede ser resuelta mediante arbitraje vinculante de conformidad con los términos de esta cláusula de arbitraje, ya sea suya o de la elección de SensRoom , a menos que esté prohibido por la ley.
                            </p>
                            <p>
                                El término disputa (la “Disputa”), significa cualquier disputa, reclamación o controversia respecto a cualquier aspecto del uso de SensRoom que se hayan acumulado o pudieran acumularse en adelante, ya sea basado en contrato, estatuto, reglamento, agravio (incluyendo sin limitación las reclamaciones derivadas de o en relación con falsedad o negligencia), e incluye a la validez y aplicabilidad de esta disposición de arbitraje (con la excepción de la aplicabilidad de la sección (b) de la cláusula de restricciones previstas a continuación).
                            </p>
                            <p>
                                Todas las desavenencias que deriven de estos Términos deberán ser resueltas definitivamente de acuerdo con las Reglas de Arbitraje del Centro de Arbitraje de México (CAM), por uno o más árbitros nombrados conforme a dichas Reglas.
                            </p>

                            <h3>14. LEY APLICABLE EN LA INTEPRETACIÓN DE LOS TÉRMINOS.</h3>

                            <p>
                                Este Sitio (excluyendo aquellos que se encuentren relacionados) es operado por SensRoom, en sus oficinas del estado de Nuevo León, México. Para cualquier cuestión de interpretación relativa a estos Términos, las partes se someten al Código de Comercio y como ley supletoria el Código Civil del Estado de Nuevo León, renunciando expresamente a cualquier otro fuero que por razón del domicilio presente o futuro pudiera corresponderle.
                                Aviso de Privacidad para la Protección de Datos Personales.
                                En términos de lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo denominada como la “Ley de Datos”), SensRoom, establece el presente Aviso de Privacidad de conformidad con los siguiente Términos.
                            </p>

                            <p>
                                1. El presente Aviso de Privacidad tiene por objeto la protección de los datos personales de los Usuarios de SensRoom mediante su tratamiento legítimo, controlado e informado, a efecto de garantizar su privacidad, así como tu derecho a la autodeterminación informativa.
                            </p>

                            <p>
                                2.- Dato personal es cualquier información concerniente a una persona física identificada o identificable; el responsable de recabar los datos personales es el área sistemas y administración de la Plataforma.
                            </p>

                            <p>
                                3.- El domicilio de SensRoom y del área responsable, estará disponible en todo momento en la sección de ayuda de la Plataforma.
                            </p>

                            <p>
                                4.- Usted al proporcionar sus Datos Personales por escrito, a través de la Plataforma, formato en papel, formato digital, correo electrónico, o cualquier otro documento, acepta y autoriza a SensRoom a utilizar y tratar de forma automatizada esos datos personales e información suministrados, los cuales formarán parte de nuestra base de datos con la finalidad de usarlos, en forma enunciativa, más no limitativa, para: identificar, ubicar, comunicarnos, contactarlo, enviar información y/o bienes, así como para enviarlos y/o transferirlos a terceros, dentro y fuera del territorio nacional, por cualquier medio que permita la Ley de Datos para cumplir con nuestros fin. Mediante la aceptación y autorización para el tratamiento de tus datos personales en los términos antes señalados, nos facultas expresamente a transferirlos a autoridades de cualquier nivel (Federales, Estatales, Municipales), organismos públicos y privados, diversas empresas y/o personas físicas, dentro y fuera de México, con el propósito de proporcionar el servicio objeto de SensRoom.
                            </p>

                            <p>
                                5.- La temporalidad del manejo de los datos personales de los Usuarios será indefinida a partir de la fecha en que sean proporcionados en la Plataforma, pudiendo oponerse al manejo de los mismos en cualquier momento que sea considerado oportuno, con las limitaciones de Ley de Datos; en caso de que la solicitud de oposición sea procedente, SensRoom dejará de manejar tus Datos Personales sin ninguna responsabilidad de nuestra parte.
                            </p>

                            <p>
                                6.- El área de SensRoom responsable del tratamiento de tus datos personales, está obligada a cumplir con los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad tutelados en la Ley; por tal motivo con fundamento en los artículos 13 y 14 de la Ley, SensRoom se compromete a guardar estricta confidencialidad de tus datos personales, así como a mantener las medidas de seguridad administrativas, técnicas y físicas que permitan protegerlos contra cualquier daño, pérdida, alteración, acceso o tratamiento no autorizado.
                            </p>

                            <p>
                                7.- En términos de lo establecido por el artículo 22 de la Ley, Usted tiene derecho en cualquier momento a ejercer tus derechos de acceso, rectificación, cancelación y oposición al tratamiento de los datos personales, mediante la solicitud vía la Plataforma.
                            </p>

                            <p>
                                8.- SensRoom ocasionalmente modificará y corregirá este Aviso de Privacidad, por lo tanto, te pedimos que Usted lo revise regularmente en la Plataforma.
                            </p>

                            <p>
                                9.- SensRoom protegerá tus datos personales en los términos de la Ley de Datos, y te comunicará los elementos contenidos en las fracciones del artículo 16 de la Ley.
                            </p>

                            <p>
                                10.- Transmitir tus datos personales en la Plataforma, es un hecho que presume tu total aceptación al contenido del presente Aviso de Privacidad.
                            </p>

                            <p>
                                11.- La aceptación de este Aviso de Privacidad implica su sometimiento expreso a los tribunales de la Ciudad de Monterrey, Nuevo León, para cualquier controversia o reclamación derivada de este Aviso de Privacidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>