﻿html, body {
    margin: 0px;
    padding: 1px;
    width: 100%;
}

#filtros th {
    border:none !important
}

@font-face {
    font-family: 'Apercu-Medium';
    src: url('../fonts/Apercu-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu-Light';
    src: url('../fonts/Apercu-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

.tmpHidden, .dataTables_length {
    visibility: hidden;
}

tr.bg-primary th {
    font-weight: bold;
    cursor: default;
    padding: 10px 18px;
    border: 0px !important;
    border-bottom: 1px solid #111;
}

tr.bg-primary {
    background: #c3b4b1 !important;
    color: #000000
}

.header {
    background-color:#8c764c;
    padding: 10px;
    width:100%
}

    .header li a {
        color: white;
    }

.footer {
    width: 100%;
    min-height: 60px;
    background: url('images/05 Barra inferior.png') repeat scroll #8c764c;
    margin-top: 20px;
    color: #d8d7d4;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Apercu-Light';
    font-size: 11px
}

.container {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0px;
}

.body {
    padding: 0px;
    padding-bottom: 60px; /* Height of the footer */
    clear: both
}
table {
    width: 100%;
    margin: 0 auto;
}
th, td {
    padding: 0.3em;
    border: solid 1px #ccc;
}
.language {
    background-color: #666;
    width: 100%;
    font-size: 0.8em;
    padding: 4px;
    line-height: 1em;
    color:#fff;
    height: 2.8em;
}
    .language fieldset {
        display: inline;
        padding: 0px;
        margin-top: 6px;
    }
        .language a {
            color: #fff;
        }
        .language a:hover {
            text-decoration: underline;
        }
.usuario {
    float:right;
}
    .usuario span {
        margin-top:0px;
    }
    .usuario ul {
        list-style: none;
        margin: 6px 0px 0px 6px;
        padding: 0;
    }
    .usuario li {
        display: inline;
    }

.container {
    max-width: 1280px;
    min-width: 768px;
}


.boton_universal {
    cursor: pointer;
    border: none;
    padding: 0.4em;
    border-radius: 3px;
    background-color: #00bcd4;
    color: #FFF;
}
.boton_universal:hover {
        background-color: #00bcd4;
        text-decoration: none;
    }
.bloque_header{
    height:200px;
    margin: 80px 0px 30px 0px;
    border: solid 1px #ccc;
    min-width:768px;
    padding:1%;
}
.bloque_header h1 {
    font-weight: 300;
    font-size:24px;
    font-size:2em;
    margin: 0;
    line-height: 1.6em;
}
.dos_columnas {
    width:49%;
    display:inline-block;
}
.dos_columnas_grupo {
    width: 100%;
    float: left;
}
.bloque_maincontent {
    margin:0 auto;
    /*margin-top: 50px;*/
    min-width:768px;
}
.grupo_maincontent {
    width:100%;
    padding:1%;
    text-align:right;
}
.logo {
    width: 130px;
    height: 35px;
    float: left;
    background-color: #fff;
    margin: 0;
    padding: 3px;
    background-image: url('images/capital-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.company {
    
}
.header_menu {
    margin: 0px auto;
    max-width: 1280px;
    font-size:0.9em;
}

footer p {
    font-size:11px;
    color: #9C9C9C;
}
footer a, a:hover {
    color:#9C9C9C;
}
.tres_columnas {
    width:100%;
    display:inline-block;
}
.tres_columnas_grupo {
    width: 32%;
    float: left;
}
/*Ernesto*/


.boton_POS {
    cursor: pointer;
    border: none;
    padding: 0.4em;
    border-radius: 3px;
    background-color: #666;
    color: #FFF;
    border: 2px solid #00bcd4;
}
.boton_POS:hover {
        background-color: #00bcd4;
        text-decoration: none;
    border: 2px solid #00bcd4;
    }
.boton_POS_Selected {
    border: none;
    padding: 0.4em;
    border-radius: 3px;
    background-color: #00bcd4;
    color: #FFF;
    border: 2px solid #00bcd4;
}


.botones{
margin: 0 auto;
width: 100%;
text-align: center;
float: left;
padding: 5px 0px 5px 0px;
}

.cancelar{
width: 100px;
height: 30px;
background-color: #f6152e;
border: none;
font-family: "Arial";
font-size: 1.05em;
color: white;
}

.cancelar:hover{
background-color: #fa4257;
}
.cancelar:active{
background-color: #980516;
}

.guardar{
width: 100px;
height: 30px;
background-color: #4dc21b;
border: none;
font-family: "Arial";
font-size: 1.05em;
color: white;
box
}

.guardar:hover{
background-color: #6ee33c;
}
.guardar:active{
background-color: #30a200;
}
.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.table_newsale{
    margin-top: 50px;
}
.celda-interior {
    box-sizing: border-box;
    /*padding-left: 50px;*/
}
.text-danger {
    width:300px;
}

span.k-numerictextbox {
    width: 250px;
}
input.k-textbox {
    width:300px;
}
.product_list{
    margin-bottom:20px;
}

.column_create {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
.nom_customer{
    width: 20%;
    box-sizing: border-box;
    background-color: #363940;
    color: white;
    border-radius: 10px;
    padding: 11px;
    margin-bottom: 5px;
    text-align: center;
}
.new_rfc{
    position:absolute;
    right: 0px;
}
.block_customerone{
    float:left;
    width: 50%;
}
.block_customertwo{
    float: right;
    width:50%;
}
.block_oportunity{
    float:left;
    width: 33%;
}
.form-casilla{
    width:100%;
    height:60px;
    margin-bottom:20px;
}
.seccion_createoportunity{
    height:300px;
}
.block_oportunitycreate{
    float:left;
    width:33%;
    padding-left:30px;
    box-sizing:border-box;

}
.form-oportunity{
    height:55px;
}

/* /////////// TABLA COMPRAS ////////// */

.table_compras {
    border:hidden;
}
.table_compras td {
    border:hidden;
}
.table_compras tr {
    border:hidden;
}
.table_compras span.k-numerictextbox {
    width: 100%;
}
.table_compras input.k-textbox {
    width:100%;
}
.table_compras k-datetimepicker {
    width:100%;
}