@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
	   url('glyphicons-halflings-regular.woff') format('woff'),
	   url('glyphicons-halflings-regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Arial';
}
.fondo-azul{
background-color: #e1e4f3
}

*{
margin: 0px;
	font-size: 14px;
}

p{
	margin: 0;
	color:  #353738;
}

h1{
}

h2{
}

h3{
	color: #353738
}

ul{
}

li{
}

a{
	text-decoration: none;
}

a:hover{
}

a:active{
}

.wrapper{
width: 1280px;
    height: auto;
    margin: 0 auto;
}

.logotipo{
    margin: 0px auto 50px;
    display: block;
}

.foto-de-usuario{
	width: 60px;
	height: 60px;
	border-radius: 99%;
}

.header-carrier{
	background-color: #004fa3;
	color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ul-carrier{
    display: inline;
    padding: 0px;
}

.ul-carrier li{
    display: inline-block;
    padding: 15px;
}

.mesayflecha{
    width: 1280px;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}

.titulo-seccion{
font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-top: 1px;
}

.contenedor-inicio-de-sesion{
    display: block;
    margin: 7% auto;
    width: 1000px;
    text-align: center;
}


.titulo-mesa{
float: left;
color: #004fa3;
font-size: 24px;
}

.titulo-fecha{
float: right;
color: #004fa3;
font-size: 24px;
}

.flecha{
    float: left;
    background-color: #004fa3;
    border-radius: 99%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 15px;
}
.flecha img{
    padding-top: 5px;
}

.operadores-info{
    width: 280px;
    display: inline-block;
    text-align: center;
}

.status-amarillo{
border: solid 1px #7f8b95;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    display: inline-block;
    width: 80%;
    background-color: #fcbb13;
    margin: 10px;
  
}
.status-verde{
	border: solid 1px #7f8b95;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    display: inline-block;
    width: 80%;
	background-color: #238d33;
	margin-bottom: 10px;
}
.status-rojo{
	border: solid 1px #7f8b95;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    display: inline-block;
    width: 80%;
	background-color: #f8374e;
	margin-bottom: 10px;
}

.icono{
padding: 15px;
}

.nombre {
    margin: 16px 0px 0px 5px;
    display: inline-block;
    vertical-align: top;
}

.nombre-contrasena{
	width: 400px;
    border: 2px solid #9cc6f7;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 17px;
}


.orden-especial{
    background-color: orange;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 2px 5px #afaaaa;
}

.fotografia{
 	display: inline-block;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 99%;
	margin-bottom: 10px;
}

.fotografia-sesion{
    width: 150px;
    height: 150px;
    border-radius: 99%;
    margin: 0 auto 10px;
    display: block;
	margin-bottom: 40px;
	box-shadow: 0px 3px 15px #72768e;
}
.texto-inicio-de-sesion{
color: #0e4fa2;
	margin-bottom: 15px;
	font-size: 16px;
}

.variable, .variable-reloj{
	padding: 10px;
	float: right;
	font-weight: 600;
}
.variable-status{
    padding: 0px 10px 8px;
    font-weight: 600;
	color: #fff;
}

.concepto, .concepto-orden-de-produccion{
	padding: 10px;
	float: left;
}
.concepto-status{
	padding: 10px;

	color: #fff
}


.concepto-centrado{
    padding: 0px 0px 10px;
}

.concepto-orden-de-produccion{
    width: 100%;
    box-sizing: border-box;
}

.mantenimiento, .manufactura, .materiales, .produccion, .calidad, .ingenieria, .ehs{
	width: 20px;
	height: 20px;
    margin: 8px 10px;
	float: left;
	border-radius: 99%;
}
.mantenimiento{
background-color:#fcbb13
}
.manufactura{
background-color:#fd6e3d
}
.materiales{
background-color:#d0253f
}
.produccion{
background-color:#3765e6
}
.calidad{
background-color:#5b3389
}
.ingenieria{
background-color:#d36ddd
}
.ehs{
background-color:#238d33
}


.planta{
	width: 100%;
	display: inline-block;
}
.areas{
	width: 100%;
	display: inline-block;
	margin: 0px 0px 0px;
}
.areas:last-child{
	margin: 0px 0px 16px;
}


.tiempo-de-produccion{
	width: 100%;
	display: inline-block;
	background-color: #389ce0;
	color: #fff;
}
.tiempo-de-produccion p{
	color: #fff;
}
.contenedor-central{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.contenedor-central h2{
    font-size: 24px;
    margin: 10px;
    color: #389ce0;
    font-weight: 100;
}
.contenedor-modelo{
    width: 32%;
    display: inline-block;
    border: solid 1px #7f8b95;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    background-color: #eff0f4;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}
.contenedor-modelo:first-child{
	margin-left: 0px;
}

.equivalencia{
	    width: 33%;
    display: inline-block;
    border: solid 1px #7f8b95;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    background-color: #eff0f4;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}

.contenedor-modelo{
margin-left: 10px;
}

.contenedor-orden-turno{
	width:180px;
	display: inline-block;
	text-align: center;
}

.calendario{
margin-left: 10px;
    margin-bottom: 10px;
    width: 129px;
    float: left;
    border: 1px solid #7f8b95;
    height: 27px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.no-de-mesa{
      margin-left: 10px;
    margin-bottom: 10px;
    width: 129px;
    float: left;
    border: 1px solid #7f8b95;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 24px;
    padding-left: 5px;
    box-sizing: border-box;
	border-right: none;
}

.flecha-abajo{
    display: inline-block;
    width: 29px;
    float: left;
    background-color: #389ce0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

select{
float: left;
    margin: 8px 0px 10px 0px;
    height: 34px;
    width: 40px;
}

.aceptar{
    margin: 10px auto;
    display: inline-block;
    background-color: #389ce0;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    width: 100px;
    height: 30px;
}
.anadir-tiempo{
    margin: 10px auto 24px;
    display: block;
    background-color: #389ce0;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 9px #cecece;
    width: 100px;
    height: 30px;
}

.margen-top{
margin-top: 15px;
}

.mitad-contenido{
width: 50%;
	text-align: left;
}
.contenedor-grafica{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    text-align: center;
    position: relative;
    border: solid 1px #7f8b95;
}
.temporizador{
    position: absolute;
    color: #000;
    z-index: 999;
    top: 49%;
    left: 32%;
}
.temporizador h3{
font-size: 36px;
}

.tiempo-alerta{
    background-color: #f8374e;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: inline-block;
    margin-bottom: 5px;

}
.tiempo-alerta p{
color: #fff;
}
.contenedor-status-comida-extra{
    width: 17%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    text-align: center;
    position: relative;
    border: solid 1px #7f8b95;
}

.hora-extra{
	font-size: 49px;
    color: #389ce0;
    line-height: 52px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.alarma{
display: block;
    vertical-align: top;
    background-color: #f8374e;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #ccc;
}
.alarma p{
color: #fff;
}

#footer{
width: 100%;
	text-align: center;
	padding: 20px 0px 0px;
}

.tabla{

    margin: 10px auto;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

.tabla thead{
background-color: #17479d;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.tabla thead td{
padding: 5px;
}

.tabla tbody td{
    background-color: #fff;
    padding: 5px 0px;
}

.contenedor-fecha{
	display: inline-block;
	width: 198px;
}
.contenedor-fecha p{
font-weight: 600;
}

.seleccionar{
	width: 198px;
	height: 28px;
	border-radius: 5px; 
}

/*-----dropdown----*/

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn p{
	color: #fff;
	font-weight: 300;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    top: 48px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #53a0f3;
}


/*-----glyphicon--------*/
.glyphicon{
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    color: white;
    padding: 3px;
    font-size: 15px;
    vertical-align: top;
}

.glyphicon-triangle-bottom:before {
  content: "\e114";
}


/*------ modal------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.texto-izquierda{
text-align: left;
}

.modal-content .texto-izquierda td{
padding: 8px;
}

/*--------------media queries-----------------*/
@media screen and (max-width:1200px){

}

@media screen and (max-width:1024px){

}

@media screen and (max-width:920px){

}

@media screen and (max-width:768px){

}

@media screen and (max-width:768px){

}

@media screen and (max-width:720px){

}

@media screen and (max-width:320px){

}



