﻿
@{
    ViewBag.Title = "Index";

}


<!DOCTYPE html>
<html lang="es">
<head>
    

</head>
<body>



    <input id="seed_one" type="text" name="seed_one" style="color:black" />



    <div style="margin-top:100px">
        <input type="number" id="tel" style="color:black" />
        <input type="submit" value="whats" onclick="send()" />
    </div>


    <br />
    <br />
    <div style="margin-top:100px">
        @using (Html.BeginForm("normalizarImg", "Exper", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="submit" value="normalizar" class="subir tn btn-primary" id="btns1" />
        }
    </div>

    <script>
        function previewFile() {
            var preview = document.querySelector('img'); //selects the query named img
            var file = document.querySelector('input[type=file]').files[0]; //sames as here
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        previewFile();  //calls the function named previewFile()
    </script>


    <script>
        function geocodeAddress(geocoder, resultsMap) {
            var geocoder = new google.maps.Geocoder();

            var address = $("#address").val();
            alert(address);
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {

                    alert(results[0].geometry.location.lat() + "---" + results[0].geometry.location.lng());


                } else {
                    alert('La localización no fue satisfactoria por la siguiente razón: ' + status);
                }
            });
        }

        function send() {
            var text = "Hola!%20Te%20escribimos%20de%20sens-room.com%20Somos%20una%20pagina%20privada%20para%20generar%20encuentros%20con%20miembros%20VIP.%20Te%20invitamos%20a%20crear%20tu%20perfil%20y%20obtener%20así%20un%20medio%20adicional%20de%20publicidad%20para%20aumentar%20tus%20citas."
            alert("entro");
            var tel = $("#tel").val();
            window.location.href = 'https://api.whatsapp.com/send?phone=52' + tel + '&text=' + text
        }

    </script>

    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var animales = ["Ardilla roja", "Gato", "Gorila occidental",
                "León", "Oso pardo", "Perro", "Tigre de Bengala"];

            $("#animal").autocomplete({ source: animales });
        });
    </script>
</body>
</html>



