﻿
@{
    ViewBag.Title = "¿Cómo funciona? - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.comofu = "active";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-info" aria-hidden="true"></i> ¿Cómo funciona SensRoom?</h2>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <h3>SensRoom es un medio interactivo digital para que los usuarios del sitio puedan asistir a encuentros, es una red social que permite que las personas adultas se puedan conocer y funciona muy facil.</h3>
                            
                            <ul class="list-numbers">
                                <li>
                                    Completa los datos solicitados en tu cuenta y sube al menos una foto para mandar tu perfil a revisión.
                                </li>
                                <li>
                                   Una vez que tu perfil se haya aceptado te llegará un mensaje de texto avisandote que está listo para ponerlo en línea.
                                </li>
                                <li>
                                    Entra a tu perfil y verás un botón rojo que dice "Offline" éste botón sirve para poner tu perfil en línea, al darle click te preguntará la cantidad de tiempo que quieres que tu perfil esté activo, selecciona el tiempo y da click en el botón negro que dice "online", el botón que estaba en rojo ahora será verde con la palabra "online".
                                </li>
                                <li>
                                    Una vez que te encuentres en línea tu perfil será visible en un radio de 40 Km y podrás observar el número de veces que alguien lo visita.
                                </li>
                                <li>
                                    En el momento en el que alguien te mande una invítación recibirás un MENSAJE DE TEXTO al número celular que ingresaste previamente para avisarte de la actividad en tu cuenta y tu perfil pasara a "Offline", esto para que no lleguen dos invitaciones a la vez.
                                </li>
                                <li>
                                    Deberás entrar a tu perfil a la sección de "Notificaciones" y verás los datos de la invitación (quien la envía, que tan lejos está, etc). Tienes dos opciones:  "Aceptar" y  "Rechazar".
                                </li>
                                <li>
                                    EL remitente habrá pagado 25% del precio que publicaste en tu perfil por haber mandado la invitación, que será la comisión que cobra SensRoom por concepto de publicidad. EL 75% tú lo cobraras en efectivo al iniciar el encuentro.
                                </li>
                                <li>
                                    Si aceptas la invitación se activará un chat dentro de la págian de SensRoom para que se pongan de acuerdo.
                                </li>
                                <li>
                                    En caso de que te llegue una invitación y no decidas que hacer con ella, ésta se cancelará depués de 30 minutos y no se podrá recuperar.
                                </li>
                                <li>
                                    Si decides rechazar la invitación ésta se perderá y no se podrá recuperar.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

