﻿@{
    ViewBag.Title = "Offline - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.offli = "active";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-toggle-on" aria-hidden="true"></i> Offline</h2>
                    </div>
                    <div class="box-body">
                        <div class="">
                            <h4>En estas opcionesn podrás seleccionar no aparecer en búsquedas y/o eliminar tu cuenta definitivamente.</h4>
                            <h5>Si das click en "No mostrarme" tu perfil no aparecerá en búsqiedas.</h5>
                            <h5>Si das click en el botón "Eliminar perfil" tu perfil será eliminado y no se podrá recuperar.</h5>

                            <div class="row row-tools">
                                <div class="col-md-6 col-xs-6">
                                    @using (Html.BeginForm("OffOnLine", "AssetW", FormMethod.Post, new { style = "" }))
                                    {
                                        <input type="hidden" style="color:black" id="inplatitud" name="latitud" />
                                        <input type="hidden" style="color:black" id="inplongitud" name="longitud" />
                                        <button class="btn btn-danger" name="online" type="submit">
                                            No mostrarme en SensRoom
                                        </button>
                                        //desactiva
                                    }
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <form>
                                        <input type="submit" value="Eliminar perfil" class="btn btn-primary btn-block" id="btndelete" data-toggle="modal" data-target="#modal-baja" />
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <form action="DarDeBaja" method="post">
                                        <div class="modal fade" id="modal-baja">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i> Tiempo en linea</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row radio-list">

                                                            <div class="col-md-12">
                                                                <div class="form-group form-check">
                                                                    <label class="form-check-label">
                                                                        Estás a punto fr dar de baja tu perfil
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>

                                                        <button type="submit" id="online" class="btn btn-primary">Eliminar</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



