﻿
@model List<ProjectX.API.Models.AssetImage>


@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Galeria
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Fotos</li>
        </ol>
    </section>
    <h3>Sube una foto</h3>

    @if (Model.Count < 5)
    {
        using (Html.BeginForm("FileUpload", "AssetW", FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
        {

            <input type="file" value="Selecciona" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Enviar" class="submit" />
        }
    }


    @if (Model.Count > 0)
    {

        foreach (var img in Model)
        {

            <div style="float:left; padding:10px; width:350px; height:350px">
                <img id="imgasset" class="img-rounded img-thumbnail img-check" src="data:image;base64,@System.Convert.ToBase64String(img.ImageStream)" value="@img.Id" width="350" height="350" />

            </div>
        }
    }
    else
    {
        <h3>No hay fotos   en tu perfil</h3>
    }


    </div>

