﻿@model ProjectX.API.Models.Codigos
@{
    ViewBag.Title = "Gana Dinero - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.ganadinero = "active";
}

<!DOCTYPE html>

<div id="panel-perfil">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h2><i class="fa fa-money" aria-hidden="true"></i> Gana Dinero</h2>
                        </div>
                        <div class="box-body">
                            <h4>Comparte éste código : @Model.Codigo2</h4>
                            <h5>Invita a tus amigas que deseen asistir a encuentros con clientes SensRoom.</h5>
                            <h5>Tu comisionarás cada vez que tus amigas asista a eventos.</h5>
                            <h5>También comisionarás si tus amigas invitan a mas amigas y/o a clientes de ellas.</h5>

                            <h4>Comparte éste código : @Model.Codigo1</h4>
                            <h5>Invita a clientes que deseen invitar chicas a encuentros.</h5>
                            <h5>Tu recibirás comisiones cada vez que tus clientes consuman en SensRoom</h5>

                            @*<p>
                                <a class="red-link" href="https://www.youtube.com/watch?v=dTOCuY5BlBw" target="_blank">Mira cómo funciona, da click AQUÍ <i class="fa fa-youtube-play" aria-hidden="true" style="font-size:18px"></i> </a>
                            </p>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>