﻿@model ProjectX.API.Models.ProfileModels


@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout2.cshtml";


}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Galeria
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    @if (Model.Error == null)
    {

        using (Html.BeginForm("ProfileSave", "AssetW", FormMethod.Post))
        {

            <h2 style="color:black">Perfil</h2>
            <div id="divname">
                <h3 style="color:black">Alias</h3>
                @(Html.Kendo().TextBoxFor(m => m.Name).Name("Name").HtmlAttributes(new { style = "width: 25%; color:black", @readonly = "readonly" }))

                @*@Html.TextBoxFor(m => m.Name, new { @readonly = "readonly", width = "25%"})*@

            </div>

            <h3 style="color:black">Fecha de nacimiento (Solo +18)</h3>
            @*@(Html.Kendo().DatePickerFor(m => m.DOB).Name("DOB").HtmlAttributes(new { @type = "date", @style = "width: 25%; color:black" }))*@
            <input style="color:black" type="date" name="DOB" value="@Model.DOB.Date.ToString("yyyy-MM-dd")" />


            <h3 style="color:black">Ingresa un saludo</h3>

            @(Html.Kendo().TextBoxFor(m => m.Saludo).HtmlAttributes(new { style = "width: 25%; color:black", placeholder = "Tú saludos", @maxlength = "25" }))


            <h3 style="color:black">Descripción</h3>
            @(Html.Kendo().TextBoxFor(m => m.Descripcion).HtmlAttributes(new { style = "width: 25%; color:black", placeholder = "Qué te gusta hacer", @maxlength = "200" }))


            <h3 style="color:black">CLABE</h3>
            @(Html.Kendo().TextBoxFor(m => m.CLABE).HtmlAttributes(new { style = "width: 25%; color:black", @placeholder = "18 dígitos", @maxlength = "18", @type = "Text" }))

            <input type="submit" />
        }
    }
    else
    {
        <h3 style="color:maroon">@Model.Error</h3>
    }

    </div>









