﻿@model ProjectX.API.Models.DatosAlerta
@{
    ViewBag.Title = "Seguridad - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.segu = "active";
}

<div class="content-wrapper">
   
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Nos interesa tu seguridad.</h2>
                    </div>
                    <div class="box-body">
                        <h3>Aquí podrás registrar un celular de una persona de tu confianza para:</h3>
                        <ol class="list-numbers">
                            <li>
                                Notificar que has llegado a tu encuentro, que todo está bien y enviar tu ubicación.
                            </li>
                            <li>
                                Pedir ayuda y enviar tu ubicación.
                            </li>
                        </ol>
                        <div class="contenedor-central">
                            <form action="SaveTelEmergencia" method="post">
                                @*@if (Model.Numero != null && Model.RemitSms != null)
                                {
                   
                                    <h4 style="font-weight:bold">Datos guardados para el envío de alertas:</h4>
                   
                                    <h4 style="background-color:goldenrod">Teléfono de quien recibirá alertas: @Model.Numero</h4>
                                    <h4 style="background-color:goldenrod">Nombre de quien envía el mensaje: @Model.RemitSms</h4>
                                }*@

                                <h4>Número celular</h4>
                                <input type="tel" name="Numero" value="@Model.Numero" maxlength="12" class="form-control" style="width:200px" />
                                <br />
                                <h4>Nombre que verá tu contacto</h4>
                                <input type="text" name="RemitSms" value="@Model.RemitSms" maxlength="20" class="form-control" style="width:200px" />
                                <br />
                                <input type="submit" value="Guardar" class="btn btn-primary btn-block" style="width:200px" />
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>