﻿@model ProjectX.API.Models.SettingsModels

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Galeria
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>
    <h2>Settings</h2>


    <form method="post" action="SettingsSave">
        <h3 style="color:black">Soy</h3>
        @Html.DropDownListFor(model => model.ASex, new SelectList(new List<Object>
                                                {  new { value = false , text = "Mujer"  },  new { value = true , text = "Hombre" },
                                                },"value","text"), new { style = "width: 25%; color:black", @class = "login-pass" })

        <h3 style="color:black">Me interesan</h3>
        @Html.DropDownListFor(model => model.Prefid, new SelectList(new List<Object>
                                               {  new { value = 1 , text = "Mujer"  },  new { value = 2 , text = "Hombre" }, new { value = 3 , text = "Hombres y Mujeres" },
                                               },"value","text"), new { style = "width: 25%; color:black", @class = "login-pass" })


        <h3 style="color:black">Costo</h3>
        @Html.TextBoxFor(Model => Model.Costo, new { style = "width: 25%; color:black", title = "Costo", @class = "login-pass" })

        <h3 style="color:black">Teléfono para enviar notificaciones</h3>
        @Html.TextBoxFor(Model => Model.Telefono, new { style = "width: 25%; color:black", title = "Telefono", @class = "login-pass" })

    

        <input type="submit" class="btn btn-primary" />
    </form>
    </div>