﻿

@{
    ViewBag.Title = "Home - SenseRoom";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}
<header class="showcase">
    <div class="showcase-top">
        <a href="~/Account/login" class="btn btn-rounded" style="right:10px;">Iniciar Sesión</a>
    </div>
    <div class="showcase-content">
        <img src="~/img/logo_sr.png" alt="" />
        <h1>Forma parte del club más exclusivo y sensual</h1>
        <p>
            Donde podrás hacer realidad todas tus fantasías.
        </p>
        <a href="~/CRegistro/CRegistro" class="btn btn-lg" data-scroll2 data-toggle="smooth-scroll" data-offset="0">
            Registrarse <i class="fas fa-chevron-right btn-icon"></i>
        </a>
    </div>
</header>
<section id="all-moreinfo" class="woman-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 offset-md-6">
                <h2 class="text-lg text-shadow-2">
                    Placer y privacidad todo<br />en un solo lugar.
                </h2>
                <p class="mb-20  text-shadow-2">Sens Room te garantiza satisfacción total, donde podrás invitar y estar en contacto al momento con tu fantasía hecha realidad</p>
                <p class="mb-20  text-shadow-2">Ingresa y conoce a las mujeres más sensuales de tu ciudad</p>
                <a href="~/Account/login" class="btn btn-lg">Ingresar</a>
            </div>
        </div>
    </div>

</section>
<section class="device-all">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="~/img/multidevice-0.png" />
            </div>
            <div class="col-lg-5 col-md-12">
                <h2 class="text-lg text-shadow-2">
                    Encuentra a tu fantasía desde cualquier dispositivo.
                </h2>
                <p class="mb-20  text-shadow-2">Conoce la forma más innovadora de tener citas privadas y llegar al máximo placer</p>
                <a href="~/FAQ" class="btn btn-lg">Conocer más</a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container full">
        <div class="row">
            @*<div class="col-12 col-lg-6 col-md-6 blok-code">
                <p>
                    Si cuentas con un código de registro, favor de colocarlo a continuación
                </p>
                <form action="@Url.Action("Ingresar", "HomePage")" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="codinit" placeholder="Código de registro" aria-label="Código de registro" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary" id="button-addon2" value="INGRESAR"/>
                           
                        </div>
                    </div>
                </form>              
            </div>*@
            <div class="col-12 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">

                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <ul>
                            <li><a href="~/FAQ">Preguntas Frecuentes</a></li>
                            <li><a href="~/CRegistro/tyc">Terminos de Uso</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 social-list">
                        <h6>Contacto</h6>
                        <a href="mailto:atencion@sens-room.com" target="_blank">
                            <i class="fas fa-envelope h4"></i>
                        </a>

                        <a href="https://www.instagram.com/sens.room/" target="_blank">
                            <i class="fab fa-instagram h4"></i>
                        </a>

                        <a href="#" target="_blank">
                            <i class="fab fa-twitter h4"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

