﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="manifest" href="/manifest.json">
<script>gtag('event', 'conversion', { 'send_to': 'AW-764584653/dcvKCIiKi5oBEM3FyuwC' });</script>

<body class="is-preload flexfix">
    <div style="margin-top:25px; line-height:20px; padding:10px; display:block" id="dvcustomer">
        <div class="login-form">
            <h1 class="logo"></h1>
            <p align="left">
                Haz adquirido con éxito tu membresía SensRoom, ahora podrás tener acceso a los perfiles de las personas que estén diponibles, mandar invitación y chatear con ellas.
            </p>
            <p align="left">
                Es importante que aceptes el permiso para obtener tu ubicación y así mostrar a las personas mas cercanas a ti.
            </p>

        </div>
    </div>
    <div>
        @using (Html.BeginForm("comenzar", "tlist", FormMethod.Post))
        {
            <input type="submit" class="btn btn-primary" value="Comenzar" style="width:100%" />
        }


    </div>
</body>


