﻿
@model List<ProjectX.API.Models.SalaChats>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script src="~/Scripts/jsLuxxList.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<meta http-equiv="refresh" content="30">
<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">

                                @if (Model.Count > 0)
                                {
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="rowMensajeX" value="@item.id">
                                                <td class="mailbox-name">

                                                    <i class="fa fa-comments-o"></i>
                                                    @*<a href="@Url.Action("Index", "Home2", new {idO = @item.id })">tienes un chat vigente con @item.nombre, desde hace @item.tiempo horas </a>*@
                                                    <a href="@Url.Action("Chat", "Chat", new {idO = @item.id })">Tienes un chat vigente con @item.nombre </a>
                                                </td>
                                                <td class="mailbox-subject"></td>
                                                <td class="mailbox-date"></td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <div style="color:black; text-align:center;">El chat estará disponoble cuando tengas una invitación aceptada.</div>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
