﻿
@{
    ViewBag.Title = "FAQ - SensRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        margin-bottom:10px;
        line-height: normal;
    }
    h3 {
        color: #dc3545;
    }
</style>
<div class="content-wrapper" style="margin-left:0px;">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <center><a href="~/"><img src="~/img/logo_sr.png" alt="" style="width:150px" /></a></center>
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 style="text-align:center;">Preguntas Frecuentes</h2>
                    </div>
                    <div class="box-body">
                        <div class="container">
                            <h3>
                                ¿Que es Sens Room?
                            </h3>
                            <p>
                                Es un club privado en la cual podrás contactar a las mejores chicas de México, con tan solo registrarte y adquiriendo tu membresía se te acredita como socio.
                            </p>
                            <p>
                                Una vez que te registres podrás tener acceso al catálogo de chicas disponibles.
                            </p>
                            <p>
                                Contacta a la que más te guste y vive una experiencia de lujo a su lado.
                            </p>

                            <h3>
                                Funcionamiento
                            </h3>
                            <p>
                                Una vez que hayas adquirido tu membresía, tendrás acceso a contactar de manera inmediata a la chica que elijas por medio de la plataforma para acordar su encuentro.
                            </p>
                            <p>
                                Recuerda que tienes 12 horas máximo para comunicarte mediante el chat interno con ella.
                            </p>
                            <h3>
                                Métodos de pago
                            </h3>
                            <p>
                                Una vez que hayas elegido a tu chica, tendrás que pagar un anticipo por medio de nuestra plataforma lo cual te dará acceso al chat directo con ella, donde podrán acordar su cita.
                            </p>

                            <h3>
                                Tipos de encuentro
                            </h3>
                            <p>
                                Privados
                            </p>
                            <h3>
                                Sitios para encuentros
                            </h3>
                            <p>
                                Los que acuerden ambas partes mediante el chat interno.
                            </p>

                            <h3>
                                Perfiles reales y verificados
                            </h3>
                            <p>
                                Sense Room te garantiza que todos los perfiles de nuestra plataforma son 100% reales ya que contamos con estrictos mecanismos de verificación.
                            </p>

                            <h3>
                                Garantías
                            </h3>
                            <p>
                                En dado caso que no se concrete la cita, por el incumplimiento de alguna de las partes, se genera un saldo a tu favor el cual podrás utilizar para invitar a alguna otra chica sin costo.
                            </p>

                            <h3>
                                Seguridad
                            </h3>
                            <p>
                                Nuestra plataforma cuenta con los mas alto estándares de seguridad el cual incluye un botón de pánico para cualquier emergencia que pueda suceder.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

