﻿@model List<ProjectX.API.Models.PerfilAsset>

<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="panel-perfil">
    <div class="content-wrapper">
        <section class="content">


            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box clearfix">
                                <div class="col-md-2 col-xs-3 info-box-foto">
                                    <div class="profile-user-img img-responsive img-circle">
                                        <img src="@item.Foto">
                                    </div>
                                </div>
                                <div class="col-md-10 col-xs-9 info-box-desc">
                                    <div class="info-box-content-top clearfix">
                                        <div class="col-md-6 col-xs-6 info-box-name">
                                            <h2>
                                                <a href="@Url.Action("Index", "ADetail", new { id = @item.ID })"> @item.Name</a>
                                            </h2>
                                            <small>@item.Saludo</small>
                                        </div>
                                        <div class="col-md-6 col-xs-6 info-box-statusedad">
                                            <div class="status">
                                                <i class="fa fa-circle text-success"></i> Online
                                            </div>
                                            <div class="edad">
                                                @item.Edad años
                                            </div>                                           
                                        </div>
                                    </div>
                                    <div class="info-box-content-bottom clearfix">
                                        <div style="font-size:small" class="col-md-6 col-xs-6 price">
                                            $ @item.Costo ||  telefono: @item.Telefono ||   @item.redsocial


                                        </div>

                                        <div class="col-md-6 col-xs-6 distancia">
                                            <button value="@item.ID" data-toggle="modal" data-target="#modal-online" class="btn btn-primary" id="btnfeed">feedback</button>



                                            @using (Html.BeginForm("Aprobar", "Admin1", FormMethod.Post))
                                            {
                                                <input type="hidden" value="@item.ID" name="id" class="IdItemAsset" />
                                                <input type="submit" value="Aprobar" class="btn btn-primary" />
                                            }

                                            @using (Html.BeginForm("Rechazar", "Admin1", FormMethod.Post))
                                            {
                                                <input type="hidden" value="@item.ID" name="id" class="IdItemAsset" />
                                                <input type="submit" value="Rechazar" class="btn btn-primary" />
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

        </section>
    </div>
</div>
@using (Html.BeginForm("feedback", "Admin1", FormMethod.Post))
{
    <div class="modal fade" id="modal-online">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i>Enviar feedback</h4>
                </div>
                <div class="modal-body">
                    <div class="row radio-list">
                        <input type="text" name="mensaje" style="color:black; width:100%" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="IdItemAssetModal"/>
                    <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnfbEnv" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
}



