﻿
@{
    ViewBag.Title = "PassUpdate";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/styles.css" />
<link rel="stylesheet" href="~/Content/css/panel.css" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div class="container">
                            <h2>PassUpdate</h2>
                            <form action="actualiza" method="post">
                                <div>
                                    <p>Escribe en usuaruo a reestablecer contraseña</p>
                                    <input type="text" name="name" style="color:black" />
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-primary" value="Actualizar" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




