﻿

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="stylesheet" href="~/Content/css/styles.css" />
<link rel="stylesheet" href="~/Content/css/panel.css" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div class="container testimonial-group">
                            <h2>Reportes</h2>



                            @*<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#RepEventos">Eventos</button>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#RepClientes">Clientes</button>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#RepAsset">Assets</button>*@
                            <hr align="left" noshade="noshade" size="2" width="100%" />

                            <div id="RepEventos" class="row">
                                <h4>Eventos</h4>
                                <form action="consultar" method="post">
                                    <div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" value="" name="inicial" id="fi" placeholder="fecha inicial" style="color:black" />
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" name="final" id="ff" placeholder="fecha final" style="color:black" />
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <select name="opcion" class="form-control">
                                                <option value="0">Todos</option>
                                                <option value="1">Aceptados</option>
                                                <option value="2">Cancelados</option>
                                                <option value="3">Rechazados</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12 col-xs-12" style="margin-top:10px">
                                            <input type="submit" class="btn btn-primary" value="Eventos" />
                                        </div>

                                    </div>
                                </form>

                                @if (ViewBag.id == "eventos")
                                {

                                    <div>
                                        <span style="background-color:yellow">total eventos </span>  <span style="background-color:yellow"> @Model.Count</span>
                                    </div>

                                    <table class="table table-striped col-md-12 col-xs-12">
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">Asset</th>
                                                <th scope="col">Tel asset</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Pago</th>
                                            </tr>
                                        </thead>



                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <th scope="row">@item.Id</th>
                                                    <td>@item.Name</td>
                                                    <td>@item.telefono</td>
                                                    <td>@item.CreatedOn.ToString("dd/MM")</td>
                                                    <td>@item.UserName</td>
                                                    <td>@item.OrderStatus</td>
                                                    <td>@item.PaymentMethod</td>
                                                </tr>
                                            </tbody>
                                        }

                                    </table>
                                }

                            </div>
                            <hr align="left" noshade="noshade" size="2" width="100%" />

                            <div id="RepClientes" class="row">
                                <h4>Clientes</h4>
                                <form action="Clientes" method="post">
                                    <div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" name="inicial" id="fi" placeholder="fecha inicial" style="color:black" />
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" name="final" id="ff" placeholder="fecha final" style="color:black" />
                                        </div>

                                    </div>
                                    <div style="margin-top:5px">
                                        <div class="col-md-12 col-xs-12" style="margin-top:10px">
                                            <input type="submit" class="btn btn-primary" value="Clientes" />
                                        </div>
                                    </div>
                                </form>
                                @if (ViewBag.id == "Clientes")
                                {
                                    <div>
                                        <span style="background-color:yellow">total Clientes </span>  <span style="background-color:yellow"> @Model.Count</span>
                                    </div>
                                    <table class="table table-striped col-md-12 col-xs-12  ">
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Alta</th>
                                                <th scope="col">Visitas</th>
                                            </tr>
                                        </thead>

                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <th scope="row">@item.id</th>
                                                    <td>@item.UserName</td>
                                                    <td>@item.CreatedOn.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.NoVisitas</td>

                                                </tr>
                                            </tbody>
                                        }

                                    </table>
                                }
                            </div>
                            <hr align="left" noshade="noshade" size="2" width="100%" />

                            <div id="RepAsset" class="row">
                                <h4>Assets</h4>
                                <form action="Assets" method="post">
                                    <div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" name="inicial" id="fi" placeholder="fecha inicial" style="color:black" />
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <input type="date" class="form-control" name="final" id="ff" placeholder="fecha final" style="color:black" />
                                        </div>
                                    </div>
                                    <div style="margin-top:5px">
                                        <div class="col-md-12 col-xs-12" style="margin-top:10px">
                                            <input type="submit" class="btn btn-primary" value="Assets" />
                                        </div>

                                    </div>
                                </form>
                                @if (ViewBag.id == "Assets")
                                {
                                    <div>
                                        <span style="background-color:yellow">total Assets </span>  <span style="background-color:yellow"> @Model.Count</span>
                                    </div>
                                    <table class="table table-striped  col-md-12 col-xs-12 ">
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Alta</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>

                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <th scope="row">@item.Id</th>
                                                    <td>@item.Name</td>
                                                    <td>@item.CreatedOn.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.estado</td>
                                                    <td>@item.statusProfile</td>
                                                </tr>
                                            </tbody>
                                        }

                                    </table>
                                }
                            </div>
                            <div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
   
</script>
