@image-folder: "http://kendo.cdn.telerik.com/2015.3.930/styles/Flat";
@fallback-texture: none;
@texture: none;
@accent: #00bcd4;
@base: #363940;
@background: #ffffff;
@border-radius: 3px;
@normal-background: #ffffff;
@normal-gradient: none;
@normal-text-color: #4c5356;
@hover-background: #00bcd4;
@hover-gradient: none;
@hover-text-color: #ffffff;
@selected-background: #00bcd4;
@selected-gradient: none;
@selected-text-color: #ffffff;
@error: #be5138;
@warning: #ffe13a;
@success: #2b893c;
@info: #0c779b;
@series-a: #00bcd4;
@series-b: #ff7663;
@series-c: #ffb74f;
@series-d: #a2df53;
@series-e: #1c9ec4;
@series-f: #ff63a5;
@import "type-flat.less";