﻿
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta http-equiv="refresh" content="30">
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enviada</title>


</head>
<body>
    <div class="content-wrapper">
        <section class="content box-invitacion-enviada">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="check-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3>¡Invitación enviada!</h3>
                                <div class="info-more">
                                    <p style="font-size:smaller">En cuanto la invitación sea aceptada te avisaremos en el apartado de notificaciones y se activará un chat con la persona que invitaste.</p>
                                    <p style="font-size:smaller">Si tienes dudas acerca de tu invitación escríbenos a atencion@sens-room.com</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.ActionLink("Aceptar", "Index", "Xlist", null, new { @Class = "btn btn-primary", @style = "width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>