﻿
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta http-equiv="refresh" content="30">
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No disponible</title>
</head>
<body>
    <div class="content-wrapper">
        <section class="content box-invitacion-enviada">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="check-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3>¡No disponible!</h3>
                                @*<div class="info-costo">
                                        Se reservó con $1,000 MXN, la diferencia se cubrirá antes de empezar el evento.
                                    </div>*@
                                <div class="info-more">
                                    La persona a la que trataste de enviar la invitación ya no está disponible.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>