﻿
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enviada</title>
</head>
<body>
    <div class="content-wrapper">
        <section class="content box-invitacion-enviada">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="check-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3>Invitación No enviada</h3>
                                <div class="info-more">
                                    <p style="font-size:smaller">Sentimos que no se haya podido mandar tu invitación.</p>
                                    <p style="font-size:smaller">Se ha abonado un crédito a tu cuenta para que envies otra invitación sin costo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

