﻿@model ProjectX.API.Models.InvDetail

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>SensRoom</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />   
</head>
<body class="skin-luxx sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <i class="fa fa-envelope"></i> Inivitación
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <table class="table table-invitacion">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">Usuario:</th>
                                        <td>@Model.CusName</td>
                                    </tr>                                  
                                    <tr>
                                        <th>Total:</th>
                                        <td>$@Model.Total MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Anticipo:</th>
                                        <td>$@Model.Anticipo MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Pendiente:</th>
                                        <td>$@Model.Pendiente MXN</td>
                                    </tr>
                                    <tr>
                                        <th>Calificación:</th>
                                        <td>    
                                                @for (int i = 0; i < (int)Model.Calificación; i++)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                }

                                                @if (Model.Calificación < 5)
                                                {
                                                    int stars = 5 - (int)Model.Calificación;
                                                    for (int i = 0; i < stars; i++)
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-body invitacion-ubicacion">
                            <div class="col-md-9">
                                <h5>Ubicación del servicio</h5>
                                @if (@Model.Ciudad != null && @Model.Ciudad != string.Empty)
                                {
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i> @Model.Ciudad
                                }
                                else
                                {
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i> @Model.Distancia
                                }

                            </div>                       
                        </div>
                    </div>
                    <div class="box box-solid">
                        @if (Model.OrderStatus == 4)
                        {
                            <h4>Invitación Aceptada</h4>
                        }
                        @if (Model.OrderStatus == 3)
                        {
                            <h4>Invitación Rechazada</h4>
                        }

                        @if (Model.OrderStatus == 2)
                        {
                            <h4>Invitación Cancelada por tiempo</h4>
                        }
                    </div>
                    <div class="box box-solid">
                        <div class="box-body invitacion-botones">
                            <div class="col-md-6 col-xs-6 text-right">
                                @using (Html.BeginForm("UpdateOrder", "InvDetail", FormMethod.Post))
                                {
                                    if (Model.OrderStatus == 1)
                                    {
                                        <input type="hidden" name="orderid" value="@Model.OrderId" />
                                        <input type="hidden" name="orderstatus" value="3" />
                                        <button type="submit" class="btn btn-danger">Rechazar</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-danger" disabled>Rechazar</button>
                                    }
                                }
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <form action="Aceptar" method="post"></form>
                                @using (Html.BeginForm("UpdateOrder", "InvDetail", FormMethod.Post))
                                {
                                    if (Model.OrderStatus == 1)
                                    {
                                        <input type="hidden" name="orderid" value="@Model.OrderId" />
                                        <input type="hidden" name="orderstatus" value="4" />
                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success" disabled>Aceptar</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
