﻿
@{
    ViewBag.Title = "Ayuda - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.ayuda = "active";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-question" aria-hidden="true"></i> Atención al cliente</h2>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <p>Escribe aquí cómo te podemos ayudar y un medio de contacto (correo o whatsapp) para enviarte respuesta. Te atenderemos a la brevedad.</p>
                            <div class="form-group">
                                <label for="comment">Comentario:</label>
                                <textarea class="form-control" rows="5" id="comment" placeholder="Escribe una breve descripción del problema que tienes..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">Medio de contacto:</label>
                                <input class="form-control" type="text" maxlength="50" placeholder="E-mail o teléfono" id="contact">
                            </div>
                            <div>
                                <button type="submit" id="sendComment" class="btn btn-primary">Enviar</button>
                            </div>
                            <br />
                            <p>También puedes enviar correo a atencion@sens-room.com y con gusto te atenderemos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>