﻿
@{
    ViewBag.Title = "¿Cómo funciona? - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.comofu2 = "active";
}




<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-info" aria-hidden="true"></i> ¿Cómo funciona SensRoom?</h2>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <h3> SensRoom es un medio interactivo digital para que los usuarios del sitio puedan asistir a encuentros, es una red social que permite que las personas adultas se puedan conocer y funciona muy facil.</h3>
                            <ul class="list-numbers">
                                <li>
                                    Cuando hayas visto a alguien de tu agrado mándale un invitación. La invitación tiene un costo del 25% del precio pubicado en el perfil, el resto deberá ser pagado justo antes de empezar el evento.
                                </li>
                                <li>
                                    Si la invitación fue aceptada se te notificará en la sección de "Notificaciones" y se activará un chat para que platiques con la persona de tu interés. El chat tiene vigencia de 12 horas.
                                </li>
                                <li>
                                    Si la invitación fue rechazada o cancelada tendrás de manera automática un crédto para que puedas mandar otra invitación a otra persona sin costo.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
