﻿@model  List<ProjectX.API.Models.tCredito>

@{
    ViewBag.Title = "Creditos - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.creditos = "active";
}

<!DOCTYPE html>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-money" aria-hidden="true"></i> Créditos</h2>
                    </div>
                    <div class="box-body">
                        Descripcion de los creditos

                        @if (Model.Count > 0)
                        {

                            <h3>Tienes @Model.Count créditos que puedes usar para enviar invitaciones sin costo.</h3>
                        }
                        else
                        {
                            <h3><i class="fa fa-frown-o" aria-hidden="true"></i> No tienes créditos en este momento</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
