﻿@model List<ProjectX.API.Models.PerfilAsset>
@{
    ViewBag.Title = "Inicio - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.inicio = "active";
}
<!DOCTYPE html>
<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV8FVkncmQBt5K2fzSSLiDCooCXw_1IUE&callback=initMap"></script>
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaQmkJk-1O7jMw3QsDSCJBNA26fMDX9hs&callback=initMap&libraries=&v=weekly" defer></script>*@
<script src="~/Scripts/GeolocCustomer.js"></script>
<div class="content-wrapper">
    <section class="content">
        <div class="row row-tools">
            <div class="col-md-6 col-xs-6">
                <button type="submit" value="ajustes" class="btn btn-primary" data-toggle="modal" data-target="#modal-ajustes" id="btnAjustes"><i class="fa fa-cogs" aria-hidden="true"></i> Ajustes</button>
            </div>
            <div class="col-md-6 col-xs-6">
                <button type="submit" value="Ubicación" class="btn btn-primary" data-toggle="modal" data-target="#modal-ubicacion" id="btnUbicación"><i class="fa fa-map-marker" aria-hidden="true"></i> Ciudad</button>
            </div>
        </div>
        @Html.ValidationSummary(true)
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                <input type="hidden" id="conta" value="@Model.Count" />
                <input type="hidden" id="inEdad" value="@Model[0].Pedad" style="color:black" />
                <input type="hidden" id="inPrecio" value="@Model[0].Pprecio.ToString("0")" style="color:black" />
                <input type="hidden" id="inSexo" value="@Model[0].Psexo" style="color:black" />

                foreach (var item in Model)
                {
                    <a href="@Url.Action("Index", "ADetail", new { id = @item.ID })">
                        <div style="color:black" class="row" id="rowasset_" value="@item.ID">
                            <div class="col-md-12">
                                <div class="info-box clearfix">
                                    <div class="col-md-2 col-xs-3 info-box-foto">
                                        <div class="profile-user-img img-responsive img-circle">
                                            <img src="@item.Foto" width="25" height="25">
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-xs-9 info-box-desc">
                                        <div class="info-box-content-top clearfix">
                                            <div class="col-md-6 col-xs-6 info-box-name" style="line-height:12px">
                                                <h4>
                                                    @item.Name
                                                </h4>
                                                <xsma style="font-size:x-small">@item.Saludo</xsma>
                                            </div>
                                            <div class="col-md-6 col-xs-6 info-box-statusedad">
                                                <div class="status">

                                                </div>
                                                <div class="edad" style="font-size:small">
                                                    @item.Edad años
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info-box-content-bottom clearfix">
                                            <div class="col-md-6 col-xs-6 price " style="font-size:small">
                                                @item.Costo.ToString("C0")
                                            </div>
                                            <div class="col-md-6 col-xs-6 distancia" style="font-size:small">

                                                @if (item.ciudad == null || item.ciudad == string.Empty)
                                                {
                                                    @item.Distancia.ToString("0" + " km");
                                                }
                                                else
                                                {

                                                    @item.ciudad
                                                }

                                            </div>

                                            <div class="info-box-content-bottom clearfix" style="font-size:small">

                                                @for (int i = 0; i < (int)item.calificacion; i++)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                }

                                                @if (item.calificacion < 5)
                                                {
                                                    int stars = 5 - (int)item.calificacion;
                                                    for (int i = 0; i < stars; i++)
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                <div>
                    <ul class="pagination">

                        @if (Model[0].totalAsset > 10)
                        {
                            int index = 1;
                            for (int i = 0; i < Model[0].totalAsset; i += 10)
                            {
                                <li><a href="@Url.Action("Index", "Xlist", new {@page = index })">@index</a></li>
                                index++;
                            }
                        }
                    </ul>
                </div>
            }
            else
            {
                <p>Por el momento no hay personas en línea cerca de ti, por favor intenta mas tarde. Estamos trabajando para que haya mas perfiles.</p>
                <p>Te sugerimos que ampliar los criterios de búsqueda en la sección de "Ajustes".</p>
            }
        }
        else
        {
            <p>Buscando...</p>
        }
    </section>
</div>

<div class="modal fade" id="modal-ajustes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i> Ajustes</h4>
            </div>
            @using (Html.BeginForm("Filtros", "Xlist", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><strong>Edad máxima</strong></label>
                                <select class="form-control" name="edad" id="selEdad">
                                    <option value="25">25 años</option>
                                    <option value="30">30 años</option>
                                    <option value="35">35 años</option>
                                    <option value="40">40 años</option>
                                    <option value="50">50 años</option>
                                    <option value="99">+ de 50 </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><strong>Busco</strong></label>
                                <select class="form-control" name="pref" id="selPref">
                                    <option value="1">Mujeres</option>
                                    <option value="2">Hombres</option>
                                    <option value="3">Hombres y Mujeres</option>
                                </select>
                            </div>
                        </div>                     
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@using (Html.BeginForm("Ordenar", "Xlist", FormMethod.Post))
{
    <div class="modal fade" id="modal-ordenar">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-filter" aria-hidden="true"></i> Ordenar por</h4>
                </div>
                <div class="modal-body">
                    <div class="row radio-list">
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="ordenar" class="form-check-input" id="online-2hrs" value="1">
                                <label class="form-check-label" for="online-2hrs">
                                    Edad
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="ordenar" class="form-check-input" id="online-3hrs" value="2">
                                <label class="form-check-label" for="online-3hrs">
                                    Precio
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="radio" name="ordenar" class="form-check-input" id="online-4hrs" value="3">
                                <label class="form-check-label" for="online-4hrs">
                                    Distancia
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}


<div class="modal fade" id="modal-ubicacion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-map-marker" aria-hidden="true"></i>Selecciona una ciudad</h4>
            </div>
            <div class="modal-body">
                <div class="row radio-list" style="z-index:3;">
                    <select class="mdb-select md-form" id="citySelect" style="color:black; width:100%">
                        <option value="" disabled selected>Ciudades...</option>
                        <option value="0">Todo</option>
                        <option value="cdmx">CDMX</option>
                        <option value="monterrey">Monterrey</option>
                        <option value="guadalajara">Guadalajara</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" id="IdItemAssetModal" />
                <button type="button" class="btn btn-sr" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btnfbEnv" class="btn btn-primary" onclick="geocodeAddress();">Buscar</button>
            </div>
            <script>
                function geocodeAddress(geocoder, resultsMap) {
                    var geocoder = new google.maps.Geocoder();
                    var address = $("#citySelect option:selected").text();
                    if (address != "Todo" && address != "Ciudades...") {
                        geocoder.geocode({ 'address': address },
                            function (results, status) {
                                if (status === 'OK') {
                                    $.ajax({
                                        type: "POST",
                                        data: { 'latC': results[0].geometry.location.lat(), 'lonC': results[0].geometry.location.lng() },
                                        url: "/Xlist/UpdateLocation",
                                        success: function (data) {
                                            // window.location.href = 'https://sens-room.com/Xlist';
                                            window.location.href = 'http://localhost:8080/Xlist';
                                        }
                                    });
                                } else {
                                    alert('La localización no fue satisfactoria por la siguiente razón: ' + status);
                                }
                            });
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            data: { 'latC': 0, 'lonC': 0 },
                            url: "/Xlist/UpdateLocation",
                            success: function (data) {
                                // window.location.href = 'https://sens-room.com/Xlist';
                                window.location.href = 'http://localhost:8080/Xlist';
                            }
                        });
                    }
                }
            </script>
        </div>
    </div>
</div>







