﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="manifest" href="/manifest.json">


<body class="is-preload flexfix">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="login-form">
                        <h1 class="logo"></h1>
                        <div class="row login-info" style="margin-bottom:25px">
                            <div class="col-6 text-center">
                                @Html.ActionLink("Ir a login", "Login", "Account", null, new { @class = "form-horizontal" })
                            </div>
                            <div class="col-6 text-center">
                                @*<a href="#">Olvidé la contraseña</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Alias" class="control-label">
                                        Ingresa tu nombre de usuario
                                    </label>
                                    <input type="text" class="login-user" id="alias" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <label for="Alias" class="control-label">
                                        Ingresa el número de teléfono con el que te registraste
                                    </label>
                                    <input type="text" class="form-control" id="tel" placeholder="10 digitos" maxlength="10" />
                                </div>
                                <div class="form-group">
                                    <label for="Pass1" class="control-label">
                                        Ingresa tu nueva contraseña
                                    </label>
                                    <input type="password" class="login-pass" id="Pass1" placeholder="Ingresar contraseña">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="login-pass" id="Pass2" placeholder="Confirmar contraseña">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 id="msmVar"></h6>
                                <input type="submit" id="btnupdate" class="btn btn-primary" style="width:100%;" value="Actualizar" />
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $(document).on('click', '#btnupdate', function () {
            var name = $("#alias").val();
            var tel = $("#tel").val();
            var pass = $("#Pass1").val();
            var passC = $("#Pass2").val();
            $.ajax({
                type: "POST",
                data: { 'name': name, 'tel': tel, 'pass': pass, 'passConf': passC },
                url: "/PassUpdate/update",
                success: function (data) {
                    if (data) {
                        alert("Contraseña actualizada")
                        window.location.href = 'https://sens-room/Account/login';
                    }
                    else {
                      //  alert("Revisa los datos ingresados o manda correo a atencion@SensRoom.com")
                    }
                }
            });
        });
    });
</script>


