﻿/* Global Styles */
:root {
    --primary-color: #881216;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    z-index: 99999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}
.blok-code p{
    font-size:0.9rem;
}
a {
    color: #fff;
    text-decoration: none;
}

    a:hover {
        color: #eee;
    }

p {
    margin: 0.5rem 0;
}
input, input:focus {
    outline:none !important;
    box-shadow: none !important;
}
img {
    width: 100%;
}

.social-list {}

.social-list a{
    display:inline-block;
    margin-left:10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-shadow-2 {
    text-shadow: 1px 1px 2px #141414;
}

.showcase {
    width: 100%;
    height: 90vh;
    position: relative;
    background: url('../img/esos_ojos_1.jpg') no-repeat fixed center/cover;
    overflow: hidden;
}

    .showcase::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
        /*box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;*/
    }

.woman-content {
    background: url('../img/ella_apasionada.jpg') no-repeat fixed center/cover;
    padding: 18rem 2rem;
    color: #fff;
    position: relative;
    border-top: 2px solid #3d3d3d;
    border-bottom: 2px solid #3d3d3d;
}
.device-all {
    padding: 5rem 2rem;
    border-bottom: 2px solid #3d3d3d;
    color:#fff;
}
.device-all .text{
    padding-left:30px;
    padding-right:30px;
}
.woman-content .container{
    padding: 0 2rem 0 2rem;
}


.tab-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 20px 10px 100px #333, inset -20px -10px 100px #000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-content img {
    width: 140px;
    margin-bottom: 2rem;
    /*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;*/
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-73%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0rem;
    padding-top:100px;
}

    .showcase-content h1 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.1;
        margin: 0 0 1rem;
        text-shadow: 1px 1px 3px #000;
    }

    .showcase-content p {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.25;
        margin: 0 0 2rem;
        text-shadow: 1px 1px 3px #000;
    }

/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
}

    .tabs .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .tabs p {
        font-size: 1.2rem;
        padding-top: 0.5rem;
    }

    .tabs .container > div {
        padding: 1.5rem 0;
    }

        .tabs .container > div:hover {
            color: #fff;
            cursor: pointer;
        }

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
    position: relative;
    color: #fff;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
    background: #000;
    opacity: 0;
}
#tab-1-content {
    background: url('../img/bg-home-woman.jpg') no-repeat fixed center/cover;
    padding: 5rem 8rem;
}

.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

    .table thead th {
        text-transform: uppercase;
        padding: 0.8rem;
    }

    .table tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

        .table tbody tr td {
            color: #999;
            padding: 0.8rem 1.2rem;
            text-align: center;
        }

            .table tbody tr td:first-child {
                text-align: left;
            }

        .table tbody tr:nth-child(odd) {
            background: #222;
        }

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

    .footer,
    .footer a {
        color: #999;
        font-size: 0.9rem;
    }

        .footer p {
            margin-bottom: 1.5rem;
        }

        .footer .footer-cols {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
        }

        .footer li {
            line-height: 1.9;
        }

        .footer .lang-select {
            margin-top: 2rem;
            color: #999;
            background-color: #000;
            background-image: none;
            border: 1px solid #333;
            padding: 1rem 1.2rem;
            border-radius: 5px;
        }

/* Container */
.container {
    /*max-width: 70%;*/
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}
.container.full{
    max-width: 100%;
    padding:0px;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    /*margin-right: 0.5rem;*/
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

    .btn:hover {
        opacity: 0.9;
        color: #eee;
        transition: all .3s ease-in-out;
    }

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

@media (max-width: 960px) {

    .showcase {
        height: 95vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
        text-transform: uppercase;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .text-md {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .woman-content {
        padding: 5rem 2rem;
    }
    .woman-content .container {
        padding: 0 1rem 0 1rem;
    }
    .showcase::after {
        background: rgba(0, 0, 0, 0.6);
        /*box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;*/
    }

    .tab-content::after {
        box-shadow: inset 20px 20px 120px #333, inset -20px -20px 120px #333;
    }
    .showcase-content{
        padding-top:0px;
    }
    .showcase-content h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 12px;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.6rem;
        text-transform: uppercase;
    }
}

@media(max-height: 600px) {
    .showcase-content {
        margin-top: 0rem;
    }
}
