﻿
@{
    ViewBag.Title = "SmsMas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/css/styles.css" />
<link rel="stylesheet" href="~/Content/css/panel.css" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div class="container">
                            <h3>Mensaje a assets</h3>
                            <p>Enviar mensaje a todos los assets.</p>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><strong>¿A quien?</strong></label>
                                        <select class="form-control" name="GroupSelected" id="AssetsSel">
                                            <option value="1">Assets con perfil activo</option>
                                            @*<option value="2">Assets con perfil en revisión</option>
                        <option value="3">Todos</option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#assets">Mensaje a assets</button>
                            <div id="assets" class="collapse">
                                <div class="form-group">
                                    <label for="comment">Comentario:</label>
                                    <textarea class="form-control" rows="5" id="mensajesms" placeholder="Mensaje..."></textarea>
                                </div>

                                <div>
                                    <button type="submit" id="sendSmsMasivo" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>

                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#clientes">Mensaje a clientes</button>
                            <div id="clientes" class="collapse">
                                <div class="form-group">
                                    <label for="comment">Comentario:</label>
                                    <textarea class="form-control" rows="5" id="mensajesms" placeholder="Mensaje..."></textarea>
                                </div>

                                <div>
                                    @*<button type="submit" id="sendSmsMasivo" class="btn btn-primary">Enviar</button>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

