﻿@model List<ProjectX.API.Models.Mensajes>
@{
    ViewBag.Title = "Notificaciones - SenseRoom";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.notif = "active";
}

<script src="~/Scripts/jsLuxxList.js"></script>

<meta http-equiv="refresh" content="30">
<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2><i class="fa fa-bell-o"></i> Notificaciones</h2>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        if ((int)Session["type"] == 2)
                                        {
                                            foreach (var item in Model)
                                            {
                                                if (item.MType == 1)
                                                {
                                                    <tr id="rowMensajeX" value="@item.OrderID,@item.MType">
                                                        <td class="mailbox-name">
                                                            @if (item.MessageStatus != 3)
                                                            {<i class="fa fa-envelope"></i> }
                                                            else
                                                            {<i class="fa fa-envelope-open"></i>}
                                                            <a href="@Url.Action("Index", "InvDetail", new { id = item.OrderID })">Invitación de @item.CustomerName</a>

                                                        </td>
                                                        <td class="mailbox-date">
                                                              @item.Tiempo 
                                                        </td>
                                                    </tr>
                                                }

                                                else if (item.MType == 10)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            Un socio se dio de alta con tu código
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>  @item.Tiempo</h6>
                                                        </td>
                                                    </tr>
                                                }

                                                else if (item.MType == 11)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            Un clinte compró membresia con tu código
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>  @item.Tiempo</h6>
                                                        </td>
                                                    </tr>
                                                }

                                                else if (item.MType == 12)
                                                {
                                                    <tr id="rowMensajeX" style="font-size:smaller">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>

                                                            Ajuste sugerido: @item.Mensaje
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>  @item.Tiempo</h6>
                                                        </td>
                                                    </tr>
                                                }

                                                else
                                                {
                                                    <tr id="rowMensajeX" value="@item.OrderID,@item.MType">
                                                        <td class="mailbox-name">
                                                            @if (item.MessageStatus != 3)
                                                            {<i class="fa fa-envelope"></i> }
                                                            else
                                                            {<i class="fa fa-envelope-open"></i>}
                                                            @item.Mensaje
                                                        </td>
                                                        <td class="mailbox-date">
                                                              @item.Tiempo 
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                if (item.MType == 1)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            Enviaste una invitación a @item.AssetName
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>   @item.Tiempo </h6>
                                                        </td>
                                                    </tr>
                                                }

                                                else if (item.MType == 7)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            <a href="@Url.Action("Chat", "Chat", new {idO = @item.OrderID })"> @item.AssetName  aceptó la invitación!!</a>
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>   @item.Tiempo </h6>
                                                        </td>
                                                    </tr>
                                                }

                                                else if (item.MType == 8)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            @item.Mensaje
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>   @item.Tiempo </h6>
                                                        </td>
                                                    </tr>
                                                }
                                                else if (item.MType == 9)
                                                {
                                                    <tr id="rowMensajeX">
                                                        <td class="mailbox-name">
                                                            <i class="fa fa-envelope"></i>
                                                            @item.Mensaje
                                                        </td>
                                                        <td class="mailbox-date">
                                                            <h6>   @item.Tiempo </h6>
                                                        </td>
                                                    </tr>
                                                }

                                            }

                                        }

                                    }
                                    else
                                    {
                                        <h4 style="color:black; text-align:center"><i class="fa fa-frown-o" aria-hidden="true"></i> No tienes mensajes nuevos</h4>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>