﻿<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <link rel="stylesheet" href="~/Content/css/panel.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/skin-sensroom.css" />
    <link rel="icon" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/images/favicon.png">
    <link rel="manifest" href="manifest.json">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134107451-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134107451-1');
    </script>
</head>


<body class="skin-sensroom">
    <div class="overlay">
        <img src="~/img/loader/puff.svg" alt="loader" style="width:100px;">
    </div>

    @RenderBody()


    @*<script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.all.min.js")"></script>*@

    <script src="~/Scripts/functions.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/panel.js"></script>


    @*<script src="@Url.Content("~/Scripts/kendo/2016.1.112/jszip.min.js")"></script>

        <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2016.1.112/cultures/kendo.culture.es-MX.min.js")"></script>


        <script src="@Url.Content("~/Content/kendo/2016.1.112/kendo.custom.js")"></script>*@


    @*<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>*@


    <script>
        kendo.culture("es-MX");
    </script>

    <script>
        //This is the service worker with the Cache-first network

        //Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {

            //Register the ServiceWorker
            navigator.serviceWorker.register('pwabuilder-sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>



</body>
</html>

