﻿
@using Microsoft.AspNet.Identity
<!DOCTYPE HTML>




<html>

<head>
    <title>SensRoom</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <link rel="stylesheet" href="~/Content/css/pace.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/panel.css" />
    <link rel="stylesheet" href="~/Content/css/skin-sensroom.css" />
    <link rel="stylesheet" href="~/Content/css/ekko-lightbox.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="icon" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/images/favicon.png">
    <link rel="manifest" href="manifest.json" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134107451-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134107451-1');
    </script>

</head>
<body class="skin-sensroom sidebar-mini fixed">
    <div class="overlay">
        <img src="~/img/loader/puff.svg" alt="loader" style="width:100px;">
    </div>
    <!-- wrapper -->
    <div class="wrapper" style="background-color:black">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <span class="logo-mini"><img src="~/img/logo_sys.png" /></span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu" data-toggle="tooltip" data-placement="bottom" title="Chats">
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Buzón">
                                    <i class="fa fa-envelope"></i>
                                    <span class="label label-yellow">4</span>
                                </a>*@
                            <!-- Mensajes -->
                            <ul class="dropdown-menu">
                                <li class="header">Tienes 2 nuevos mensajes</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <!-- inciar mensaje -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user-1.jpg" class="img-circle">
                                                </div>
                                                <h4>
                                                    LauFoxy
                                                    <small><i class="fa fa-clock-o"></i> 5 minutos</small>
                                                </h4>
                                                <p>¿Sigues interesado?</p>
                                            </a>
                                        </li>
                                        <!-- fin mensaje -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user-2.jpg" class="img-circle">
                                                </div>
                                                <h4>
                                                    Linet
                                                    <small><i class="fa fa-clock-o"></i> 2 horas</small>
                                                </h4>
                                                <p>Ok, hablamos despues</p>
                                            </a>
                                        </li>
                                    </ul>
                            </ul>
                        </li>

                        <li class="dropdown notifications-menu">
                            <a href="@Url.Action("SalaChat", "SalaChat")" data-toggle="tooltip" data-placement="bottom" title="Chats">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                @if (Session["chatSN"] != null)
                                {
                                    if (bool.Parse(Session["chatSN"].ToString()))
                                    {
                                        <span class="label label-red">!</span>
                                    }
                                }


                            </a>
                        </li>


                        @if (Session["nots"] != null)
                        {
                            if (int.Parse(Session["type"].ToString()) != 3)
                            {
                                <!-- Notificaciones -->
                                <li class="dropdown notifications-menu">
                                    <a href="@Url.Action("Inbox", "Inbox")" data-toggle="tooltip" data-placement="bottom" title="Alertas">
                                        <i class="fa fa-bell-o"></i>
                                        @if (int.Parse(Session["nots"].ToString()) > 0)
                                        {
                                            <span class="label label-red">@Session["nots"]</span>
                                        }
                                    </a>
                                </li>
                            }
                        }

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @if (Session["type"] != null)
                                    {
                                        if (int.Parse(Session["type"].ToString()) == 2)
                                        {
                                            if (Session["FotoPerfil"] != null)
                                            {
                                                <img src="data:image;base64,@System.Convert.ToBase64String(Session["FotoPerfil"] as byte[])" class="img-circle" alt="User Image">
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/logo_small_1_solo.png" class="img-circle" alt="User Image">
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/logo_small_1_solo.png" class="img-circle" alt="User Image">
                                        }
                                    }
                                    else
                                    {

                                    }

                                    <p>
                                        @User.Identity.GetUserName()
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">

                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!-- Columna izquierda. contains the logo and sidebar -->
        @if (Request.IsAuthenticated)
        {
            <aside class="main-sidebar">
                <section class="sidebar">
                    <!-- Usuario -->
                    <div class="user-panel">
                        @*<div class="pull-left image">
                                <img src="~/Content/images/logo_small_1_solo.png" class="img-circle" alt="User Image" width="30px" height="30px">
                        </div>*@
                        <a href="#" class="logo">
                            <span class="logo-lg">
                                <img src="~/img/logo_sys.png" />
                            </span>
                        </a>
                        @if (Session["type"] != null)
                        {

                            if (int.Parse(Session["type"].ToString()) == 2)
                            {
                                @*<div class="pull-left info">
                    <p>@User.Identity.GetUserName()</p>
                    @if (bool.Parse(Session["online"].ToString()) == true)
                    {
                        <a href="#"><i class="fa fa-circle text-success"></i>On Line</a>
                    }
                    else
                    {
                        <a href="#"><i class="fa fa-circle text-danger"></i>Off Line</a>
                    }

                </div>*@
                            }
                            else
                            {

                            }
                        }
                        else
                        {
                            <div onload="javascript: document.getElementById('logoutForm').submit();"></div>
                        }

                    </div>
                    <!-- Menú Sidebar -->

                    <ul class="sidebar-menu" data-widget="tree">

                        @if (Session["type"] != null)
                        {
                            if (int.Parse(Session["type"].ToString()) != 3)
                            {
                                if (int.Parse(Session["type"].ToString()) == 2)
                                {
                                    <li class="@ViewBag.inicio">
                                        <a href="@Url.Action("Index", "AssetW")">
                                            <i class="fa fa-home"></i>
                                            <span>Inicio</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="@ViewBag.inicio">
                                        <a href="@Url.Action("Index", "Xlist")">
                                            <i class="fa fa-home"></i>
                                            <span>Inicio</span>
                                        </a>
                                    </li>
                                }

                                <li class="@ViewBag.notif">
                                    <a href="@Url.Action("Inbox", "Inbox")">
                                        <i class="fa fa-bell-o"></i>
                                        <span>Notificaciones</span>
                                        <span class="pull-right-container">
                                            <span class="label label-yellow pull-right"></span>@*4*@
                                        </span>
                                    </a>
                                </li>

                                if (int.Parse(Session["type"].ToString()) == 2)
                                {
                                    <li class="@ViewBag.segu">
                                        <a href="@Url.Action("Seguridad", "AssetW")">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            <span>Mi seguridad</span>
                                            <span class="pull-right-container">
                                                <span class="label label-yellow pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>

                                    <li class="@ViewBag.ganadinero">
                                        <a href="@Url.Action("GanaDinero", "AssetW")">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>Gana dinero</span>
                                            <span class="pull-right-container">
                                                <span class="label label-yellow pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                }
                                if (int.Parse(Session["type"].ToString()) == 1)
                                {
                                    <li class="@ViewBag.creditos">
                                        <a href="@Url.Action("Creditos", "Xlist")">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>Creditos</span>
                                            <span class="pull-right-container">
                                                <span class="label label-yellow pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <div onload="javascript: document.getElementById('logoutForm').submit();"></div>
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span>Salir</span>
                                <span class="pull-right-container">
                                    <span class="label label-yellow pull-right"></span>@*4*@
                                </span>
                            </a>
                        </li>
                    </ul>
                    <button class="add-button">Agregar a pantalla</button>
                </section>

            </aside>
        }
        @RenderBody()
        @Html.Partial("_LoginPartial")

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            SensRoom &copy;2020 | <a href="http://SensRoom.com/TYC.html">Términos y condiciones</a>.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Scripts -->

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/ekko-lightbox.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/js/pace.min.js"></script>
    <script src="~/Content/js/panel.js"></script>
    <script src="~/Scripts/jsLuxxList.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/index.js"></script>
    <script type="text/javascript">
        // To make Pace works on Ajax calls
        $(document).ajaxStart(function () {
            Pace.restart()
        })
    </script>

    <script>
        $(document).ready(function () {
            if (Session["type"] == null) {
                javascript: document.getElementById('logoutForm').submit();
            }
        });

                //This is the service worker with the Cache-first network

                //Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
                //if (navigator.serviceWorker.controller) {
                //    console.log('[PWA Builder] active service worker found, no need to register')
                //} else {

                //    //Register the ServiceWorker
                //    navigator.serviceWorker.register('pwabuilder-sw.js', {
                //        scope: './'
                //    }).then(function (reg) {
                //        console.log('Service worker has been registered for scope:' + reg.scope);
                //    });
                //}

    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>
</html>



