﻿
@using Microsoft.AspNet.Identity
<!DOCTYPE HTML>




<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <link rel="stylesheet" href="~/Content/css/pace.css" />
    <link rel="stylesheet" href="~/Content/css/panel.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/skin-sensroom.css" />
    <link rel="stylesheet" href="~/Content/css/ekko-lightbox.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="icon" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/images/favicon.png">
    <link rel="manifest" href="manifest.json" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134107451-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134107451-1');
    </script>*@

</head>
<body class="skin-sensroom sidebar-mini fixed">
    <div class="overlay">
        <img src="~/img/loader/puff.svg" alt="loader" style="width:100px;">
    </div>
    <!-- wrapper -->
    <div class="wrapper" style="background-color:black">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <span class="logo-mini"><img src="~/img/logo_sys.png" /></span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" data-placement="right" title="Abrir Menú">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown notifications-menu">
                            <a href="@Url.Action("SalaChat", "SalaChat")" data-toggle="tooltip" data-placement="bottom" title="Chats">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                @if (Session["chatSN"] != null)
                                {
                                    if (bool.Parse(Session["chatSN"].ToString()))
                                    {
                                        <span class="label label-red">!</span>
                                    }
                                }
                            </a>
                        </li>
                        @if (Session["nots"] != null)
                        {
                            if (int.Parse(Session["type"].ToString()) != 3)
                            {
                                <!-- Notificaciones -->
                                <li class="dropdown notifications-menu">
                                    <a href="@Url.Action("Inbox", "Inbox")" data-toggle="tooltip" data-placement="bottom" title="Alertas">
                                        <i class="fa fa-bell-o"></i>
                                        @if (int.Parse(Session["nots"].ToString()) > 0)
                                        {
                                            <span class="label label-red">@Session["nots"]</span>
                                        }
                                    </a>
                                </li>
                            }
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!-- Columna izquierda. contains the logo and sidebar -->
        @if (Request.IsAuthenticated)
        {
            <aside class="main-sidebar">
                <section class="sidebar">
                    <!-- Usuario -->
                    <div class="user-panel text-center">
                        @*<div class="pull-left image">
                                <img src="~/Content/images/logo_small_1_solo.png" class="img-circle" alt="User Image" width="30px" height="30px">
                            </div>*@
                        <a href="#" class="logo">
                            <span class="logo-lg">
                                <img src="~/img/logo_sys.png" />
                            </span>
                        </a>
                        @if (Session["type"] != null)
                        {

                            if (int.Parse(Session["type"].ToString()) == 2)
                            {
                                @*<div class="pull-left info">
                                        <p>@User.Identity.GetUserName()</p>
                                        @if (bool.Parse(Session["online"].ToString()) == true)
                                        {
                                            <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                                        }
                                        else
                                        {
                                            <a href="#"><i class="fa fa-circle text-danger"></i>Offline</a>
                                        }

                                    </div>*@
                            }
                            else
                            {

                            }
                        }
                        else
                        {
                            <div onload="javascript: document.getElementById('logoutForm').submit();"></div>
                        }

                    </div>
                    <!-- Menú Sidebar -->

                    <ul class="sidebar-menu" data-widget="tree">

                        @if (Session["type"] != null)
                        {
                            if (int.Parse(Session["type"].ToString()) != 3)
                            {
                                if (int.Parse(Session["type"].ToString()) == 2)
                                {
                                    <li class="user-item">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        <span>@User.Identity.GetUserName()</span>

                                    </li>
                                    <li class="@ViewBag.inicio">
                                        <a href="@Url.Action("Index", "AssetW")">
                                            <i class="fa fa-home"></i>
                                            <span>Inicio</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="user-item">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        <span>@User.Identity.GetUserName()</span>

                                    </li>


                                    <li class="@ViewBag.inicio">
                                        <a href="@Url.Action("Index", "Xlist")">
                                            <i class="fa fa-home"></i>
                                            <span>Inicio</span>
                                        </a>
                                    </li>
                                }

                                <li class="@ViewBag.notif">

                                    <a href="@Url.Action("Inbox", "Inbox")">
                                        <i class="fa fa-bell-o"></i>
                                        <span>Notificaciones</span>
                                        <span class="pull-right-container">
                                            <span class="label label-red pull-right"></span>@*4*@
                                        </span>
                                    </a>
                                </li>

                                if (int.Parse(Session["type"].ToString()) == 2)
                                {
                                    <li class="@ViewBag.segu">
                                        <a href="@Url.Action("Seguridad", "AssetW")">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            <span>Mi seguridad</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>

                                    <li class="@ViewBag.ganadinero">
                                        <a href="@Url.Action("GanaDinero", "AssetW")">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>Gana dinero</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>

                                    <li class="@ViewBag.offli">
                                        <a href="@Url.Action("Eliminar", "AssetW")">
                                            <i class="fa fa-toggle-on" aria-hidden="true"></i>
                                            <span>Offline</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                    <li class="@ViewBag.comofu">
                                        <a href="@Url.Action("ComoFuncionaA", "AssetW")">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                            <span>¿Cómo funciona?</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                    <li class="@ViewBag.califev">
                                        <a href="@Url.Action("Index", "Califica")">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <span>Califica tu evento</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                }
                                if (int.Parse(Session["type"].ToString()) == 1)
                                {
                                    <li class="@ViewBag.creditos">
                                        <a href="@Url.Action("Creditos", "Xlist")">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>Creditos</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                    <li class="@ViewBag.ayuda">
                                        <a href="@Url.Action("Ayuda", "Xlist")">
                                            <i class="fa fa-question" aria-hidden="true"></i>
                                            <span>Ayuda</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                    <li class="@ViewBag.comofu2">
                                        <a href="@Url.Action("ComoFunciona", "Xlist")">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                            <span>¿Cómo funciona?</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>

                                    <li class="@ViewBag.califev">
                                        <a href="@Url.Action("Index", "Califica")">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <span>Califica tu evento</span>
                                            <span class="pull-right-container">
                                                <span class="label label-red pull-right"></span>@*4*@
                                            </span>
                                        </a>
                                    </li>
                                }

                            }
                            else
                            {

                                <li class="@ViewBag.enviarmsge">
                                    <a href="@Url.Action("Index", "SmsMas")">
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        <span>Enviar mensajes</span>
                                        <span class="pull-right-container">
                                            <span class="label label-red pull-right"></span>@*4*@
                                        </span>
                                    </a>
                                </li>

                                <li  class="@ViewBag.reporte">
                                    <a href="@Url.Action("Reporte", "Admin1")">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <span>Reporte</span>
                                        <span class="pull-right-container">
                                            <span class="label label-red pull-right"></span>@*4*@
                                        </span>
                                    </a>
                                </li>

                                <li  class="@ViewBag.passupdate">
                                    <a href="@Url.Action("PassUpdate", "Admin1")">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <span>Passupdate</span>
                                        <span class="pull-right-container">
                                            <span class="label label-red pull-right"></span>@*4*@
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <div onload="javascript: document.getElementById('logoutForm').submit();"></div>
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span>Salir</span>
                                <span class="pull-right-container">
                                    <span class="label label-red pull-right"></span>@*4*@
                                </span>
                            </a>
                        </li>
                    </ul>
                    <button class="add-button">Agregar a pantalla</button>
                </section>

            </aside>
        }
        @RenderBody()
        @Html.Partial("_LoginPartial")

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                contacto: <a href="mailto:ayuda@sens-room.com" target="_blank"><i class="fa fa-envelope"></i></a>  <a href="https://www.instagram.com/sens.room/" target="_blank"><i class="fa fa-instagram"></i></a> / <b>Version</b> 1.0.0
            </div>
            &copy; SensRoom 2020 | <a href="@Url.Action("tyc", "CRegistro")">Términos y condiciones</a>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- Scripts -->

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/js/pace.min.js"></script>
    <script src="~/Content/js/panel.js"></script>
    <script src="~/Scripts/jsLuxxList.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/index.js"></script>
    <script type="text/javascript">
        // To make Pace works on Ajax calls
        $(document).ajaxStart(function () {
            Pace.restart()
        })
    </script>

    <script>
        $(document).ready(function () {
            if (Session["type"] == null) {
                javascript: document.getElementById('logoutForm').submit();
            }
        });

        //This is the service worker with the Cache-first network

        //Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {

            //Register the ServiceWorker
            navigator.serviceWorker.register('pwabuilder-sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>
</html>



