﻿﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SensRoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="icon" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/images/favicon.png">
    <!-- System Style -->
    <link href="~/css/system.css" rel="stylesheet" />
</head>
<body class="bg-black">
    <!-- begin pre-loader -->
    <div class="loader">
        <div class="h-100 d-flex justify-content-center">
            <div class="align-self-center">
                <img src="~/img/loader/puff.svg" alt="loader">
            </div>
        </div>
    </div>
    <!-- end pre-loader -->
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/smooth-scroll/smooth-scroll.min.js"></script>
    <script src="~/js/globalHome.js"></script>
    <script src="~/js/Registro.js"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
