﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - SensRoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link href="~/css/gobalHome.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/images/favicon.png">
</head>
<body>
    <!-- begin pre-loader -->
    <div class="loader">
        <div class="h-100 d-flex justify-content-center">
            <div class="align-self-center">
                <img src="~/img/loader/puff.svg" alt="loader">
            </div>
        </div>
    </div>
    <!-- end pre-loader -->
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/smooth-scroll/smooth-scroll.min.js"></script>
    <script src="~/js/globalHome.js" asp-append-version="true"></script>


</body>
</html>
