﻿@using ProjectX.ViewModels;

@model List<OrderViewModel>
    <table class="display" id="tblOrdenes" style="margin-top:70px">
        <thead>
            <tr id="filtros"></tr>
            <tr class="bg-primary">
                <th>Id Orden</th>
                <th>Modelo</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tiempo (Hrs.)</th>
                <th>Monto Total</th>
                <th>Tipo de pago(anticipo / total)</th>
                <th>Monto recibido</th>
                <th>Monto recibido por conekta</th>
                <th>Numero de referencia de conekta</th>
                <th>quien invito a mi modelo</th>
                <th>Comisión modelo A (quien invito a mi modelo)</th>
                <th>monto correspondiente para la modelo de la orden y solo si ya está el total</th>
                <th>Empresa - cobrado - comision - monto modelo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead> modelo, clabe, monto por trabajo, monto comision a, monto comision b, total
        <tbody>
            @if (Model != null && Model.Count() != 0)
            {
                foreach (OrderViewModel order in Model)
                {
                    <tr>
                        <td>@order.Id </td>
                        <td>@(order.Asset != null ? order.Asset.Name : "")</td>
                        <td>@order.CustomerName</td>
                        <td>@(order.EventDateTime.HasValue == true ? order.EventDateTime.Value.ToString("dd/MMM/yyyy") : "")</td>
                        <td>@(order.EventDateTime.HasValue == true ? order.EventDateTime.Value.ToString("hh:mm") : "")</td>
                        <td>@order.CategoryTier.NumHours</td>
                        <td>@order.CategoryTier.Cost.ToString("C2")</td>
                        <td>@order.StatusName</td>
                        <td>
                            <a href="#" title="Revisar orden"><i class="fa fa-edit"></i></a>
                            <a href="#" title="Realizar pago a modelo"><i class="fa fa-cc-mastercard"></i></a>
                            <a href="#" title="Bonificar a cliente"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">
                        No hay órdenes registradas.
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script type="text/javascript">
    $(function () {
        showMsg('Por favor espere mientras se carga la información...', '', true);
    });
</script>