﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="manifest" href="/manifest.json">
<!-- Global site tag (gtag.js) - Google Ads: 764584653 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-764584653"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-764584653');</script>



<body class="is-preload flexfix">
    <br />
    <div class="row login-info">
        <div class="col-6 text-center">
            @Html.ActionLink("Registrarse", "TLogin", "Account", null, new { @class = "form-horizontal" })
        </div>

        @*<div class="col-6 text-center">
                <a href="#">Olvidé la contraseña</a>
            </div>*@
    </div>
    <br />

    @if (Model != null)
    {
        if (Model.Count > 0)
        {


            foreach (var item in Model)
            {

                <div class="row" onclick="dvclick()">
                    <div class="col-md-12">
                        <div class="info-box clearfix" style="background-color:transparent; border-bottom:solid">
                            <div class="col-md-2 col-xs-3 info-box-foto">
                                <div class="profile-user-img img-responsive img-circle">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Foto)" width="25" height="25">
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-9 info-box-desc">
                                <div class="info-box-content-top clearfix">
                                    <div class="col-md-6 col-xs-6 info-box-name">
                                        <h4 style="color:whitesmoke">
                                            @item.Name
                                        </h4>
                                        <xsma style="font-size:x-small">@item.Saludo</xsma>
                                    </div>
                                    <div class="col-md-6 col-xs-6 info-box-statusedad">
                                        <div class="status">


                                        </div>
                                        <div class="edad" style="font-size:small">
                                            @item.Edad años
                                        </div>
                                    </div>
                                </div>
                                <div class="info-box-content-bottom clearfix">
                                    <div class="col-md-6 col-xs-6 price " style="font-size:small">

                                    </div>
                                    <div class="col-md-6 col-xs-6 distancia" style="font-size:small">
                                        @if (item.ciudad == null || item.ciudad == string.Empty)
                                        {
                                            @item.Distancia.ToString("México");
                                        }
                                        else
                                        {

                                            @item.estado
                                        }

                                    </div>

                                    <div class="info-box-content-bottom clearfix" style="font-size:small">

                                        @for (int i = 0; i < (int)item.calificacion; i++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }

                                        @if (item.calificacion < 5)
                                        {
                                            int stars = 5 - (int)item.calificacion;
                                            for (int i = 0; i < stars; i++)
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        }
        else
        {
            <p>Por el momento no hay personas en línea cerca de ti, por favor intenta mas tarde. Estamos trabajando para que haya mas perfiles.</p>
            <p>Te sugerimos que ampliar los criterios de búsqueda en la sección de "Ajustes".</p>
        }
    }
    else
    {
        <p>Asegúrate que tu GPS este activado y que hayas aceptado el permiso de ubicación para así poder mostrar los perfiles que estan cerca de tí.</p>

    }

    <div class="row login-info">
        <div class="col-6 text-center">
            @Html.ActionLink("Registrarse", "TRegistro", "CRegistro", null, new { @class = "form-horizontal" })
        </div>

        @*<div class="col-6 text-center">
                <a href="#">Olvidé la contraseña</a>
            </div>*@
    </div>


</body>










<script>

    function dvclick() {

        alert("Para ver el perfil completo debes ser miembro SensRoom");
    }

        //var lat = null;
        //var lon = null;
        //initiate_geolocation();

        //function initiate_geolocation() {

        //    navigator.geolocation.getCurrentPosition(handle_geolocation_query, handle_errors);
        //}

        //function handle_errors(error) {
        //    alert("Tu ubicación nunca la compartiremos, pero es necesario el permiso.");

        //}


        //function validateForm() {
        //    alert("bering");
        //}


        //function handle_geolocation_query(position) {

        //    lati = position.coords.latitude;
        //    long = position.coords.longitude;

        //    var ciu = null;
        //    var est = null;
        //    var pai = null;
        //    var geocoder = new google.maps.Geocoder,
        //        latitude = lati, //sub in your latitude
        //        longitude = long, //sub in your longitude
        //        postal_code,
        //        city,
        //        state,
        //        country;

        //    geocoder.geocode({ 'location': { lat: latitude, lng: longitude } }, function (results, status) {
        //        if (status === google.maps.GeocoderStatus.OK) {
        //            results.forEach(function (element) {
        //                element.address_components.forEach(function (element2) {
        //                    element2.types.forEach(function (element3) {
        //                        switch (element3) {
        //                            case 'postal_code':
        //                                postal_code = element2.long_name;
        //                                break;
        //                            case 'administrative_area_level_1':
        //                                state = element2.long_name;
        //                                est = state;
        //                                break;
        //                            case 'locality':
        //                                city = element2.long_name;
        //                                ciu = city
        //                                break;
        //                            case 'country':
        //                                country = element2.long_name;
        //                                pai = country;
        //                                break;
        //                        }
        //                    })

        //                });

        //            });


        //        }
        //        updateLocation(city, state, country);
        //    });


        //}



</script>


