﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="manifest" href="/manifest.json">
<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
<body class="is-preload flexfix">
    <div class="main">
        <div class="container">



            <div style="margin-top:25px; line-height:20px; padding:10px">
                <h4>¿Qué es SensRoom?</h4>
                <p align="left">
                    SensRoom es una red social enfocada al entretenimiento para adultos.
                </p>
                <p align="left">
                    Los usuarios podrán mandar invitaciones a las personas de su elección.
                </p>
            </div>

            <div class="row row-tools" style="margin-top:5px; padding:10px;">
                <div class="col-md-6 col-xs-12" style="margin-bottom:15px;">
                    <button id="btnMem" class="btn btn-primary">Beneficios para miembros</button>
                </div>
                <div class="col-md-6 col-xs-12">
                    <button id="btnAsset" class="btn btn-primary">Beneficios para soci@s</button>
                </div>
            </div>

            <div style="margin-top:25px; line-height:20px; padding:10px; display:none" id="dvcustomer">

                <div class="embed-responsive embed-responsive-4by3">
                        <video controls="controls" preload="none" poster="~/Video/poster.jpg" id="ellos">
                            <source src="~/Video/paraellos.mp4" type="video/mp4" />
                        </video>
                    </div>



                @*<p align="left">
                        Las invitaciones tienen un costo de 20% de la tarifa publicada por el invitado. El 80% restante se cubrirá en efectivo al invitado justo antes de empezar el evento.
                    </p>*@
                <h4>Beneficios de la membresía SensRoom:</h4>
                <p align="left">
                    Los miembros de SensRoom tendrán la facilidad de mandar una invitación desde sus dispositivos a personas de su elección.
                </p>
                <p align="left">
                    Los miembros de SensRoom podrán filtrar sus búsquedas por ubicación, edad, sexo y costo.
                </p>
                <p align="left">
                    Los miembros de SensRoom podrán leer una breve descripción de lo que pasará en su encuentro.
                </p>
                <p align="left">
                    Los miembros de SensRoom podrán revisar perfiles de personas en ciudades diferentes a la suya, con la finalidad de programar un encuentro en viajes futuros.
                </p>
                <p align="left">
                    Sabemos que la discreción es muy importante para los miembros, por lo que en nuestras bases de datos no se guarda información sensible que pueda poner en riesgo su integridad.
                </p>
                <p align="left">
                    Los miembros podrán utilizar el chat de SensRoom para comunicarse con su invitado, de forma confidencial y segura.
                </p>
                <p align="left">
                    Ofrecemos la posibilidad de calificar la experiencia de los encuentros, con la finalidad de corregir y mejorar.
                </p>
                <p align="left">
                    La finalidad de SensRoom es ofrecer a los miembros una experiencia de lujo, esto a través del proceso de selección de perfiles.
                </p>
            </div>


            <div style="margin-top:25px; line-height:20px; padding:10px; display:none" id="dvasset">

                <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" preload="none" poster="~/Video/poster.jpg" id="ellas">
                        <source src="~/Video/paraellas.mp4" type="video/mp4" />
                    </video>
                </div>


                <h4>Beneficios de un perfil en SensRoom:</h4>
                <p align="left">
                    Independencia financiera al hacer dinero asistiendo a eventos a los que te inviten los miembros de SensRoom
                </p>
                <p align="left">
                    Tendrán la opción de aceptar o rechazar las invitaciones que les hagan llegar según les convenga, así como agendar encuentros para fechas posteriores.
                </p>
                <p align="left">
                    Sabemos que la seguridad es lo primero, es por eso que en tu perfil podrás dar de alta un número de teléfono al cual con un solo click se enviará un mensaje de alerta junto con tu ubicación para pedir ayuda.
                </p>
                <p align="left">
                    Podrás dar de baja tu perfil de la plataforma en el momento que desees.
                </p>
                <p align="left">
                    SensRoom solo cobrará el 25% de la tarifa publicada por publicidad.
                </p>
                <p align="left">
                   Adicionalmente al momento de darte de alta se generará una clave para que tú puedas invitar a otras personas a usar SensRoom y obtener comisiones.
                </p>
            </div>



            <div class="row login-info">
                <div class="col-6 text-center">
                    @Html.ActionLink("Registrarse", "CRegistro", "CRegistro", null, new { @class = "form-horizontal" })
                </div>
                <div class="col-6 text-center">
                    @*<a href="#">Olvidé la contraseña</a>*@
                </div>
            </div>
            <div class="row login-info" style="margin-bottom:25px">
                <div class="col-6 text-center">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "form-horizontal" })
                </div>
                <div class="col-6 text-center">
                    @*<a href="#">Olvidé la contraseña</a>*@
                </div>
            </div>

        </div>
    </div>

</body>

<script>
    $(document).ready(function () {

        var vEllos = $("#ellos");
        var vEllas = $("#ellas");

        $(document).on('click', '#btnMem', function () {

            $("#dvcustomer").show(300);
            $("#dvasset").hide(300);
            vEllas.get(0).pause();
        });


        $(document).on('click', '#btnAsset', function () {

            $("#dvcustomer").hide(300);
            $("#dvasset").show(300);
            vEllos.get(0).pause();
        });

    });

</script>
