﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/css/responsive.css" />
<link rel="stylesheet" href="~/Content/css/skin-luxx.css" />
<link rel="manifest" href="/manifest.json">


<div style="margin-top:25px; line-height:20px; padding:10px">
    <h4>¿Te gustaría crear un perfil y recibir invitaciones?</h4>

    <p>
        Manda un correo a atencion@sens-room.com o un whastapp al número 81 2751 8319. Te explicaremos como funciona y te daremos un código de invitacion para que puedas formar parte de SensRoom.
    </p>

    </div>